Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

coverage:
  status:
    project:
      default:
        # Allow up to 0.1% coverage drop
        threshold: 0.1%
    patch:
      default:
        # Require 90% coverage on new/changed lines
        target: 90%

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

Add opengrep convention enforcement from CLAUDE.md rules (#769)
  .claude/settings.json
  .github/workflows/go.yml
  .gitignore
  .semgrep/rules.yml
  devbox.json
  scripts/ensure_opengrep.sh
  scripts/run_lint_everything.sh
  scripts/run_opengrep_lint.sh
Due: none

Fix security hotspot: regex DoS vulnerability in wiki-client.ts (#727)
  extensions/online-order-recorder/src/wiki-client.test.ts
  extensions/online-order-recorder/src/wiki-client.ts
Due: none

Add SonarCloud CLI query scripts (#771)
  .env.example
  .gitignore
  devbox.json
  scripts/run_sonar_query.sh
Due: none

Fix #737: Fix 5 security hotspots in tailscale/identity_resolver_test.go (#751)
  sonar-project.properties
Due: none

Fix #740: Fix S6551: object stringification issues in TypeScript files (#754)
  static/js/web-components/augment-error-service.test.ts
  static/js/web-components/augment-error-service.ts
  static/js/web-components/qr-scanner.test.ts
  static/js/web-components/qr-scanner.ts
Due: javascript

Add full dark mode support with design token system (#766)
  static/css/default.css
  static/js/web-components/automagic-identifier-input.ts
  static/js/web-components/blog-new-post-dialog.ts
  static/js/web-components/chat-message-bubble.ts
  static/js/web-components/collapsible-heading.ts
  static/js/web-components/confirmation-dialog.ts
  static/js/web-components/editor-toolbar.ts
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/frontmatter-key.ts
  static/js/web-components/frontmatter-value-array.ts
  static/js/web-components/frontmatter-value.ts
  static/js/web-components/insert-new-page-dialog.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/inventory-qr-scanner.ts
  static/js/web-components/page-chat-panel.ts
  static/js/web-components/shared-styles.ts
  static/js/web-components/system-info.ts
  static/js/web-components/table-filter-popover.ts
  static/js/web-components/toast-message.ts
  static/js/web-components/wiki-blog.ts
  static/js/web-components/wiki-checklist.ts
  static/js/web-components/wiki-editor.ts
  static/js/web-components/wiki-search-results.ts
  static/js/web-components/wiki-search.ts
  static/js/web-components/wiki-table.ts
  static/templates/index.tmpl
Due: javascript

Fix #748: Add keyboard navigation and ARIA attributes to confirmation-interlock-button (#762)
  static/js/web-components/confirmation-interlock-button.test.ts
  static/js/web-components/confirmation-interlock-button.ts
Due: javascript

Fix CI lint issues: constants, receiver names, errcheck
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  internal/grpc/api/v1/chat_test.go
Due: go

Fix 4 code review issues: error hiding, starting state, error swallow, tests
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/pool_test.go
  internal/grpc/api/v1/chat.go
  pkg/chatbuffer/buffer_test.go
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Add per-page chat instance pool with frontmatter context injection
  api/proto/api/v1/chat.proto
  cmd/wiki-cli/main.go
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/mcp_test.go
  cmd/wiki-cli/pool.go
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  pkg/chatbuffer/buffer.go
  static/js/gen/api/v1/chat_pb.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Suppress S1192 (string duplication) in test files
  sonar-project.properties
Due: none

Suppress S1192 (string duplication) in test files (#774)
  api/proto/api/v1/chat.proto
  cmd/wiki-cli/main.go
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/mcp_test.go
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  pkg/chatbuffer/buffer.go
  pkg/chatbuffer/buffer_test.go
  sonar-project.properties
  static/js/gen/api/v1/chat_pb.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Fix dark mode: dialog backgrounds and item_content contrast (#773)
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-import-dialog.ts
  static/js/web-components/wiki-search-results.ts
Due: javascript

Add per-page chat instance pool with frontmatter context injection
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
Due: go

Address review feedback: TTL check, spawn-before-evict, context inheritance
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  pkg/chatbuffer/buffer.go
Due: go

Increase test coverage and address remaining review feedback
  internal/grpc/api/v1/chat_test.go
Due: go

Fix SonarCloud security hotspot: use absolute paths for systemd binaries
  cmd/wiki-cli/pool.go
Due: go

Extract instanceSpawner interface for testable pool daemon
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
Due: go

Fix unhandled promise rejection in InsertNewPageDialog.openDialog() (#776)
  static/js/web-components/insert-new-page-dialog.ts
Due: javascript
