Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

Update ADR-0007 to align with current implementation
  docs/adrs/0007-observability-architecture.md
Due: none

Fix outdated method name in CONVENTIONS.md
  CONVENTIONS.md
Due: none

Fix frontmatter indexing and template rendering for metrics page
  index/frontmatter/index.go
  internal/observability/wiki_metrics_recorder.go
  internal/observability/wiki_metrics_recorder_test.go
Due: go

Improve metrics recorder with proper error handling and dirty flag
  .claude/hookify.require-code-review-before-commit.local.md
  .claude/settings.json
  devbox.lock
  internal/bootstrap/server.go
  internal/grpc/api/v1/inventory.go
  internal/observability/wiki_metrics_recorder.go
  internal/observability/wiki_metrics_recorder_test.go
  server/inventory.go
  server/inventory_normalizer.go
  server/site.go
  wikipage/page.go
Due: go

Unify Tailscale metrics types and require metrics in constructor
  internal/bootstrap/server.go
  internal/observability/request_counter.go
  internal/observability/request_counter_test.go
  server/handlers_web.go
  tailscale/doc.go
  tailscale/middleware.go
  tailscale/middleware_test.go
  tailscale/test_helpers_test.go
Due: go

Fix critical issues from expert panel review
  internal/bootstrap/server.go
  internal/observability/constants.go
  internal/observability/grpc_interceptor.go
  internal/observability/grpc_interceptor_test.go
  internal/observability/wiki_metrics_recorder.go
  internal/observability/wiki_metrics_recorder_test.go
  main.go
  tailscale/doc.go
  tailscale/interceptor.go
  tailscale/interceptor_test.go
  tailscale/middleware.go
Due: go

Address PR review comments
  CONVENTIONS.md
  docs/adrs/0007-observability-architecture.md
  go.mod
  go.sum
  internal/grpc/api/v1/inventory.go
  internal/observability/doc.go
  internal/observability/grpc_metrics.go
  internal/observability/otel.go
  internal/observability/wiki_metrics_recorder.go
  server/inventory.go
  server/inventory_normalizer.go
  server/site.go
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdoutmetric/LICENSE
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdoutmetric/README.md
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdoutmetric/config.go
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdoutmetric/doc.go
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdoutmetric/encoder.go
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdoutmetric/exporter.go
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdouttrace/LICENSE
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdouttrace/README.md
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdouttrace/config.go
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdouttrace/doc.go
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdouttrace/internal/counter/counter.go
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdouttrace/internal/x/README.md
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdouttrace/internal/x/x.go
  vendor/go.opentelemetry.io/otel/exporters/stdout/stdouttrace/trace.go
  vendor/go.opentelemetry.io/otel/sdk/trace/tracetest/README.md
  vendor/go.opentelemetry.io/otel/sdk/trace/tracetest/exporter.go
  vendor/go.opentelemetry.io/otel/sdk/trace/tracetest/recorder.go
  vendor/go.opentelemetry.io/otel/sdk/trace/tracetest/span.go
  vendor/modules.txt
Due: go

Add tests for observability metrics types
  internal/observability/grpc_metrics_test.go
  internal/observability/http_metrics_test.go
  internal/observability/tailscale_metrics_test.go
Due: go

Add proper assertions to observability metrics tests
  internal/observability/grpc_metrics_test.go
  internal/observability/http_metrics_test.go
  internal/observability/tailscale_metrics_test.go
  internal/observability/test_helpers_test.go
Due: go

Refactor observability tests to comply with test structure conventions
  internal/observability/grpc_metrics_test.go
  internal/observability/http_metrics_test.go
Due: go

Fix markdown formatting in ADR-0007
  docs/adrs/0007-observability-architecture.md
Due: none

Add test for GinRouter middleware parameter
  server/handlers_test.go
Due: go

Add test coverage to observability package
  internal/observability/grpc_interceptor_test.go
  internal/observability/otel_test.go
  internal/observability/wiki_metrics_recorder_test.go
Due: go

Add read error path tests for WikiMetricsRecorder
  internal/observability/wiki_metrics_recorder_test.go
Due: go

Refactor WikiMetricsRecorder tests to follow CONVENTIONS.md
  internal/observability/wiki_metrics_recorder_test.go
Due: go

Fix unchecked type assertion linter warnings
  internal/observability/wiki_metrics_recorder_test.go
Due: go

Add test coverage for url_params.go conflict detection paths
  server/url_params_test.go
Due: go

feat: Add QR code scanner to inventory move dialog
  CONVENTIONS.md
  static/js/bun.lock
  static/js/package.json
  static/js/utils/wiki-url-parser.test.ts
  static/js/utils/wiki-url-parser.ts
  static/js/web-components/inventory-move-item-dialog.test.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/qr-scanner.stories.ts
  static/js/web-components/qr-scanner.test.ts
  static/js/web-components/qr-scanner.ts
Due: javascript

feat: Improve QR scanner UX and fix protobuf type safety
  .claude/hookify.require-code-review-before-commit.local.md
  buf.gen.yaml
  static/js/gen/api/v1/frontmatter_connect.ts
  static/js/gen/api/v1/frontmatter_pb.ts
  static/js/gen/api/v1/inventory_connect.ts
  static/js/gen/api/v1/inventory_pb.ts
  static/js/gen/api/v1/page_management_connect.ts
  static/js/gen/api/v1/page_management_pb.ts
  static/js/gen/api/v1/search_connect.ts
  static/js/gen/api/v1/search_pb.ts
  static/js/gen/api/v1/system_info_connect.ts
  static/js/gen/api/v1/system_info_pb.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/qr-scanner.stories.ts
  static/js/web-components/qr-scanner.ts
  static/js/web-components/shared-styles.ts
Due: javascript

Convert system-panel to drawer tab with visible INFO label (#207)
  static/js/web-components/system-info.stories.ts
  static/js/web-components/system-info.test.ts
  static/js/web-components/system-info.ts
Due: javascript

refactor: Consolidate dialog styles and improve QR scanner
  static/js/utils/wiki-url-parser.ts
  static/js/web-components/inventory-add-item-dialog.test.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.test.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/qr-scanner.test.ts
  static/js/web-components/qr-scanner.ts
  static/js/web-components/shared-styles.ts
Due: javascript

Remove Chromatic visual regression testing integration (#213)
  .github/workflows/chromatic.yml
  .github/workflows/copilot-setup-steps.yml
  AGENTS.md
  CONVENTIONS.md
  devbox.json
Due: none

refactor: Extract inventory-qr-scanner as reusable component
  static/js/utils/wiki-url-parser.test.ts
  static/js/web-components/inventory-move-item-dialog.test.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/inventory-qr-scanner.test.ts
  static/js/web-components/inventory-qr-scanner.ts
  static/js/web-components/qr-scanner.ts
Due: javascript

fix: Keep errors as Error objects throughout inventory components
  CONVENTIONS.md
  static/js/web-components/inventory-action-service.test.ts
  static/js/web-components/inventory-action-service.ts
  static/js/web-components/inventory-add-item-dialog.test.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.ts
Due: javascript

fix: Address PR review comments on qr-scanner
  static/js/web-components/qr-scanner.test.ts
  static/js/web-components/qr-scanner.ts
Due: javascript

fix: Make underscore-prefixed handlers private and fix CONVENTIONS.md example
  CONVENTIONS.md
  static/js/web-components/inventory-move-item-dialog.test.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/inventory-qr-scanner.test.ts
  static/js/web-components/inventory-qr-scanner.ts
  static/js/web-components/qr-scanner.stories.ts
Due: javascript

feat: Add QR code scanner to inventory move dialog (#209)
  .claude/hookify.require-code-review-before-commit.local.md
  CONVENTIONS.md
  buf.gen.yaml
  static/js/bun.lock
  static/js/gen/api/v1/frontmatter_connect.ts
  static/js/gen/api/v1/frontmatter_pb.ts
  static/js/gen/api/v1/inventory_connect.ts
  static/js/gen/api/v1/inventory_pb.ts
  static/js/gen/api/v1/page_management_connect.ts
  static/js/gen/api/v1/page_management_pb.ts
  static/js/gen/api/v1/search_connect.ts
  static/js/gen/api/v1/search_pb.ts
  static/js/gen/api/v1/system_info_connect.ts
  static/js/gen/api/v1/system_info_pb.ts
  static/js/package.json
  static/js/utils/wiki-url-parser.test.ts
  static/js/utils/wiki-url-parser.ts
  static/js/web-components/inventory-action-service.test.ts
  static/js/web-components/inventory-action-service.ts
  static/js/web-components/inventory-add-item-dialog.test.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.test.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/inventory-qr-scanner.test.ts
  static/js/web-components/inventory-qr-scanner.ts
  static/js/web-components/qr-scanner.stories.ts
  static/js/web-components/qr-scanner.test.ts
  static/js/web-components/qr-scanner.ts
  static/js/web-components/shared-styles.ts
Due: javascript

fix: Disable Shadow DOM in inventory-qr-scanner for camera to work
  static/js/web-components/inventory-qr-scanner.test.ts
  static/js/web-components/inventory-qr-scanner.ts
Due: javascript

fix: QR scanner camera not working due to Shadow DOM
  static/js/web-components/inventory-qr-scanner.test.ts
  static/js/web-components/inventory-qr-scanner.ts
  static/js/web-components/qr-scanner.test.ts
  static/js/web-components/qr-scanner.ts
Due: javascript

test: Add coverage for MungeIdentifier error paths
  internal/grpc/api/v1/inventory_test.go
  internal/grpc/api/v1/server_test.go
  migrations/eager/file_shadowing_migration_scan_job_test.go
  migrations/eager/migration_test_support.go
  server/inventory_normalization_job_test.go
Due: go

fix: Address PR review feedback for identifier munging
  migrations/eager/file_shadowing_migration.go
  server/inventory_normalizer.go
  server/inventory_normalizer_test.go
Due: go

refactor: Address expert panel code review feedback
  migrations/eager/file_shadowing_migration.go
  migrations/eager/file_shadowing_migration_job_test.go
  migrations/eager/file_shadowing_migration_scan_job_test.go
  migrations/eager/json_archive_migration.go
  migrations/eager/json_archive_migration_test.go
  server/inventory_normalizer.go
  server/inventory_normalizer_test.go
  server/site.go
Due: go

test: Add coverage for edge cases in migration code
  migrations/eager/file_shadowing_migration_job_test.go
  migrations/eager/file_shadowing_migration_scan_job_test.go
  migrations/eager/migration_test_support.go
Due: go

Add codecov thresholds and constructor validation tests
  codecov.yml
  server/inventory_normalization_job.go
  server/inventory_normalization_job_test.go
  server/inventory_normalizer_test.go
  server/site.go
Due: go

fix: Address review comments for QR scanner portal implementation
  static/js/web-components/inventory-qr-scanner.test.ts
  static/js/web-components/qr-scanner.ts
Due: javascript

chore: Set codecov threshold to 0.02%
  codecov.yml
Due: none

Adjust codecov threshold to 0.02%
  codecov.yml
Due: none

Update codecov project threshold to 0.1%
  codecov.yml
Due: none

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
