Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

coverage:
  status:
    project:
      default:
        # Allow up to 0.1% coverage drop
        threshold: 0.1%
    patch:
      default:
        # Require 90% coverage on new/changed lines
        target: 90%

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

docs(help_mcp): public gateway endpoint is the route path itself (no /mcp suffix)
  internal/syspage/embedded/help_mcp.md
Due: none

feat(wiki-cli): in-binary self-update on version mismatch
  cmd/wiki-cli/exec_unix.go
  cmd/wiki-cli/main.go
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/selfupdate.go
  cmd/wiki-cli/selfupdate_test.go
Due: go

fix(wiki-cli): serve windows binary name with .exe suffix in self-update
  cmd/wiki-cli/selfupdate.go
Due: go

feat(wiki-cli): A2A Protocol server for one-shot delegated tasks
  cmd/wiki-cli/a2a.go
  cmd/wiki-cli/a2a_test.go
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/scheduled_turn.go
Due: go

refactor(wiki-cli): selfUpdate returns (bool, error) instead of sentinel error
  cmd/wiki-cli/main.go
  cmd/wiki-cli/selfupdate.go
  cmd/wiki-cli/selfupdate_test.go
Due: go

refactor(wiki-cli): clear lint findings in a2a and selfupdate code
  cmd/wiki-cli/a2a.go
  cmd/wiki-cli/a2a_test.go
  cmd/wiki-cli/main.go
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/selfupdate.go
Due: go

chore: clear pre-existing staticcheck/opengrep findings blocking CI
  index/history/index.go
  server/pagestore/history.go
Due: go

fix(pagestore): share one ULID generator per Store to keep history ordered
  server/pagestore/history.go
  server/pagestore/store.go
Due: go

refactor: agent identity is deployment config — remove personal-assistant names from code
  .semgrep/rules.yml
  cmd/wiki-cli/a2a.go
  cmd/wiki-cli/a2a_test.go
  cmd/wiki-cli/pool.go
  main.go
  server/handlers_test.go
  static/js/web-components/chat-message-bubble.stories.ts
  static/js/web-components/page-chat-panel.stories.ts
Due: javascript, go

feat(a2a): tailnet-trust dispatch — drop the bearer-token requirement
  cmd/wiki-cli/a2a.go
  cmd/wiki-cli/a2a_test.go
Due: go

feat(a2a): conversation continuation per spec §3.4.3 — contextId-scoped session registry
  cmd/wiki-cli/a2a.go
  cmd/wiki-cli/a2a_test.go
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/scheduled_turn.go
Due: go

fix(a2a): fail-closed auth on every dispatch (Brendan's final directive)
  cmd/wiki-cli/a2a.go
  cmd/wiki-cli/a2a_test.go
Due: go

fix(a2a): reaper skips busy sessions (defers reap while mid-Prompt)
  cmd/wiki-cli/a2a.go
Due: go

fix(a2a): make busy-check and eviction atomic in the session reaper
  cmd/wiki-cli/a2a.go
Due: go

fix(a2a): atomic busy-check + eviction in reaper; regression test
  cmd/wiki-cli/a2a.go
  cmd/wiki-cli/a2a_test.go
Due: go

fix(a2a): correct overflow-count arithmetic in session reaper
  cmd/wiki-cli/a2a.go
Due: go

feat(a2a): persist task results across restarts — sweep in-flight rows to a truthful terminal state
  cmd/wiki-cli/a2a.go
  cmd/wiki-cli/a2a_test.go
  cmd/wiki-cli/pool.go
Due: go

test(a2a): drop loadOnly double-load in persistence tests
  cmd/wiki-cli/a2a_test.go
Due: go

A2A Protocol server for one-shot delegated tasks (wiki-cli pool) (#1168)
  .semgrep/rules.yml
  cmd/wiki-cli/a2a.go
  cmd/wiki-cli/a2a_test.go
  cmd/wiki-cli/exec_unix.go
  cmd/wiki-cli/main.go
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/scheduled_turn.go
  cmd/wiki-cli/selfupdate.go
  cmd/wiki-cli/selfupdate_test.go
  index/history/index.go
  internal/syspage/embedded/help_mcp.md
  main.go
  server/handlers_test.go
  server/pagestore/history.go
  server/pagestore/store.go
  static/js/web-components/chat-message-bubble.stories.ts
  static/js/web-components/page-chat-panel.stories.ts
Due: javascript, go

fix: per-task a2a deadlines + live progress on tasks/get
  cmd/wiki-cli/a2a.go
  cmd/wiki-cli/a2a_test.go
  cmd/wiki-cli/pool.go
Due: go

fix: raise default a2a task timeout to 30m + cap progress text
  cmd/wiki-cli/a2a.go
  cmd/wiki-cli/a2a_test.go
Due: go

test(e2e): percent-encode gpx hash in gps-tracks download href assertion
  e2e/tests/gps-tracks.spec.ts
Due: none

refactor(a2a): extract installProgressSink + name ParseFloat bit size (lint)
  cmd/wiki-cli/a2a.go
Due: go

test(e2e): F4 targets the product's tag control, not Leaflet's built-in layers control
  e2e/tests/gps-tracks.spec.ts
Due: none

fix(map): tag panel closes on its own clicks — shadow-DOM retargeting + attribution z-index
  static/js/web-components/wiki-map.ts
Due: javascript

test: cover bufferEventToProto turn-status/background-task, runEvalGrid/runSingleConfig, and main() dry-run for SonarCloud new_coverage gate
  eval/cmd/main_entry_test.go
  eval/cmd/run_grid_test.go
  internal/grpc/api/v1/chat_event_proto_internal_test.go
Due: go

ci(mutation): hard-guard mutation job against reruns
  .github/workflows/go.yml
Due: none

test(a2a): silence errcheck on dispatchNotification body close
  cmd/wiki-cli/a2a_test.go
Due: go

fix(quality-gate): clear main reliability+security gate failures (void floating promises, localeCompare sort)
  static/js/web-components/page-chat-panel.ts
  static/js/web-components/wiki-map.ts
Due: javascript

fix(quality-gate): clear main's reliability+security gate failures (red-main hotfix) (#1183)
  static/js/web-components/page-chat-panel.ts
  static/js/web-components/wiki-map.ts
Due: javascript

fix(a2a): handle $/cancel_request notification to cancel in-flight tasks (closes #1170) (#1175)
  cmd/wiki-cli/a2a.go
  cmd/wiki-cli/a2a_test.go
Due: go

ci(mutation): hard-guard mutation job against reruns (closes #1181) (#1182)
  .github/workflows/go.yml
Due: none

test: use .to.equal(true) to satisfy no-unused-expressions (CodeFactor)
  static/js/web-components/agent-details-dialog.test.ts
Due: javascript

fix: add SCHEDULE_STATUS_MAX_TURNS distinct from SCHEDULE_STATUS_TIMEOUT (closes #1171) (#1174)
  api/proto/api/v1/agent_metadata.proto
  cmd/wiki-cli/scheduled_turn.go
  gen/go/api/v1/agent_metadata.pb.go
  gen/go/api/v1/apiv1mcp/agent_metadata.pb.mcp.go
  gen/go/api/v1/apiv1mcp/scheduled_turn.pb.mcp.go
  internal/syspage/embedded/help_scheduled_agents.md
  server/agent_chat_context_store.go
  server/agent_chat_context_store_test.go
  server/agent_schedule_store.go
  server/agent_schedule_store_test.go
  server/agent_turn_job.go
  server/agent_turn_job_test.go
  server/schedule_state_machine.go
  server/schedule_state_machine_test.go
  static/js/gen/api/v1/agent_metadata_pb.ts
  static/js/web-components/agent-details-dialog.test.ts
  static/js/web-components/agent-details-dialog.ts
Due: javascript, go

fix(a2a): address Copilot review: 30m default comment, clamp-aware error msg, nil-safe test AfterEach
  cmd/wiki-cli/a2a.go
  cmd/wiki-cli/a2a_test.go
Due: go

fix(a2a): per-task deadlines + 30m default timeout + capped progress text (rescue of deployed fix/a2a-task-timeout-overrides) (#1180)
  cmd/wiki-cli/a2a.go
  cmd/wiki-cli/a2a_test.go
  cmd/wiki-cli/pool.go
Due: go

test(frontmatter): capture QueryKeyExistence in BeforeEach per It-assertion-only convention (Copilot review)
  index/frontmatter/index_test.go
Due: go
