Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

feat(checklistmutator): emit op-log events on every mutation path (15b)
  internal/connectors/google_keep/sync/connector.go
  internal/connectors/google_tasks/sync/connector.go
  server/checklistmutator/mutator.go
  server/checklistmutator/mutator_test.go
  server/checklistmutator/source.go
  server/checklistmutator/sync_helpers.go
Due: go

feat(checklistmutator): backfill baseline events on first read (15c)
  server/checklistmutator/codec.go
  server/checklistmutator/codec_test.go
Due: go

feat(connectors/engine): introduce shared causal-divergence classifier (15d)
  internal/connectors/engine/classify.go
  internal/connectors/engine/classify_test.go
Due: go

fix(tasks/sync): mirror Tasks-side rename into RemoteListTitle each tick
  internal/connectors/google_tasks/sync/connector.go
  internal/connectors/google_tasks/sync/lifecycle.go
  internal/connectors/google_tasks/sync/sync_test.go
Due: go

fix(engine/classify): migration: src is non-divergent (per ADR-0015)
  internal/connectors/engine/classify.go
  internal/connectors/engine/classify_test.go
Due: go

feat(tasks/sync): wire engine.Classify; replace value-fingerprint guard (15f)
  internal/connectors/google_tasks/sync/connector.go
  internal/connectors/google_tasks/sync/fakes_for_test.go
  internal/connectors/google_tasks/sync/store.go
  internal/connectors/google_tasks/sync/sync_test.go
  internal/connectors/google_tasks/sync/types.go
Due: go

feat(keep/sync): track LastSyncedSeq per binding (15e + 15g)
  internal/connectors/google_keep/sync/connector.go
  internal/connectors/google_keep/sync/subscriptions.go
Due: go

docs(adr): convert ADR-0015 tables to bullet lists for markdownlint
  docs/adrs/0015-per-checklist-operation-log.md
Due: none

fix(tasks/sync): emit op-log events from outbound push; choke 25s→5s
  internal/connectors/google_tasks/sync/connector.go
  internal/connectors/google_tasks/sync/fakes_for_test.go
  internal/connectors/google_tasks/sync/iface.go
  server/checklistmutator/sync_helpers.go
Due: go

feat(connectors): require FetchRemoteListTitle on BackendAdapter
  internal/connectors/adapter.go
  internal/connectors/google_keep/sync/connector.go
  internal/connectors/google_keep/sync/iface.go
  internal/connectors/google_tasks/sync/connector.go
  internal/connectors/google_tasks/sync/lifecycle.go
Due: go

chore(tasks/sync): remove dead fetchRemoteTitle; allow runSyncPasses cognitive complexity
  internal/connectors/google_tasks/sync/connector.go
  internal/connectors/google_tasks/sync/lifecycle.go
Due: go

fix(grpc/connector): log full error chain before mapXConnectorErr at every call site
  internal/grpc/api/v1/connector_service.go
Due: go

fix(tasks/translator): drop wiki:uid marker from outbound notes; keep strip-on-read
  internal/connectors/google_tasks/sync/sync_test.go
  internal/connectors/google_tasks/translator/mapping.go
  internal/connectors/google_tasks/translator/mapping_test.go
Due: go

refactor(tasks/sync): extract runSyncPasses helpers; drop cognitive-complexity suppression
  internal/connectors/google_tasks/sync/connector.go
  scripts/check_lint_suppressions.sh
Due: go

feat(hooks): wire check-lint-suppressions.sh into PostToolUse
  .claude/hooks/check-lint-suppressions.sh
  .claude/settings.json
Due: none

refactor(connectors): hoist string constants + extract subscription helpers
  internal/connectors/google_tasks/sync/connector.go
  internal/grpc/api/v1/connector_service.go
Due: go

fix(lint): satisfy revive nested-structs + godox; mirror Tasks gateway shape
  internal/connectors/google_keep/gateway/client.go
  internal/connectors/google_keep/sync/connector.go
  internal/connectors/google_keep/sync/iface.go
  internal/connectors/google_tasks/sync/connector.go
  internal/connectors/google_tasks/sync/sync_test.go
  internal/grpc/api/v1/connector_service_keep_err_mapper_test.go
Due: go

test(keep/sync): cover Kind/Sync/PausedReason/ForceFullResync/FetchRemoteListTitle
  internal/connectors/google_keep/sync/connector_coverage_test.go
Due: go

chore(sonar): exclude cmd/tasks-debug + cmd/connector-roundtrip-test
  sonar-project.properties
Due: none

style(test): drop trailing blank line in PausedReason describe block
  internal/connectors/google_keep/sync/connector_coverage_test.go
Due: go

fix(renderer): alert [!TYPE] marker leaks !TYPE] into rendered content (#1015)
  utils/goldmarkrenderer/alert_node.go
  utils/goldmarkrenderer/goldmark_renderer_test.go
Due: go

fix(deploy): envsubst simple_wiki.service in release.yml's deploy job
  .github/workflows/release.yml
Due: none

feat(ux): in-card reconnect CTA + why-explanation when Tasks paused
  static/js/web-components/google-tasks-connect.test.ts
  static/js/web-components/google-tasks-connect.ts
Due: javascript

fix(deploy): envsubst simple_wiki.service in release.yml's Deploy job (#1025)
  .github/workflows/release.yml
Due: none

feat(ux): in-card reconnect CTA + why-explanation when Google Tasks paused (#1026)
  static/js/web-components/google-tasks-connect.test.ts
  static/js/web-components/google-tasks-connect.ts
Due: javascript

fix(ui): paused banners use real theme tokens (readable in dark mode)
  static/js/web-components/google-tasks-connect.ts
  static/js/web-components/profile-paused-banner.ts
Due: javascript

fix(ui): paused banners readable in dark mode (use real theme tokens) (#1027)
  static/js/web-components/google-tasks-connect.ts
  static/js/web-components/profile-paused-banner.ts
Due: javascript

docs(connectors): add MATRIX.md audit for SyncEngine extraction
  internal/connectors/MATRIX.md
Due: none

refactor(connectors): grow BackendAdapter to the audited contract
  internal/connectors/adapter.go
  internal/connectors/google_keep/sync/adapter_stubs.go
  internal/connectors/google_tasks/sync/adapter_stubs.go
Due: go

docs(adr): revise 0011/0012/0015 for engine extraction + Bind verb
  docs/adrs/0011-checklist-binding-aggregate.md
  docs/adrs/0011-checklist-subscription-aggregate.md
  docs/adrs/0012-connector-abstraction.md
  docs/adrs/0015-per-checklist-operation-log.md
Due: none

feat(connectors/engine): Phase 2 skeleton — Engine struct, ports, FakeAdapter
  internal/connectors/engine/bind.go
  internal/connectors/engine/dead_letter.go
  internal/connectors/engine/engine.go
  internal/connectors/engine/force_resync.go
  internal/connectors/engine/ports.go
  internal/connectors/engine/precondition_recovery.go
  internal/connectors/engine/reconcile.go
  internal/connectors/engine/resume.go
  internal/connectors/engine/sync_debouncer.go
  internal/connectors/engine/testing/fake_adapter.go
  internal/connectors/engine/testing/fake_adapter_test.go
  internal/connectors/engine/title_sync.go
  internal/connectors/engine/unbind.go
Due: go

feat(connectors/engine): implement Engine.Unbind under TDD
  internal/connectors/engine/testing/fake_binding_store.go
  internal/connectors/engine/unbind.go
  internal/connectors/engine/unbind_test.go
Due: go

chore(hooks): add Stop hook to verify halts are justified
  .claude/hooks/halt-verification-reminder.sh
  .claude/settings.json
Due: none

feat(connectors/engine): implement Bind ceremony under TDD
  internal/connectors/engine/bind.go
  internal/connectors/engine/bind_test.go
  internal/connectors/engine/testing/fake_clock.go
Due: go

feat(connectors/engine): implement ForceFullResync under TDD
  internal/connectors/engine/force_resync.go
  internal/connectors/engine/force_resync_test.go
Due: go

feat(connectors/engine): implement pause/resume state machine under TDD
  internal/connectors/engine/export_test.go
  internal/connectors/engine/resume.go
  internal/connectors/engine/resume_test.go
Due: go

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
