Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

Fix #748: Add keyboard navigation and ARIA attributes to confirmation-interlock-button (#762)
  static/js/web-components/confirmation-interlock-button.test.ts
  static/js/web-components/confirmation-interlock-button.ts
Due: javascript

Add SonarCloud CLI query scripts (#771)
  .env.example
  .gitignore
  devbox.json
  scripts/run_sonar_query.sh
Due: none

Add full dark mode support with design token system (#766)
  static/css/default.css
  static/js/web-components/automagic-identifier-input.ts
  static/js/web-components/blog-new-post-dialog.ts
  static/js/web-components/chat-message-bubble.ts
  static/js/web-components/collapsible-heading.ts
  static/js/web-components/confirmation-dialog.ts
  static/js/web-components/editor-toolbar.ts
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/frontmatter-key.ts
  static/js/web-components/frontmatter-value-array.ts
  static/js/web-components/frontmatter-value.ts
  static/js/web-components/insert-new-page-dialog.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/inventory-qr-scanner.ts
  static/js/web-components/page-chat-panel.ts
  static/js/web-components/shared-styles.ts
  static/js/web-components/system-info.ts
  static/js/web-components/table-filter-popover.ts
  static/js/web-components/toast-message.ts
  static/js/web-components/wiki-blog.ts
  static/js/web-components/wiki-checklist.ts
  static/js/web-components/wiki-editor.ts
  static/js/web-components/wiki-search-results.ts
  static/js/web-components/wiki-search.ts
  static/js/web-components/wiki-table.ts
  static/templates/index.tmpl
Due: javascript

Suppress S1192 (string duplication) in test files (#774)
  api/proto/api/v1/chat.proto
  cmd/wiki-cli/main.go
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/mcp_test.go
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  pkg/chatbuffer/buffer.go
  pkg/chatbuffer/buffer_test.go
  sonar-project.properties
  static/js/gen/api/v1/chat_pb.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Fix #740: Fix S6551: object stringification issues in TypeScript files (#754)
  static/js/web-components/augment-error-service.test.ts
  static/js/web-components/augment-error-service.ts
  static/js/web-components/qr-scanner.test.ts
  static/js/web-components/qr-scanner.ts
Due: javascript

Fix dark mode: dialog backgrounds and item_content contrast (#773)
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-import-dialog.ts
  static/js/web-components/wiki-search-results.ts
Due: javascript

Fix unhandled promise rejection in InsertNewPageDialog.openDialog() (#776)
  static/js/web-components/insert-new-page-dialog.ts
Due: javascript

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
