Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

coverage:
  status:
    project:
      default:
        # Allow up to 0.1% coverage drop
        threshold: 0.1%
    patch:
      default:
        # Require 90% coverage on new/changed lines
        target: 90%

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

fix(keep): epoch-zero sentinel only matches exact 0.000Z, not millisecond offsets
  cmd/keep-debug/main.go
  internal/keep/protocol/client.go
Due: go

fix(keep): gate uses max(updated,userEdited); userEdited carries phone toggles
  internal/keep/bridge/connector.go
Due: go

fix(keep): skip pushing items whose content matches Keep's view (500 root cause)
  cmd/keep-debug/main.go
  internal/keep/bridge/connector.go
  internal/keep/protocol/client.go
Due: go

docs(keep): canonical quirks reference at internal/keep/protocol/REFERENCE.md
  internal/keep/protocol/REFERENCE.md
Due: none

debug(keep): log content-equality gate diffs
  internal/keep/bridge/connector.go
Due: go

fix(keep): soft-delete uses Deleted not Trashed timestamp (500 root cause)
  cmd/keep-debug/main.go
  internal/keep/bridge/connector.go
  internal/keep/protocol/REFERENCE.md
  internal/keep/protocol/client.go
Due: go

fix(keep): skip soft-delete for items already gone from Keep
  cmd/keep-debug/main.go
  internal/keep/bridge/connector.go
Due: go

fix(keep): anchor inbound apply on LastPushedAt, not per-item timestamps
  cmd/keep-debug/main.go
  internal/keep/bridge/MATRIX.md
  internal/keep/bridge/bindings.go
  internal/keep/bridge/connector.go
  internal/keep/bridge/sync_test.go
Due: go

feat(keep): attribute inbound sync to binding owner's email
  internal/keep/bridge/connector.go
  internal/keep/bridge/sync_test.go
  server/checklistmutator/sync_helpers.go
Due: go

fix(keep): handle Keep-side hard-deletes; render attribution as the user
  internal/keep/bridge/connector.go
  internal/keep/bridge/sync_test.go
  server/checklistmutator/sync_helpers.go
  server/checklistmutator/sync_helpers_test.go
Due: go

fix(keep): page-tag → Keep-Label sync reads inline #hashtag content
  internal/keep/bridge/bindings_test.go
  internal/keep/bridge/connector.go
  internal/keep/bridge/sync_test.go
Due: go

refactor(keep): introduce ItemBinding + Fingerprint scaffolding (tasks 71-73)
  internal/keep/bridge/bindings.go
  internal/keep/bridge/bindings_test.go
  internal/keep/bridge/connector.go
  internal/keep/bridge/mapping.go
  internal/keep/bridge/mapping_test.go
  internal/keep/bridge/sync_test.go
Due: go

feat(keep): content-fingerprint sync engine + eager migration + observability (tasks 74-83)
  api/proto/api/v1/keep_connector.proto
  cmd/keep-debug/main.go
  gen/go/api/v1/apiv1connect/keep_connector.connect.go
  gen/go/api/v1/apiv1mcp/keep_connector.pb.mcp.go
  gen/go/api/v1/keep_connector.pb.go
  gen/go/api/v1/keep_connector_grpc.pb.go
  internal/bootstrap/server.go
  internal/grpc/api/v1/keep_connector.go
  internal/grpc/api/v1/keep_connector_test.go
  internal/keep/bridge/MATRIX.md
  internal/keep/bridge/bindings.go
  internal/keep/bridge/bindings_test.go
  internal/keep/bridge/connector.go
  internal/keep/bridge/dead_letter_test.go
  internal/keep/bridge/metrics.go
  internal/keep/bridge/sync_test.go
  internal/keep/protocol/client.go
  internal/keep/protocol/client_test.go
  internal/keep/protocol/types.go
  migrations/eager/keep_bridge_fingerprint_migration.go
  migrations/eager/keep_bridge_fingerprint_migration_test.go
  static/js/gen/api/v1/keep_connector_pb.ts
  static/js/web-components/keep-connect.ts
  vendor/google.golang.org/protobuf/types/known/emptypb/empty.pb.go
  vendor/modules.txt
Due: javascript, go

chore(keep): lint cleanup post sync-engine rewrite
  internal/keep/bridge/MATRIX.md
  internal/keep/bridge/sync_test.go
  internal/keep/protocol/client.go
Due: go

chore(keep): rephrase TODO comment to clear no-warning-comments lint
  static/js/web-components/keep-connect.ts
Due: javascript

fix(keep): class-4 hard-delete must not fire on incremental pulls (data-loss bugfix)
  internal/keep/bridge/connector.go
  internal/keep/bridge/sync_test.go
  internal/keep/protocol/client.go
  internal/keep/protocol/client_test.go
  internal/keep/protocol/types.go
  migrations/eager/keep_bridge_fingerprint_migration_test.go
Due: go

fix(keep): persist BaseVersion+ClientID+LabelIDs across incremental pulls
  internal/keep/bridge/bindings.go
  internal/keep/bridge/bindings_test.go
  internal/keep/bridge/connector.go
  internal/keep/bridge/sync_test.go
  migrations/eager/keep_bridge_fingerprint_migration_test.go
Due: go

fix(keep): LIST node id != serverId + case-insensitive label lookup (verified live)
  cmd/keep-debug/main.go
  internal/keep/bridge/bindings.go
  internal/keep/bridge/connector.go
  internal/keep/bridge/sync_test.go
  internal/keep/protocol/client.go
Due: go

debug(keep): add verify-list-push-noop + diagnose-grocery-list-push
  cmd/keep-debug/main.go
Due: go

fix(keep): tombstone-with-empty-parents + ClientID persistence on fresh push
  internal/keep/bridge/connector.go
  internal/keep/bridge/sync_test.go
Due: go

chore(eslint): register no-string-error-on-litelement in local plugin index
  static/js/eslint-rules/index.js
Due: javascript

fix(keep): infer LIST_ITEM push success from response.Nodes echo
  internal/keep/bridge/connector.go
  internal/keep/bridge/sync_test.go
Due: go

fix(keep): pass type-less tombstones through decoder + connector
  internal/keep/bridge/connector.go
  internal/keep/bridge/sync_test.go
  internal/keep/protocol/client.go
  internal/keep/protocol/client_test.go
Due: go

fix(keep): wiki-side delete must push soft-delete on incremental pulls
  internal/keep/bridge/connector.go
  internal/keep/bridge/sync_test.go
Due: go

chore(keep): satisfy strict revive + Keep-authoritative title fix
  cmd/keep-debug/main.go
  internal/bootstrap/server.go
  internal/grpc/api/v1/keep_connector_test.go
  internal/keep/bridge/bindings.go
  internal/keep/bridge/connector.go
  internal/keep/bridge/mapping.go
  internal/keep/bridge/metrics.go
  internal/keep/bridge/sync_test.go
  internal/keep/protocol/client.go
  internal/keep/protocol/gpsoauth.go
  migrations/eager/keep_bridge_fingerprint_migration.go
  migrations/eager/keep_bridge_fingerprint_migration_test.go
  server/checklistmutator/sync_helpers.go
Due: go

chore(sonar): exclude cmd/keep-debug from coverage analysis
  sonar-project.properties
Due: none

chore(test): clean up @claude-bot test additions for CI
  internal/grpc/api/v1/keep_connector_handlers_test.go
  internal/keep/bridge/cron_test.go
  internal/keep/bridge/sync_debouncer_test.go
  static/js/web-components/keep-bind-button.test.ts
Due: javascript, go

chore(scripts): add --ignore-scripts to bun install in fe test runner
  scripts/run_fe_tests.sh
Due: none

Fix survey `select` field type: map to dropdown renderer, add label support (#1012)
  static/js/web-components/survey-data-service.test.ts
  static/js/web-components/survey-data-service.ts
  static/js/web-components/wiki-survey.test.ts
  static/js/web-components/wiki-survey.ts
Due: javascript

Survey macro: support explicit field labels with humanized key fallback (#1014)
  internal/syspage/embedded/help_macro_survey.md
  static/js/web-components/wiki-survey.test.ts
  static/js/web-components/wiki-survey.ts
Due: javascript

fix(test): stabilize migration scan tests against worker-drain race
  migrations/eager/checklist_data_model_migration_helpers_test.go
  migrations/eager/system_template_namespace_migration_helpers_test.go
Due: go

fix(test): stabilize migration scan tests against worker-drain race (#1018)
  migrations/eager/checklist_data_model_migration_helpers_test.go
  migrations/eager/system_template_namespace_migration_helpers_test.go
Due: go

refactor(connectors): Phase 1a - lift Keep into internal/connectors/
  cmd/keep-debug/main.go
  internal/bootstrap/server.go
  internal/connectors/connector.go
  internal/connectors/connectors_suite_test.go
  internal/connectors/events.go
  internal/connectors/google_keep/gateway/REFERENCE.md
  internal/connectors/google_keep/gateway/client.go
  internal/connectors/google_keep/gateway/client_test.go
  internal/connectors/google_keep/gateway/errors.go
  internal/connectors/google_keep/gateway/gpsoauth.go
  internal/connectors/google_keep/gateway/gpsoauth_test.go
  internal/connectors/google_keep/gateway/types.go
  internal/connectors/google_keep/sync/MATRIX.md
  internal/connectors/google_keep/sync/bindings.go
  internal/connectors/google_keep/sync/bindings_test.go
  internal/connectors/google_keep/sync/connector.go
  internal/connectors/google_keep/sync/connector_coverage_test.go
  internal/connectors/google_keep/sync/cron.go
  internal/connectors/google_keep/sync/cron_test.go
  internal/connectors/google_keep/sync/dead_letter_test.go
  internal/connectors/google_keep/sync/iface.go
  internal/connectors/google_keep/sync/metrics.go
  internal/connectors/google_keep/sync/sync_debouncer.go
  internal/connectors/google_keep/sync/sync_debouncer_test.go
  internal/connectors/google_keep/sync/sync_job.go
  internal/connectors/google_keep/sync/sync_test.go
  internal/connectors/google_keep/translator/mapping.go
  internal/connectors/google_keep/translator/mapping_test.go
  internal/connectors/google_keep/translator/translator_suite_test.go
  internal/connectors/lease.go
  internal/connectors/lease_test.go
  internal/connectors/scheduler.go
  internal/connectors/scheduler_test.go
  internal/grpc/api/v1/keep_connector.go
  internal/grpc/api/v1/keep_connector_handlers_test.go
  internal/grpc/api/v1/keep_connector_test.go
  internal/grpc/api/v1/server.go
  internal/syspage/embedded/help_google_keep.md
  migrations/eager/keep_bridge_fingerprint_migration.go
  migrations/eager/keep_bridge_fingerprint_migration_test.go
Due: go

refactor(connectors/translator): extract translation logic from sync/connector.go
  cmd/keep-debug/main.go
  internal/connectors/google_keep/sync/bindings.go
  internal/connectors/google_keep/sync/connector.go
  internal/connectors/google_keep/sync/sync_test.go
  internal/connectors/google_keep/translator/labels.go
  internal/connectors/google_keep/translator/labels_test.go
  internal/connectors/google_keep/translator/observed.go
  internal/connectors/google_keep/translator/observed_test.go
  internal/connectors/google_keep/translator/seed.go
  internal/connectors/google_keep/translator/seed_test.go
Due: go

feat(connectors/google_tasks/gateway): Phase 3 - OAuth + REST client
  cmd/tasks-debug/main.go
  cmd/tasks-debug/main_test.go
  internal/connectors/google_tasks/gateway/client.go
  internal/connectors/google_tasks/gateway/client_test.go
  internal/connectors/google_tasks/gateway/errors.go
  internal/connectors/google_tasks/gateway/gateway_suite_test.go
  internal/connectors/google_tasks/gateway/oauth.go
  internal/connectors/google_tasks/gateway/oauth_test.go
  internal/connectors/google_tasks/gateway/types.go
Due: go

feat(server): Phase 6 - OAuth callback handler with PKCE/state/iss/rotation
  server/handlers_web.go
  server/oauth_error_page.go
  server/oauth_google_handler.go
  server/oauth_google_handler_test.go
  server/oauth_state_store.go
  server/oauth_state_store_test.go
Due: go

feat(connectors/google_tasks/translator): Phase 4 - schema mapping ACL
  internal/connectors/google_tasks/translator/mapping.go
  internal/connectors/google_tasks/translator/mapping_test.go
  internal/connectors/google_tasks/translator/marker.go
  internal/connectors/google_tasks/translator/marker_test.go
  internal/connectors/google_tasks/translator/position.go
  internal/connectors/google_tasks/translator/position_test.go
  internal/connectors/google_tasks/translator/subtasks.go
  internal/connectors/google_tasks/translator/subtasks_test.go
  internal/connectors/google_tasks/translator/tags.go
  internal/connectors/google_tasks/translator/tags_test.go
  internal/connectors/google_tasks/translator/task.go
  internal/connectors/google_tasks/translator/translator_suite_test.go
Due: go

refactor(grpc): Phase 1b - rename to ConnectorService with connector_kind enum
  api/proto/api/v1/connector_service.proto
  api/proto/api/v1/keep_connector.proto
  gen/go/api/v1/apiv1connect/connector_service.connect.go
  gen/go/api/v1/apiv1connect/keep_connector.connect.go
  gen/go/api/v1/apiv1mcp/connector_service.pb.mcp.go
  gen/go/api/v1/apiv1mcp/keep_connector.pb.mcp.go
  gen/go/api/v1/connector_service.pb.go
  gen/go/api/v1/connector_service_grpc.pb.go
  gen/go/api/v1/keep_connector.pb.go
  gen/go/api/v1/keep_connector_grpc.pb.go
  internal/bootstrap/server.go
  internal/bootstrap/transcoder_coverage_test.go
  internal/grpc/api/v1/connector_service.go
  internal/grpc/api/v1/connector_service_handlers_test.go
  internal/grpc/api/v1/connector_service_test.go
  internal/grpc/api/v1/keep_connector.go
  internal/grpc/api/v1/server.go
  internal/syspage/embedded/help_google_keep.md
  internal/syspage/embedded/help_profile.md
  static/js/gen/api/v1/connector_service_pb.ts
  static/js/gen/api/v1/keep_connector_pb.ts
  static/js/web-components/keep-bind-button.test.ts
  static/js/web-components/keep-bind-button.ts
  static/js/web-components/keep-connect.test.ts
  static/js/web-components/keep-connect.ts
  templating/templating.go
Due: javascript, go

feat(connectors/google_tasks/sync): Phase 5 - sync orchestrator with cursor + idempotence + pause
  internal/connectors/google_tasks/sync/connector.go
  internal/connectors/google_tasks/sync/fakes_for_test.go
  internal/connectors/google_tasks/sync/iface.go
  internal/connectors/google_tasks/sync/lifecycle.go
  internal/connectors/google_tasks/sync/lister.go
  internal/connectors/google_tasks/sync/store.go
  internal/connectors/google_tasks/sync/store_test.go
  internal/connectors/google_tasks/sync/sync_debouncer.go
  internal/connectors/google_tasks/sync/sync_debouncer_test.go
  internal/connectors/google_tasks/sync/sync_job.go
  internal/connectors/google_tasks/sync/sync_suite_test.go
  internal/connectors/google_tasks/sync/sync_test.go
  internal/connectors/google_tasks/sync/types.go
Due: go
