Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

coverage:
  status:
    project:
      default:
        # Allow up to 0.1% coverage drop
        threshold: 0.1%
    patch:
      default:
        # Require 90% coverage on new/changed lines
        target: 90%

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

Open external wiki links in new tabs
  internal/syspage/embedded/help.md
  utils/goldmarkrenderer/goldmark_renderer.go
  utils/goldmarkrenderer/goldmark_renderer_test.go
Due: go

Open external wiki links in new tabs (#1107)
  internal/syspage/embedded/help.md
  utils/goldmarkrenderer/goldmark_renderer.go
  utils/goldmarkrenderer/goldmark_renderer_test.go
Due: go

Add clear chat action
  api/proto/api/v1/chat.proto
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  pkg/chatbuffer/buffer.go
  pkg/chatbuffer/buffer_test.go
  pkg/mcpdocs/decorator_test.go
  static/js/gen/api/v1/chat_pb.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Add clear chat action (#1108)
  api/proto/api/v1/chat.proto
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  pkg/chatbuffer/buffer.go
  pkg/chatbuffer/buffer_test.go
  pkg/mcpdocs/decorator_test.go
  static/js/gen/api/v1/chat_pb.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Add checklist rename API
  api/proto/api/v1/checklist.proto
  gen/go/api/v1/apiv1connect/checklist.connect.go
  gen/go/api/v1/apiv1mcp/checklist.pb.mcp.go
  gen/go/api/v1/checklist.pb.go
  gen/go/api/v1/checklist_grpc.pb.go
  internal/grpc/api/v1/checklist.go
  internal/grpc/api/v1/checklist_grpc_test.go
  internal/grpc/api/v1/server_test.go
  server/checklistmutator/codec.go
  server/checklistmutator/mutator.go
  server/checklistmutator/mutator_test.go
  server/pagestore/write.go
  server/site.go
  static/js/gen/api/v1/checklist_pb.ts
Due: javascript, go

Add checklist rename coverage
  server/checklistmutator/mutator_test.go
  server/pagestore/store_test.go
  server/site_page_operations_test.go
Due: go

Cover checklist rename edge cases
  server/checklistmutator/codec_test.go
  server/checklistmutator/mutator_test.go
  server/pagestore/store_test.go
  server/site_page_operations_test.go
Due: go

Add ChecklistService rename API (#1109)
  api/proto/api/v1/checklist.proto
  gen/go/api/v1/apiv1connect/checklist.connect.go
  gen/go/api/v1/apiv1mcp/checklist.pb.mcp.go
  gen/go/api/v1/checklist.pb.go
  gen/go/api/v1/checklist_grpc.pb.go
  internal/grpc/api/v1/checklist.go
  internal/grpc/api/v1/checklist_grpc_test.go
  internal/grpc/api/v1/server_test.go
  server/checklistmutator/codec.go
  server/checklistmutator/codec_test.go
  server/checklistmutator/mutator.go
  server/checklistmutator/mutator_test.go
  server/pagestore/store_test.go
  server/pagestore/write.go
  server/site.go
  server/site_page_operations_test.go
  static/js/gen/api/v1/checklist_pb.ts
Due: javascript, go

Cover SurveyService handlers
  internal/grpc/api/v1/survey_grpc_test.go
  server/surveymutator/mutator_test.go
Due: go

Add SurveyService API
  api/proto/api/v1/survey.proto
  gen/go/api/v1/apiv1connect/survey.connect.go
  gen/go/api/v1/apiv1mcp/survey.pb.mcp.go
  gen/go/api/v1/survey.pb.go
  gen/go/api/v1/survey_grpc.pb.go
  internal/bootstrap/server.go
  internal/bootstrap/transcoder_coverage_test.go
  internal/grpc/api/v1/reserved.go
  internal/grpc/api/v1/reserved_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/survey.go
  internal/mcp/server.go
  internal/syspage/embedded/help_macro_survey.md
  server/surveymutator/codec.go
  server/surveymutator/mutator.go
  server/surveymutator/mutator_test.go
  server/surveymutator/surveymutator_suite_test.go
  static/js/gen/api/v1/survey_pb.ts
  static/js/web-components/wiki-survey.test.ts
  static/js/web-components/wiki-survey.ts
  wikipage/reserved_namespaces.go
  wikipage/reserved_namespaces_test.go
Due: javascript, go

Cover SurveyService edge cases
  internal/grpc/api/v1/survey_grpc_test.go
  server/surveymutator/mutator_test.go
Due: go

Trim generated survey client whitespace
  static/js/gen/api/v1/survey_pb.ts
Due: javascript

Simulate Tailscale identity in survey e2e tests
  e2e/tests/survey-persistence.spec.ts
  e2e/tests/wiki-survey-a11y.spec.ts
  e2e/tests/wiki-survey.spec.ts
Due: none

Give e2e workflow enough time
  .github/workflows/e2e.yml
Due: none

Stabilize survey e2e identity
  e2e/playwright.config.ts
  e2e/tests/survey-persistence.spec.ts
  e2e/tests/wiki-survey-a11y.spec.ts
  e2e/tests/wiki-survey.spec.ts
  internal/bootstrap/grpc_interceptors_test.go
  internal/bootstrap/server.go
  main.go
Due: go

Isolate page operations test data
  server/site_page_operations_test.go
Due: go

Stabilize survey loading e2e
  e2e/tests/wiki-survey.spec.ts
Due: none

Add SurveyService API (#1110)
  .github/workflows/e2e.yml
  api/proto/api/v1/survey.proto
  e2e/playwright.config.ts
  e2e/tests/survey-persistence.spec.ts
  e2e/tests/wiki-survey-a11y.spec.ts
  e2e/tests/wiki-survey.spec.ts
  gen/go/api/v1/apiv1connect/survey.connect.go
  gen/go/api/v1/apiv1mcp/survey.pb.mcp.go
  gen/go/api/v1/survey.pb.go
  gen/go/api/v1/survey_grpc.pb.go
  internal/bootstrap/grpc_interceptors_test.go
  internal/bootstrap/server.go
  internal/bootstrap/transcoder_coverage_test.go
  internal/grpc/api/v1/reserved.go
  internal/grpc/api/v1/reserved_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/survey.go
  internal/grpc/api/v1/survey_grpc_test.go
  internal/mcp/server.go
  internal/syspage/embedded/help_macro_survey.md
  main.go
  server/site_page_operations_test.go
  server/surveymutator/codec.go
  server/surveymutator/mutator.go
  server/surveymutator/mutator_test.go
  server/surveymutator/surveymutator_suite_test.go
  static/js/gen/api/v1/survey_pb.ts
  static/js/web-components/wiki-survey.test.ts
  static/js/web-components/wiki-survey.ts
  wikipage/reserved_namespaces.go
  wikipage/reserved_namespaces_test.go
Due: javascript, go

Add page trash restore support
  api/proto/api/v1/page_management.proto
  e2e/tests/confirmation-dialog-accessibility.spec.ts
  e2e/tests/page-erase-menu.spec.ts
  e2e/tests/page-trash.spec.ts
  gen/go/api/v1/apiv1connect/page_management.connect.go
  gen/go/api/v1/apiv1mcp/page_management.pb.mcp.go
  gen/go/api/v1/page_management.pb.go
  gen/go/api/v1/page_management_grpc.pb.go
  internal/grpc/api/v1/page_management.go
  internal/grpc/api/v1/server_test.go
  server/handlers_web.go
  server/pagestore/store.go
  server/pagestore/store_test.go
  server/pagestore/trash.go
  server/pagestore/writer.go
  server/site.go
  server/site_page_operations_test.go
  server/site_test.go
  static/js/gen/api/v1/page_management_pb.ts
  static/js/index.ts
  static/js/web-components/page-deletion-service.test.ts
  static/js/web-components/page-deletion-service.ts
  static/js/web-components/page-trash.test.ts
  static/js/web-components/page-trash.ts
  static/templates/index.tmpl
  wikipage/page_reader_mutator.go
Due: javascript, go

Make native dialogs fullscreen on mobile
  e2e/tests/frontmatter-dialog-accessibility.spec.ts
  static/js/web-components/shared-styles.test.ts
  static/js/web-components/shared-styles.ts
Due: javascript

Move surveys into wiki namespace
  api/proto/api/v1/survey.proto
  gen/go/api/v1/survey_grpc.pb.go
  internal/syspage/embedded/help_macro_survey.md
  migrations/eager/checklist_data_model_migration_helpers_test.go
  migrations/eager/checklist_data_model_migration_test.go
  migrations/eager/migration_test_support.go
  migrations/eager/survey_data_model_migration.go
  migrations/eager/survey_data_model_migration_scan_test.go
  migrations/eager/survey_data_model_migration_test.go
  server/site.go
  server/site_page_operations_test.go
  server/surveymutator/codec.go
  server/surveymutator/mutator.go
  server/surveymutator/mutator_test.go
  static/js/gen/api/v1/survey_pb.ts
  static/js/web-components/wiki-survey.ts
Due: javascript, go

Add page trash restore support (#1113)
  api/proto/api/v1/page_management.proto
  e2e/tests/confirmation-dialog-accessibility.spec.ts
  e2e/tests/page-erase-menu.spec.ts
  e2e/tests/page-trash.spec.ts
  gen/go/api/v1/apiv1connect/page_management.connect.go
  gen/go/api/v1/apiv1mcp/page_management.pb.mcp.go
  gen/go/api/v1/page_management.pb.go
  gen/go/api/v1/page_management_grpc.pb.go
  internal/grpc/api/v1/page_management.go
  internal/grpc/api/v1/server_test.go
  server/handlers_web.go
  server/pagestore/store.go
  server/pagestore/store_test.go
  server/pagestore/trash.go
  server/pagestore/writer.go
  server/site.go
  server/site_page_operations_test.go
  server/site_test.go
  static/js/gen/api/v1/page_management_pb.ts
  static/js/index.ts
  static/js/web-components/page-deletion-service.test.ts
  static/js/web-components/page-deletion-service.ts
  static/js/web-components/page-trash.test.ts
  static/js/web-components/page-trash.ts
  static/templates/index.tmpl
  wikipage/page_reader_mutator.go
Due: javascript, go

Share data-model migration scan helper
  migrations/eager/checklist_data_model_migration.go
  migrations/eager/survey_data_model_migration.go
Due: go

Make native dialogs fullscreen on mobile (#1112)
  e2e/tests/frontmatter-dialog-accessibility.spec.ts
  static/js/web-components/shared-styles.test.ts
  static/js/web-components/shared-styles.ts
Due: javascript

Move surveys into wiki namespace (#1111)
  api/proto/api/v1/survey.proto
  gen/go/api/v1/survey_grpc.pb.go
  internal/syspage/embedded/help_macro_survey.md
  migrations/eager/checklist_data_model_migration.go
  migrations/eager/checklist_data_model_migration_helpers_test.go
  migrations/eager/checklist_data_model_migration_test.go
  migrations/eager/migration_test_support.go
  migrations/eager/survey_data_model_migration.go
  migrations/eager/survey_data_model_migration_scan_test.go
  migrations/eager/survey_data_model_migration_test.go
  server/site.go
  server/surveymutator/codec.go
  server/surveymutator/mutator.go
  server/surveymutator/mutator_test.go
  static/js/gen/api/v1/survey_pb.ts
  static/js/web-components/wiki-survey.ts
Due: javascript, go

Add scheduler verification and mutation ratchet
  .github/workflows/go.yml
  .mutation-baseline.json
  README.md
  cmd/read-mutation-baseline/main.go
  cmd/read-mutation-baseline/main_test.go
  cmd/wiki-cli/main.go
  cmd/wiki-cli/schedule_verification.go
  cmd/wiki-cli/schedule_verification_test.go
  devbox.json
  internal/syspage/embedded/help_scheduled_agents.md
  scripts/run_go_mutation.sh
  sonar-project.properties
Due: go

Address scheduler verification review comments
  README.md
  cmd/wiki-cli/schedule_verification.go
  cmd/wiki-cli/schedule_verification_test.go
  scripts/run_go_mutation.sh
Due: go

Add scheduler verification and mutation ratchet (#1114)
  .github/workflows/go.yml
  .mutation-baseline.json
  README.md
  cmd/read-mutation-baseline/main.go
  cmd/read-mutation-baseline/main_test.go
  cmd/wiki-cli/main.go
  cmd/wiki-cli/schedule_verification.go
  cmd/wiki-cli/schedule_verification_test.go
  devbox.json
  internal/syspage/embedded/help_scheduled_agents.md
  scripts/run_go_mutation.sh
  sonar-project.properties
Due: go

Remove halt verification hook
  .claude/hooks/halt-verification-reminder.sh
Due: none

Add goal for map macro MapService issue
  goals/issue-989-map-macro-mapservice/facts-result.json
  goals/issue-989-map-macro-mapservice/facts-review.json
  goals/issue-989-map-macro-mapservice/facts.md
  goals/issue-989-map-macro-mapservice/facts.meta.json
  goals/issue-989-map-macro-mapservice/goal.md
  goals/issue-989-map-macro-mapservice/interview-result.json
  goals/issue-989-map-macro-mapservice/interview.json
  goals/issue-989-map-macro-mapservice/plan.md
Due: none

Add first-class wiki map service
  api/proto/api/v1/map.proto
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/mcp_extension_regression_test.go
  e2e/tests/helpers/map-page.ts
  e2e/tests/map-a11y.spec.ts
  e2e/tests/map.spec.ts
  gen/go/api/v1/apiv1connect/map.connect.go
  gen/go/api/v1/apiv1mcp/map.pb.mcp.go
  gen/go/api/v1/map.pb.go
  gen/go/api/v1/map_grpc.pb.go
  internal/bootstrap/server.go
  internal/bootstrap/transcoder_coverage_test.go
  internal/grpc/api/v1/frontmatter_maps_guard_test.go
  internal/grpc/api/v1/map.go
  internal/grpc/api/v1/map_grpc_test.go
  internal/grpc/api/v1/reserved.go
  internal/grpc/api/v1/reserved_test.go
  internal/grpc/api/v1/server.go
  internal/syspage/embedded/help.md
  internal/syspage/embedded/help_macro_map.md
  internal/syspage/embedded/help_templating.md
  server/mapmutator/codec.go
  server/mapmutator/mapmutator_suite_test.go
  server/mapmutator/mutator.go
  server/mapmutator/mutator_test.go
  static/js/.storybook/preview.ts
  static/js/bun.lock
  static/js/gen/api/v1/map_pb.ts
  static/js/gen/api/v1/survey_pb.ts
  static/js/index.ts
  static/js/package.json
  static/js/web-components/wiki-map.stories.ts
  static/js/web-components/wiki-map.test.ts
  static/js/web-components/wiki-map.ts
  templating/custom_elements.go
  templating/custom_elements_test.go
  templating/templating.go
  templating/templating_map_test.go
  wikipage/reserved_namespaces.go
  wikipage/reserved_namespaces_test.go
Due: javascript, go

Address map service lint findings
  internal/grpc/api/v1/map.go
  internal/grpc/api/v1/map_grpc_test.go
  server/mapmutator/codec.go
  server/mapmutator/mutator.go
  static/js/web-components/wiki-map.test.ts
Due: javascript, go

Fix Leaflet map rendering in shadow DOM
  internal/syspage/embedded/help_macro_map.md
  static/js/web-components/wiki-map.test.ts
  static/js/web-components/wiki-map.ts
Due: javascript

Rename Google Maps embed macro
  goals/issue-989-map-macro-mapservice/plan.md
  internal/syspage/embedded/help_macro_google_maps_embed.md
  internal/syspage/embedded/help_macro_map.md
  internal/syspage/embedded/help_templating.md
  internal/syspage/loader_test.go
  static/css/default.css
  static/js/web-components/wiki-map.test.ts
  static/js/web-components/wiki-map.ts
  templating/templating.go
  templating/templating_map_test.go
  templating/templating_test.go
  utils/goldmarkrenderer/goldmark_renderer.go
  utils/goldmarkrenderer/goldmark_renderer_test.go
Due: javascript, go

Add map tileset selector and scroll hint
  internal/syspage/embedded/help_macro_map.md
  static/js/web-components/wiki-map.test.ts
  static/js/web-components/wiki-map.ts
Due: javascript

Make map aspect ratio configurable
  api/proto/api/v1/map.proto
  gen/go/api/v1/apiv1mcp/map.pb.mcp.go
  gen/go/api/v1/map.pb.go
  internal/syspage/embedded/help_macro_map.md
  server/mapmutator/codec.go
  server/mapmutator/mutator.go
  server/mapmutator/mutator_test.go
  static/js/gen/api/v1/map_pb.ts
  static/js/web-components/wiki-map.test.ts
  static/js/web-components/wiki-map.ts
Due: javascript, go

Address map PR review feedback
  internal/grpc/api/v1/map.go
  internal/grpc/api/v1/map_grpc_test.go
  server/mapmutator/mutator.go
  server/mapmutator/mutator_test.go
  static/js/web-components/wiki-map.test.ts
  static/js/web-components/wiki-map.ts
Due: javascript, go

Raise map RPC coverage
  internal/grpc/api/v1/map_grpc_test.go
Due: go

Fix scheduler zombie-RUNNING dispatch block (#1117); ACP-bound live chat progress (#1118)
  .claude/settings.json
  api/proto/api/v1/chat.proto
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  internal/syspage/embedded/help.md
  internal/syspage/embedded/help_chat.md
  internal/syspage/embedded/help_scheduled_agents.md
  pkg/chatbuffer/buffer.go
  pkg/chatbuffer/buffer_test.go
  pkg/mcpdocs/decorator_test.go
  server/agent_turn_job.go
  server/agent_turn_job_test.go
  static/js/gen/api/v1/chat_pb.ts
  static/js/web-components/chat-message-bubble.stories.ts
  static/js/web-components/chat-message-bubble.test.ts
  static/js/web-components/chat-message-bubble.ts
  static/js/web-components/page-chat-panel.stories.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go
