Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

feat: add wiki.history.opt_out frontmatter flag
  internal/syspage/embedded/help_page_history.md
  server/pagestore/history.go
  server/pagestore/history_test.go
  server/pagestore/store.go
Due: go

fix: address review comments on circuit breaker PR
  internal/connectors/circuit_breaker.go
  internal/connectors/circuit_breaker_test.go
  internal/connectors/scheduler.go
  internal/observability/wiki_metrics_recorder.go
Due: go

fix: opt out observability metrics page from history capture
  internal/observability/wiki_metrics_recorder.go
Due: go

fix: history opt-out flag, metrics page opt-out, circuit breaker review fixes (#1147)
  internal/connectors/circuit_breaker.go
  internal/connectors/circuit_breaker_test.go
  internal/connectors/scheduler.go
  internal/observability/wiki_metrics_recorder.go
  internal/syspage/embedded/help_page_history.md
  server/pagestore/history.go
  server/pagestore/history_test.go
  server/pagestore/store.go
Due: go

fix: survey macro reads from wiki.surveys namespace instead of legacy key
  static/js/web-components/survey-data-service.ts
  templating/templating.go
  templating/templating_survey_test.go
Due: javascript, go

fix: address review comments — blank line between Describe blocks, prettier formatting
  static/js/web-components/survey-data-service.ts
  templating/templating_survey_test.go
Due: javascript, go

fix: register all MCP service handlers including ChecklistService
  internal/mcp/server.go
Due: go

fix: survey macro reads from wiki.surveys namespace instead of legacy key (#1148)
  internal/mcp/server.go
  static/js/web-components/survey-data-service.ts
  templating/templating.go
  templating/templating_survey_test.go
Due: javascript, go

fix: add survey API validation
  server/surveymutator/mutator.go
  server/surveymutator/mutator_test.go
Due: go

fix: address review comments on survey validation
  server/surveymutator/mutator.go
Due: go

fix: add survey API validation (#1149)
  server/surveymutator/mutator.go
  server/surveymutator/mutator_test.go
Due: go

fix: inject page identifier into template context for survey macro
  server/surveymutator/mutator.go
  wikipage/page.go
  wikipage/page_test.go
Due: go

fix: address review comments on identifier injection
  internal/grpc/api/v1/survey_grpc_test.go
  server/surveymutator/mutator.go
  wikipage/page.go
Due: go

fix: inject page identifier into template context for survey macro (#1150)
  internal/grpc/api/v1/survey_grpc_test.go
  server/surveymutator/mutator.go
  wikipage/page.go
  wikipage/page_test.go
Due: go

Improve MCP surface area
  PLAN.md
  api/proto/api/v1/chat.proto
  api/proto/api/v1/mcp_options.proto
  api/proto/api/v1/survey.proto
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  gen/go/api/v1/mcp_options.pb.go
  gen/go/api/v1/survey.pb.go
  internal/bootstrap/server.go
  internal/mcp/server.go
  internal/mcp/server_test.go
  internal/syspage/embedded/help.md
  internal/syspage/embedded/help_connectors.md
  internal/syspage/embedded/help_file_storage.md
  internal/syspage/embedded/help_frontmatter.md
  internal/syspage/embedded/help_inventory_management.md
  internal/syspage/embedded/help_mcp.md
  internal/syspage/embedded/help_page_import.md
  internal/syspage/embedded/help_system_info.md
  pkg/mcpdocs/decorator.go
  static/js/gen/api/v1/chat_pb.ts
  static/js/gen/api/v1/mcp_options_pb.ts
  static/js/gen/api/v1/survey_pb.ts
Due: javascript, go

Add MCP tool-discovery evaluation harness
  devbox.json
  eval/DESIGN.md
  eval/README.md
  eval/cases.go
  eval/cmd/main.go
  eval/harness.go
  eval/pre_post.go
  eval/prompts.go
  eval/score.go
  eval/toolsurface.go
Due: go

Strengthen eval case set and add MiMo model support
  .gitignore
  devbox.json
  eval/cases.go
  eval/harness.go
  scripts/run_eval.sh
Due: go

Ensure every tool has 2+ eval cases; add per-tool breakdown
  eval/cases.go
  eval/cmd/main.go
  eval/harness.go
  eval/score.go
Due: go

Surgical editing focus: descriptions, cases, scoring, reasoning effort
  api/proto/api/v1/page_management.proto
  eval/cases.go
  eval/harness.go
  eval/score.go
  gen/go/api/v1/page_management.pb.go
  static/js/gen/api/v1/page_management_pb.ts
Due: javascript, go

Add incremental result saving; MiMo v2.5 partial results (110/241)
  eval/cmd/main.go
  eval/harness.go
Due: go

Mark UpdatePage/UpdateWholePage as interchangeable for both-fm-and-body cases
  eval/cases.go
Due: go

Rewrite all 241 eval cases against scenario rubric
  eval/RUBRIC.md
  eval/cases.go
  eval/harness.go
Due: go

F6: Standardize proto field names (page_name→page, survey_name→name)
  api/proto/api/v1/history.proto
  api/proto/api/v1/page_management.proto
  api/proto/api/v1/survey.proto
  cmd/wiki-cli/main.go
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/mcp_anthropic_handler_test.go
  cmd/wiki-cli/mcp_anthropic_schema_test.go
  cmd/wiki-cli/pool_test.go
  eval/cases.go
  gen/go/api/v1/apiv1mcp/history.pb.mcp.go
  gen/go/api/v1/apiv1mcp/page_management.pb.mcp.go
  gen/go/api/v1/apiv1mcp/survey.pb.mcp.go
  gen/go/api/v1/history.pb.go
  gen/go/api/v1/page_management.pb.go
  gen/go/api/v1/survey.pb.go
  index/history/index.go
  index/history/search_test.go
  internal/bootstrap/server.go
  internal/grpc/api/v1/history.go
  internal/grpc/api/v1/page_management.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/grpc/api/v1/survey.go
  internal/grpc/api/v1/survey_grpc_test.go
  internal/grpc/api/v1/system_page_guard_test.go
  internal/mcp/server_test.go
  internal/syspage/embedded/help_macro_blog.md
  server/site.go
  static/js/gen/api/v1/history_pb.ts
  static/js/gen/api/v1/page_management_pb.ts
  static/js/gen/api/v1/survey_pb.ts
  static/js/web-components/page-auto-refresh.ts
  static/js/web-components/page-creator.test.ts
  static/js/web-components/page-creator.ts
  static/js/web-components/page-deletion-service.ts
  static/js/web-components/wiki-editor.test.ts
  static/js/web-components/wiki-editor.ts
  static/js/web-components/wiki-survey.test.ts
  static/js/web-components/wiki-survey.ts
  static/templates/index.tmpl
Due: javascript, go

Add 17 production-derived eval cases from real wiki chat sessions
  eval/cases.go
Due: go

Fix extension wiki-client.ts for proto field rename
  extensions/online-order-recorder/src/wiki-client.test.ts
  extensions/online-order-recorder/src/wiki-client.ts
Due: none

Register all 14 services in wiki-cli MCP path (not just 10)
  cmd/wiki-cli/mcp.go
Due: go

Register all 14 services in wiki-cli MCP path (#1154)
  cmd/wiki-cli/mcp.go
Due: go

feat: background task promotion protocol for long-running A2A tool calls
  api/proto/api/v1/chat.proto
  gen/go/api/v1/chat.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  pkg/chatbuffer/buffer.go
  static/js/gen/api/v1/chat_pb.ts
  static/js/web-components/chat-message-bubble.stories.ts
  static/js/web-components/chat-message-bubble.test.ts
  static/js/web-components/chat-message-bubble.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

feat: background task promotion protocol for long-running A2A tool calls (#1156)
  api/proto/api/v1/chat.proto
  gen/go/api/v1/chat.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  pkg/chatbuffer/buffer.go
  static/js/gen/api/v1/chat_pb.ts
  static/js/web-components/chat-message-bubble.stories.ts
  static/js/web-components/chat-message-bubble.test.ts
  static/js/web-components/chat-message-bubble.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

fix: address PR review comments
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  static/js/web-components/chat-message-bubble.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

fix: address PR review comments for background task promotion (#1157)
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  static/js/web-components/chat-message-bubble.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

fix: restore renderedHtml, senderName, content, edited, toolCalls, plan, and scroll-to-message properties in chat-message-bubble rendering
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript

fix: restore missing chat-message-bubble properties that broke thinking (#1158)
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript

fix: completed tool calls no longer falsely promoted to long-running
  static/js/web-components/chat-message-bubble.stories.ts
  static/js/web-components/chat-message-bubble.test.ts
  static/js/web-components/chat-message-bubble.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript

fix: completed tool calls no longer falsely promoted to long-running (#1159)
  static/js/web-components/chat-message-bubble.stories.ts
  static/js/web-components/chat-message-bubble.test.ts
  static/js/web-components/chat-message-bubble.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript

Add trusted-proxy identity method (Method 0) to identity middleware
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  deployment/deploy.sh
  deployment/simple_wiki.service
  tailscale/middleware.go
  tailscale/middleware_method0_test.go
Due: go

Add trusted-proxy identity (Method 0) middleware (#1160)
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  deployment/deploy.sh
  deployment/simple_wiki.service
  tailscale/middleware.go
  tailscale/middleware_method0_test.go
Due: go

docs(help_mcp): document public MCP gateway transport for hosted agents
  internal/syspage/embedded/help_mcp.md
Due: none

docs(help_mcp): document public MCP gateway transport (#1161)
  internal/syspage/embedded/help_mcp.md
Due: none

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
