Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

fix: Address code review feedback
  server/handlers_web.go
  static/templates/index.tmpl
Due: go

Increase unit test coverage from 75.7% to 80.4% with project-wide CLAUDE.md-compliant test improvements (#194)
  index/bleve/export_test.go
  index/bleve/index.go
  index/bleve/index_test.go
  index/coordinator_test.go
  index/index_jobs_test.go
  internal/grpc/api/v1/inventory_test.go
  internal/grpc/api/v1/server_test.go
  labels/labels_suite_test.go
  labels/lp_printer_test.go
  labels/printer_test.go
  labels/usb_printer_test.go
  migrations/eager/file_shadowing_migration_scan_job_test.go
  migrations/lazy/applicator_test.go
  migrations/lazy/identifier_munging_migration_test.go
  pkg/jobs/coordinator_test.go
  pkg/jobs/cron_scheduler_test.go
  server/inventory_normalization_job_test.go
  server/site_test.go
  templating/templating_test.go
  utils/goldmarkrenderer/goldmark_renderer_test.go
  wikipage/page_test.go
Due: go

feat: Add wiki-image web component for styled markdown images
  AGENTS.md
  CONVENTIONS.md
  index/bleve/index_test.go
  revive.toml
  static/css/default.css
  static/js/index.ts
  static/js/web-components/wiki-image.stories.ts
  static/js/web-components/wiki-image.test.ts
  static/js/web-components/wiki-image.ts
  utils/goldmarkrenderer/goldmark_renderer.go
  utils/goldmarkrenderer/goldmark_renderer_test.go
  utils/goldmarkrenderer/wiki_image_renderer.go
Due: javascript, go

feat: Add tools overlay panel to wiki-image component
  static/js/bun.lock
  static/js/web-components/toast-message.ts
  static/js/web-components/wiki-image.stories.ts
  static/js/web-components/wiki-image.test.ts
  static/js/web-components/wiki-image.ts
Due: javascript

Fix CONVENTIONS.md compliance and PR review issues for wiki-image
  static/js/web-components/wiki-image.stories.ts
  static/js/web-components/wiki-image.test.ts
  static/js/web-components/wiki-image.ts
  utils/goldmarkrenderer/goldmark_renderer_test.go
  utils/goldmarkrenderer/wiki_image_renderer.go
Due: javascript, go

feat: Add wiki-image web component for styled markdown images (#197)
  AGENTS.md
  CONVENTIONS.md
  index/bleve/index_test.go
  revive.toml
  static/css/default.css
  static/js/bun.lock
  static/js/index.ts
  static/js/web-components/toast-message.ts
  static/js/web-components/wiki-image.stories.ts
  static/js/web-components/wiki-image.test.ts
  static/js/web-components/wiki-image.ts
  utils/goldmarkrenderer/goldmark_renderer.go
  utils/goldmarkrenderer/goldmark_renderer_test.go
  utils/goldmarkrenderer/wiki_image_renderer.go
Due: javascript, go

fix: Use port 443 for TLS in production, port+1 in development
  main.go
  tailscale/redirect.go
Due: go

fix: Only redirect to HTTPS for tailnet clients
  tailscale/redirect.go
Due: go

feat: Add --no-tls and --tls-port flags for flexible TLS configuration
  deployment/simple_wiki.service
  main.go
Due: go

refactor: Rename --no-tls to --tailscale-serve
  deployment/simple_wiki.service
  main.go
Due: go

feat: Auto-redirect tailnet clients to HTTPS in Tailscale Serve mode
  main.go
Due: go

feat: Add --force-redirect-tailnet-https flag
  deployment/simple_wiki.service
  main.go
Due: go

feat: Support Tailscale headers for identity detection
  tailscale/interceptor.go
  tailscale/middleware.go
  tailscale/redirect.go
Due: go

fix: Prevent redirect loop when request comes through Tailscale Serve
  tailscale/redirect.go
Due: go

fix: Use X-Forwarded-Proto for HTTPS detection, add ForceRedirect
  main.go
  tailscale/redirect.go
Due: go

refactor: Rename ForceRedirect to ForceRedirectToTailnet
  tailscale/redirect.go
Due: go

feat: Extract node name from Tailscale-Node-Name header
  tailscale/interceptor.go
  tailscale/middleware.go
Due: go

fix: Remove non-existent node name header check
  tailscale/interceptor.go
  tailscale/middleware.go
Due: go

refactor: Extract bootstrap package, add tests, fix security issues
  internal/bootstrap/server.go
  internal/bootstrap/server_mode.go
  main.go
  static/js/web-components/system-info-identity.test.ts
  tailscale/detector.go
  tailscale/detector_test.go
  tailscale/identity_test.go
  tailscale/interceptor.go
  tailscale/interceptor_test.go
  tailscale/middleware_test.go
  tailscale/redirect.go
  tailscale/redirect_test.go
  tailscale/tls_provider.go
  tailscale/tls_provider_test.go
Due: javascript, go

refactor: Use explicit parameters, add tests, improve error handling
  CONVENTIONS.md
  internal/bootstrap/bootstrap_suite_test.go
  internal/bootstrap/server.go
  internal/bootstrap/server_mode_test.go
  internal/bootstrap/server_test.go
  main.go
  tailscale/identity_resolver.go
  tailscale/identity_resolver_test.go
  tailscale/redirect.go
  tailscale/redirect_test.go
Due: go

refactor: Apply Go interface naming conventions and security improvements
  internal/bootstrap/server.go
  tailscale/detector.go
  tailscale/detector_test.go
  tailscale/identity_resolver.go
  tailscale/identity_resolver_test.go
  tailscale/interceptor.go
  tailscale/middleware.go
  tailscale/middleware_test.go
  tailscale/redirect.go
  tailscale/tls_provider.go
  tailscale/tls_provider_test.go
Due: go

refactor: Address code review feedback from critique
  tailscale/detector.go
  tailscale/detector_test.go
  tailscale/doc.go
  tailscale/identity_resolver.go
  tailscale/identity_resolver_test.go
  tailscale/interceptor.go
  tailscale/middleware.go
  tailscale/middleware_test.go
  tailscale/redirect.go
  tailscale/redirect_test.go
  tailscale/test_helpers_test.go
Due: go

refactor: Address round 2 code review feedback
  internal/bootstrap/server.go
  tailscale/identity.go
  tailscale/identity_resolver_test.go
  tailscale/identity_test.go
  tailscale/redirect.go
  tailscale/redirect_test.go
  tailscale/test_helpers_test.go
Due: go

refactor: Introduce type-safe IdentityValue interface
  internal/grpc/api/v1/server.go
  tailscale/identity.go
  tailscale/identity_resolver.go
  tailscale/identity_resolver_test.go
  tailscale/identity_test.go
  tailscale/interceptor.go
  tailscale/interceptor_test.go
  tailscale/middleware.go
  tailscale/middleware_test.go
  tailscale/redirect.go
  tailscale/redirect_test.go
  tailscale/test_helpers_test.go
Due: go

refactor: Replace panics with error returns, unexport fields
  CONVENTIONS.md
  internal/bootstrap/server.go
  internal/grpc/api/v1/inventory.go
  internal/grpc/api/v1/inventory_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  tailscale/identity.go
  tailscale/identity_resolver.go
  tailscale/identity_test.go
  tailscale/interceptor.go
  tailscale/interceptor_test.go
  tailscale/middleware.go
  tailscale/middleware_test.go
  tailscale/redirect.go
  tailscale/redirect_test.go
  tailscale/test_helpers_test.go
Due: go

fix: Address PR review feedback
  api/proto/api/v1/system_info.proto
  deployment/simple_wiki.service
  gen/go/api/v1/system_info.pb.go
  internal/grpc/api/v1/server.go
  main.go
  static/js/gen/api/v1/system_info_pb.ts
  tailscale/detector.go
  tailscale/detector_test.go
Due: javascript, go

chore: Trim CLAUDE.md to remove redundant content
  CONVENTIONS.md
Due: none

chore: Trim CLAUDE.md to remove redundant content (#203)
  CONVENTIONS.md
Due: none

Add .gitattributes to collapse generated code in PR diffs (#204)
  .gitattributes
Due: none

Add warning when inventory filter hides search results (#202)
  api/proto/api/v1/search.proto
  gen/go/api/v1/search.pb.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  static/js/gen/api/v1/search_pb.ts
  static/js/web-components/wiki-image.stories.ts
  static/js/web-components/wiki-search-results.stories.ts
  static/js/web-components/wiki-search-results.test.ts
  static/js/web-components/wiki-search-results.ts
  static/js/web-components/wiki-search.test.ts
  static/js/web-components/wiki-search.ts
Due: javascript, go

Fix go-tools version and markdown table formatting
  devbox.json
  devbox.lock
  docs/adrs/0007-observability-architecture.md
Due: none

Address code review findings from expert panel
  internal/observability/constants.go
  internal/observability/grpc_metrics.go
  internal/observability/http_metrics.go
  internal/observability/otel_test.go
  internal/observability/tailscale_metrics.go
Due: go

Wire up HTTP metrics and address remaining code review findings
  docs/adrs/0007-observability-architecture.md
  internal/bootstrap/server.go
  internal/observability/grpc_metrics.go
  internal/observability/http_instrumentation.go
  internal/observability/http_instrumentation_test.go
  internal/observability/http_metrics.go
  internal/observability/wiki_metrics_recorder.go
  internal/observability/wiki_metrics_recorder_test.go
Due: go

Wire up WikiMetricsRecorder with opaque RequestCounter interface
  internal/bootstrap/server.go
  internal/observability/grpc_interceptor.go
  internal/observability/http_instrumentation.go
  internal/observability/http_instrumentation_test.go
  internal/observability/request_counter.go
  internal/observability/wiki_metrics_recorder.go
  internal/observability/wiki_metrics_recorder_test.go
Due: go

Fix markdown template not written for metrics page
  internal/observability/wiki_metrics_recorder.go
  internal/observability/wiki_metrics_recorder_test.go
Due: go

Add CompositeRequestCounter tests and fix cron to use job queue
  internal/bootstrap/server.go
  internal/observability/request_counter_test.go
Due: go

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
