Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

Implement semver-aware tag selection for build version formatting with UI display fix (#148)
  .devbox_run_scripts/build.sh
  docs/DEPLOYMENT.md
  static/js/web-components/version-display.test.ts
  static/js/web-components/version-display.ts
Due: javascript

Implement rolling migrations system with auto-save for TOML dot notation conflicts
  docs/DEPLOYMENT.md
  docs/adrs/0005-rolling-migrations-system.md
  rollingmigrations/applicator.go
  rollingmigrations/applicator_test.go
  rollingmigrations/frontmatter_migration.go
  rollingmigrations/frontmatter_migration_test.go
  rollingmigrations/rollingmigrations_suite_test.go
  rollingmigrations/toml_dot_notation_migration.go
  rollingmigrations/toml_dot_notation_migration_test.go
  server/handlers.go
  server/site.go
  server/site_test.go
Due: go

Refactor rolling migrations system based on PR feedback
  .gitignore
  devbox.json
  docs/adrs/0005-rolling-migrations-system.md
  rollingmigrations/applicator.go
  rollingmigrations/applicator_test.go
  rollingmigrations/test_utils.go
  rollingmigrations/toml_dot_notation_migration.go
  server/handlers.go
  server/site.go
  server/site_test.go
Due: go

Use normal page saving mechanism for migrations instead of direct file writes
  .gitignore
  server/site.go
Due: go

Refactor migrations to use clean page-layer architecture with explicit recursion control
  docs/adrs/0005-rolling-migrations-system.md
  server/page.go
  server/page_test.go
  server/site.go
  server/site_test.go
Due: go

Clean out unused param
  server/page.go
  server/site.go
Due: go

Consolidate update methods and move lenientParse to Page layer
  server/page.go
  server/site.go
Due: go

Fix TOML dot notation migration to convert all dot notation cases
  docs/adrs/0005-rolling-migrations-system.md
  rollingmigrations/toml_dot_notation_migration.go
  rollingmigrations/toml_dot_notation_migration_test.go
Due: go

another migration and some error handling fixes
  main.go
  rollingmigrations/applicator.go
  rollingmigrations/toml_dot_notation_migration.go
  rollingmigrations/toml_table_spacing_migration.go
  rollingmigrations/toml_table_spacing_migration_test.go
  server/handlers.go
  server/handlers_test.go
  server/page.go
  server/site.go
Due: go

Implement Rolling Migrations System to Fix TOML Dot Notation Conflicts (#147)
  .gitignore
  devbox.json
  docs/adrs/0005-rolling-migrations-system.md
  main.go
  rollingmigrations/applicator.go
  rollingmigrations/applicator_test.go
  rollingmigrations/frontmatter_migration.go
  rollingmigrations/frontmatter_migration_test.go
  rollingmigrations/rollingmigrations_suite_test.go
  rollingmigrations/test_utils.go
  rollingmigrations/toml_dot_notation_migration.go
  rollingmigrations/toml_dot_notation_migration_test.go
  rollingmigrations/toml_table_spacing_migration.go
  rollingmigrations/toml_table_spacing_migration_test.go
  server/handlers.go
  server/handlers_test.go
  server/page.go
  server/page_test.go
  server/site.go
  server/site_test.go
Due: go

Rename Version service to SystemInfoService in proto definition (#149)
  api/proto/api/v1/system_info.proto
  gen/go/api/v1/system_info.pb.go
  gen/go/api/v1/system_info_grpc.pb.go
  gen/go/api/v1/version.pb.go
  gen/go/api/v1/version_grpc.pb.go
  internal/grpc/api/v1/server.go
  static/js/gen/api/v1/system_info_connect.ts
  static/js/gen/api/v1/system_info_pb.ts
  static/js/web-components/version-display.test.ts
  static/js/web-components/version-display.ts
Due: javascript, go

Implement Parallel Multi-Index Background Architecture
  docs/adrs/0006-parallel-indexing-architecture.md
  index/background_coordinator.go
  index/background_coordinator_test.go
  index/bleve/index.go
  index/frontmatter/index.go
  index/index_suite_test.go
  index/interfaces.go
  internal/core/interfaces.go
  internal/core/types.go
  server/indexing_test.go
  server/site.go
  vendor/github.com/davecgh/go-spew/LICENSE
  vendor/github.com/davecgh/go-spew/spew/bypass.go
  vendor/github.com/davecgh/go-spew/spew/bypasssafe.go
  vendor/github.com/davecgh/go-spew/spew/common.go
  vendor/github.com/davecgh/go-spew/spew/config.go
  vendor/github.com/davecgh/go-spew/spew/doc.go
  vendor/github.com/davecgh/go-spew/spew/dump.go
  vendor/github.com/davecgh/go-spew/spew/format.go
  vendor/github.com/davecgh/go-spew/spew/spew.go
  vendor/github.com/pmezard/go-difflib/LICENSE
  vendor/github.com/pmezard/go-difflib/difflib/difflib.go
  vendor/github.com/stretchr/testify/LICENSE
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/errors.go
  vendor/github.com/stretchr/testify/assert/forward_assertions.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
Due: go

Implement separate queues per index type for different throughput characteristics
  api/proto/api/v1/system_info.proto
  gen/go/api/v1/system_info.pb.go
  gen/go/api/v1/system_info_grpc.pb.go
  index/background_coordinator.go
  index/background_coordinator_test.go
  index/interfaces.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  main.go
  static/js/gen/api/v1/system_info_connect.ts
  static/js/gen/api/v1/system_info_pb.ts
Due: javascript, go

Create SystemInfo component combining version and indexing status
  docs/adrs/0006-parallel-indexing-architecture.md
  static/js/index.ts
  static/js/web-components/indexing-status.stories.ts
  static/js/web-components/indexing-status.test.ts
  static/js/web-components/indexing-status.ts
  static/js/web-components/system-info.stories.ts
  static/js/web-components/system-info.test.ts
  static/js/web-components/system-info.ts
  static/templates/index.tmpl
Due: javascript

Implement SystemInfo component with per-index progress tracking
  docs/adrs/0006-parallel-indexing-architecture.md
  index/background_coordinator.go
  static/js/web-components/indexing-status.stories.ts
  static/js/web-components/indexing-status.test.ts
  static/js/web-components/indexing-status.ts
  static/js/web-components/system-info-indexing.ts
  static/js/web-components/system-info-version.ts
  static/js/web-components/system-info.stories.ts
  static/js/web-components/system-info.test.ts
  static/js/web-components/system-info.ts
Due: javascript, go

Implement automatic indexing completion detection and UI improvements
  index/background_coordinator.go
  index/background_coordinator_test.go
  static/js/web-components/indexing-status.test.ts
  static/js/web-components/system-info-indexing.ts
Due: javascript, go

Implement gRPC server streaming for real-time indexing status updates
  api/proto/api/v1/system_info.proto
  gen/go/api/v1/system_info.pb.go
  gen/go/api/v1/system_info_grpc.pb.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  static/js/gen/api/v1/system_info_connect.ts
  static/js/gen/api/v1/system_info_pb.ts
  static/js/web-components/system-info.ts
Due: javascript, go

Implement comprehensive loop detection for frontmatter indexing to prevent infinite recursion
  index/frontmatter/index.go
  index/frontmatter/index_test.go
  index/frontmatter/loop_detection_test.go
Due: go

Add 3GB memory limit to systemd service for automatic failsafe restart
  deployment/simple_wiki.service
Due: none

Revert "Implement comprehensive loop detection for frontmatter indexing to prevent infinite recursion"
  index/frontmatter/index.go
  index/frontmatter/index_test.go
  index/frontmatter/loop_detection_test.go
Due: go

Fix infinite recursion in template ShowInventoryContentsOf function
  templating/templating.go
  templating/templating_test.go
Due: go

Add per-index queue depth visibility to indexing progress
  api/proto/api/v1/system_info.proto
  gen/go/api/v1/system_info.pb.go
  index/background_coordinator.go
  internal/grpc/api/v1/server.go
  static/js/gen/api/v1/system_info_pb.ts
  static/js/web-components/system-info-indexing.ts
Due: javascript, go

Add comprehensive logging to diagnose indexing hang
  index/background_coordinator.go
  index/bleve/index.go
  index/frontmatter/index.go
Due: go

Fix queue depth behavior and add work distribution tracking
  api/proto/api/v1/system_info.proto
  gen/go/api/v1/system_info.pb.go
  index/background_coordinator.go
  internal/grpc/api/v1/server.go
  static/js/gen/api/v1/system_info_pb.ts
  static/js/web-components/system-info-indexing.ts
Due: javascript, go

Optimize queue architecture and fix template execution hangs
  index/background_coordinator.go
  templating/templating.go
Due: go

Fix infinite recursion in template execution and improve code structure
  index/background_coordinator.go
  templating/templating.go
Due: go

Enhance template execution debugging with comprehensive error reporting
  deployment/simple_wiki.service
  index/bleve/index.go
  labels/printer.go
  server/page.go
  templating/templating.go
Due: go

Simplify deploy workflow by using git reference instead of version input
  .github/workflows/deploy.yml
Due: none

Fix circular reference in ReadFrontMatter by separating content updates from rendering
  server/page.go
  server/page_test.go
Due: go

Fix URL parameter handling and enhance deployment workflow
  .devbox_run_scripts/deploy.sh
  .github/workflows/deploy.yml
  devbox.json
  devbox.lock
  server/openorinit_test.go
  server/site.go
  server/url_params.go
  server/url_params_test.go
  templating/templating.go
  templating/templating_suite_test.go
  templating/templating_test.go
Due: go

Apply system-info design language to toast, dialog, and error components
  static/js/bun.lock
  static/js/package.json
  static/js/web-components/confirmation-dialog.stories.ts
  static/js/web-components/confirmation-dialog.ts
  static/js/web-components/error-display.stories.ts
  static/js/web-components/error-display.ts
  static/js/web-components/indexing-status.stories.ts
  static/js/web-components/indexing-status.test.ts
  static/js/web-components/toast-message.stories.ts
  static/js/web-components/toast-message.ts
Due: javascript

Fixing a templating change that borked a few pages.
  templating/templating.go
Due: go

Enhance design system with comprehensive Storybook documentation
  static/js/web-components/design-system.stories.ts
  static/js/web-components/shared-styles.ts
Due: javascript

improvements to styling
  .devbox_run_scripts/deploy.sh
  static/js/web-components/confirmation-dialog.test.ts
  static/js/web-components/confirmation-dialog.ts
  static/js/web-components/error-display.ts
  static/js/web-components/system-info-indexing.ts
  static/js/web-components/toast-message.ts
Due: javascript

Fix broken Storybook stories by updating to job queue proto types
  static/js/web-components/indexing-status.stories.ts
  static/js/web-components/system-info.stories.ts
Due: javascript

Add comprehensive tests for SystemInfo sub-components following TDD
  static/js/web-components/system-info-indexing.test.ts
  static/js/web-components/system-info-version.test.ts
Due: javascript

Fix all async indexing tests and linting issues
  index/background_coordinator.go
  index/index_jobs.go
  index/index_jobs_test.go
  index/interfaces.go
  main.go
  server/indexing_queue_integration_test.go
  server/indexing_service.go
  server/indexing_test.go
  server/mock_index_operator_test.go
  server/page.go
  server/page_test.go
  server/site.go
  server/site_test.go
  static/js/web-components/indexing-status.stories.ts
  static/js/web-components/system-info-indexing.test.ts
Due: javascript, go

Implement file shadowing migration system with job queues
  server/file_shadowing_migration.go
  server/file_shadowing_migration_test.go
Due: go

Fix file shadowing migration to handle base32-encoded files correctly
  server/file_shadowing_migration.go
  server/file_shadowing_migration_job_test.go
  server/file_shadowing_migration_scan_job_test.go
  server/file_shadowing_migration_test.go
  server/site.go
Due: go
