Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

coverage:
  status:
    project:
      default:
        # Allow up to 0.1% coverage drop
        threshold: 0.1%
    patch:
      default:
        # Require 90% coverage on new/changed lines
        target: 90%

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

Fix miscellaneous shell script, JS, and Go code smells (#501)
  extensions/online-order-recorder/src/popup.test.ts
  index/frontmatter/index.go
  index/frontmatter/index_test.go
  scripts/build.sh
  scripts/deploy.sh
  scripts/setup_agent_env.sh
  scripts/sign-extension.sh
  server/url_params.go
  server/url_params_test.go
  static/js/eslint-rules/require-element-tag-name-map.js
  static/js/services/editor-toolbar-coordinator.test.ts
  static/js/services/editor-upload-service.test.ts
  static/js/services/editor-upload-service.ts
  static/js/web-components/column-type-detector.ts
  static/js/web-components/system-info-identity.ts
  static/js/web-test-runner.config.mjs
  templating/templating.go
  utils/goldmarkrenderer/wiki_image_renderer.go
Due: javascript, go

Add E2E tests for collapsible headings (#545)
  e2e/tests/collapsible-headings.spec.ts
Due: none

Move async arrow function to outer scope in popup.test.ts (#542)
  extensions/online-order-recorder/src/popup.test.ts
Due: none

Fix #514: Fix shell script code smells in deploy.sh and sign-extension.sh (#564)
  scripts/deploy.sh
Due: none

Fix #515: Extract nested ternary operations in page-chat-panel.ts (#565)
  static/js/web-components/page-chat-panel.ts
Due: javascript

Fix #518: Fix shell and test file code smells (#567)
  extensions/online-order-recorder/src/components/settings-panel.test.ts
  extensions/online-order-recorder/src/popup.test.ts
Due: none

Fix #520: Reduce cognitive complexity in server Go files (#568)
  server/inventory_normalizer.go
  server/page_import_job.go
  server/site.go
Due: go

Fix #521: Reduce cognitive complexity in parser, url_params, templating (#569)
  pageimport/parser.go
  utils/goldmarkrenderer/wiki_image_renderer.go
Due: go

Fix #557: Fix duplicated string literals in Go files (S1192) (#576)
  internal/grpc/api/v1/server.go
  static/js/web-components/page-auto-refresh.test.ts
Due: javascript, go

Fix #558: Remove context.Context field from grpc_interceptor.go struct (S8242) (#577)
  internal/observability/grpc_interceptor.go
Due: go

Fix code smells in page-deletion-service.ts (#552)
  static/js/web-components/page-deletion-service.test.ts
  static/js/web-components/page-deletion-service.ts
Due: javascript

Fix #517: Fix code quality issues in require-element-tag-name-map.js (#566)
  static/js/eslint-rules/require-element-tag-name-map.js
Due: javascript

Fix #549: Fix shell script code smells in deployment/deploy.sh (#570)
  deployment/deploy.sh
Due: none

Fix #550: Fix shell quoting issues in scripts/build.sh (#571)
  scripts/build.sh
Due: none

Fix #561: Fix shell script code smells in sign-extension.sh and deploy.sh (#579)
  scripts/deploy.sh
  scripts/sign-extension.sh
Due: none

Fix #562: Add readonly modifiers to toast-message.ts, frontmatter-value-array.ts, and frontmatter-add-field-button.ts (#581)
  static/js/web-components/frontmatter-add-field-button.ts
  static/js/web-components/frontmatter-value-array.ts
  static/js/web-components/toast-message.ts
Due: javascript

Add E2E tests for XSS sanitization (#551)
  e2e/tests/xss-sanitization.spec.ts
Due: none

Fix #513: Fix wiki-checklist.ts code quality (#563)
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

Fix #553: Add readonly modifiers to frontmatter web components (S2933) (#572)
  static/js/web-components/event-types.ts
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/frontmatter-key.ts
  static/js/web-components/frontmatter-value-section.ts
  static/js/web-components/frontmatter-value-string.ts
  static/js/web-components/frontmatter-value.ts
  static/js/web-components/kernel-panic.ts
Due: javascript

Fix #560: Reduce cognitive complexity in page_import_job.go (#580)
  server/page_import_job.go
Due: go

Fix #559: Reduce cognitive complexity in require-element-tag-name-map.js (#594)
  static/js/eslint-rules/require-element-tag-name-map.js
Due: javascript

Fix #554: Fix nested ternary and optional chain issues in components (#573)
  static/js/web-components/error-display.test.ts
  static/js/web-components/error-display.ts
  static/js/web-components/frontmatter-editor-dialog.test.ts
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/frontmatter-value-section.ts
  static/js/web-test-runner.config.mjs
Due: javascript

Fix #593: Fix frontend code smells (S1444, S7773, S7764, S7781) (#599)
  static/js/index.ts
  static/js/web-components/blog-new-post-dialog.ts
  static/js/web-components/column-type-detector.ts
  static/js/web-components/page-auto-refresh.ts
Due: javascript

Fix #556: Reduce cognitive complexity in site.go and frontmatter/index.go (#575)
  index/frontmatter/index_test.go
  internal/bootstrap/grpc_server_options_test.go
  internal/bootstrap/server.go
  main.go
  main_test.go
  server/build_initial_page_text_test.go
  server/combine_frontmatter_test.go
  server/handlers_test.go
  server/handlers_web.go
  server/site.go
  server/site_css_test.go
Due: go

Fix S6606: use nullish coalescing instead of logical OR (#606)
  static/js/services/editor-toolbar-coordinator.ts
  static/js/services/editor-upload-service.ts
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/system-info-version.ts
Due: javascript

Fix S1444: add readonly to public static fields in 4 components (#607)
  static/js/web-components/chat-message-bubble.ts
  static/js/web-components/collapsible-heading.ts
  static/js/web-components/confirmation-dialog.ts
  static/js/web-components/title-input.ts
Due: javascript

Fix S7735: remove unnecessary conditionals across 5 components (#608)
  static/js/web-components/frontmatter-value-section.ts
  static/js/web-components/insert-new-page-dialog.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/page-import-dialog.ts
  static/js/web-components/qr-scanner.ts
Due: javascript

Fix #600: Fix Go code smells (S1192, S8242) and CSS S125 (#615)
  migrations/eager/migration_test_support.go
  server/handlers_web.go
  static/css/default.css
  tailscale/interceptor.go
Due: go

Fix #592: Fix code smells in online-order-recorder extension (#614)
  extensions/online-order-recorder/bun.lock
  extensions/online-order-recorder/package.json
  extensions/online-order-recorder/src/components/order-list.test.ts
  extensions/online-order-recorder/src/content.ts
  extensions/online-order-recorder/src/merchants/amazon.test.ts
  extensions/online-order-recorder/src/popup.test.ts
  extensions/online-order-recorder/vitest.config.ts
  scripts/run_fe_tests.sh
  sonar-project.properties
Due: none

Fix S1444: make public static fields readonly in system-info and utility components (#624)
  static/js/web-components/design-system.stories.ts
  static/js/web-components/error-display.ts
  static/js/web-components/file-drop-zone.ts
  static/js/web-components/kernel-panic.ts
  static/js/web-components/system-info-identity.ts
  static/js/web-components/system-info-jobs.ts
  static/js/web-components/system-info-page.ts
  static/js/web-components/system-info-version.ts
  static/js/web-components/system-info.ts
Due: javascript

Fix S7764: remove unnecessary non-null assertions across 5 files (#609)
  static/js/web-components/column-type-detector.ts
  static/js/web-components/frontmatter-value-section.test.ts
  static/js/web-components/frontmatter-value-section.ts
  static/js/web-components/table-filter-popover.test.ts
  static/js/web-components/table-filter-popover.ts
  static/js/web-components/wiki-table.test.ts
  static/js/web-components/wiki-table.ts
Due: javascript

Fix #590: Fix Go duplicated strings, Dockerfile version tag, and stories nested functions (#596)
  .devcontainer/Dockerfile
  migrations/eager/migration_test_support.go
  server/handlers_web.go
  sonar-project.properties
  static/js/web-components/design-system.stories.ts
  static/js/web-components/toast-message.stories.ts
Due: javascript, go

Fix #591: Reduce cognitive complexity in page-chat-panel.ts (#597)
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript

Refactor server.go: reduce parameter count and cognitive complexity (#502)
  internal/bootstrap/server.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/file_storage_test.go
  internal/grpc/api/v1/inventory_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_internal_test.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
Due: go

Fix S1444: make public static fields readonly — dialogs + editor + inventory (#631)
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/insert-new-page-dialog.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/inventory-qr-scanner.ts
  static/js/web-components/page-import-dialog.ts
  static/js/web-components/qr-scanner.ts
  static/js/web-components/toast-message.ts
  static/js/web-components/wiki-checklist.ts
  static/js/web-components/wiki-editor.ts
Due: javascript

Exclude Python files from SonarCloud analysis (#633)
  sonar-project.properties
Due: none

Fix security hotspots: replace http:// with https:// in test URLs (#632)
  extensions/online-order-recorder/src/background.test.ts
  extensions/online-order-recorder/src/components/settings-panel.test.ts
  extensions/online-order-recorder/src/content-wiki-detect.test.ts
  sonar-project.properties
Due: none

Fix S1444: make public static fields readonly — frontmatter + search + media (#630)
  static/js/web-components/frontmatter-add-field-button.ts
  static/js/web-components/frontmatter-key.ts
  static/js/web-components/frontmatter-value-array.ts
  static/js/web-components/frontmatter-value-section.ts
  static/js/web-components/frontmatter-value-string.ts
  static/js/web-components/frontmatter-value.ts
  static/js/web-components/wiki-blog.ts
  static/js/web-components/wiki-image.ts
  static/js/web-components/wiki-search-results.ts
  static/js/web-components/wiki-search.ts
Due: javascript

Fix S3863 + S4325: remove redundant types and unnecessary assertions (#635)
  static/js/page-import/flatten-frontmatter.ts
  static/js/web-components/qr-scanner.stories.ts
  static/js/web-components/table-data-extractor.ts
  static/js/web-components/wiki-checklist.ts
  static/js/web-components/wiki-table.ts
Due: javascript
