Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

fix: address code review issues for page import feature
  internal/grpc/api/v1/server.go
  pageimport/parser.go
  server/page_import_job.go
  static/js/page-import/flatten-frontmatter.test.ts
  static/js/page-import/flatten-frontmatter.ts
  static/js/tsconfig.json
  static/js/web-components/page-import-dialog.ts
Due: javascript, go

fix: resolve page-import-dialog test hang issue
  static/js/web-components/page-import-dialog-ui.test.ts
  static/js/web-components/page-import-dialog.test.ts
Due: javascript

fix: resolve test hang in page-import-dialog cancel button test
  static/js/web-components/page-import-dialog-ui.test.ts
  static/js/web-components/page-import-dialog.test.ts
Due: javascript

test: add comprehensive tests for PageImport gRPC methods
  internal/grpc/api/v1/server_test.go
Due: go

refactor: rename array ADD operation to ENSURE in UI
  static/js/web-components/page-import-dialog.stories.ts
  static/js/web-components/page-import-dialog.ts
Due: javascript

ui: hide duplicate file select button on desktop
  static/js/web-components/page-import-dialog.ts
Due: javascript

ui: simplify preview by merging field sections into unified 'Fields'
  static/js/web-components/page-import-dialog.ts
Due: javascript

ui: auto-parse CSV on file select, remove intermediate state
  static/js/web-components/page-import-dialog.test.ts
  static/js/web-components/page-import-dialog.ts
Due: javascript

fix: properly poll job status until import is complete
  static/js/web-components/page-import-dialog.ts
Due: javascript

fix: remove unused method receivers in noOpDispatcher
  internal/grpc/api/v1/server_test.go
Due: go

fix: correct job queue name for status polling + add temp delay
  server/page_import_job.go
  static/js/web-components/page-import-dialog.ts
Due: javascript, go

refactor: create one import job per page for better progress visibility
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  server/page_import_job.go
  server/page_import_job_test.go
  static/js/web-components/page-import-dialog.ts
Due: javascript, go

chore: remove temporary 10-second delay from page import job
  server/page_import_job.go
Due: go

fix: change importing state button from disabled Cancel to enabled Close
  static/js/web-components/page-import-dialog.test.ts
  static/js/web-components/page-import-dialog.ts
Due: javascript

fix: properly detect job completion and stop streaming
  static/js/web-components/page-import-dialog.ts
Due: javascript

fix: address panel review issues
  internal/grpc/api/v1/server.go
  server/page_import_job.go
  server/page_import_job_test.go
  static/js/web-components/page-import-dialog.test.ts
  static/js/web-components/page-import-dialog.ts
Due: javascript, go

fix: properly detect job completion by tracking highWaterMark
  static/js/web-components/page-import-dialog.ts
Due: javascript

refactor: simplify importing state to job queue monitor
  static/js/web-components/page-import-dialog.stories.ts
  static/js/web-components/page-import-dialog.test.ts
  static/js/web-components/page-import-dialog.ts
Due: javascript

fix: address PR review comments for page import feature
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  pkg/jobs/coordinator.go
  pkg/jobs/types.go
  static/js/web-components/page-import-dialog.ts
Due: javascript, go

fix: address expert panel code review issues
  CONVENTIONS.md
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  pkg/jobs/coordinator.go
  pkg/jobs/test_helpers.go
  pkg/jobs/types.go
  static/js/web-components/page-import-dialog.ts
Due: javascript, go

test: add coverage for template read error handling
  internal/grpc/api/v1/server_test.go
Due: go

test: add ErrorCount verification for template errors
  internal/grpc/api/v1/server_test.go
Due: go

test: add comprehensive coverage for page import feature
  server/page_import_job_test.go
  static/js/page-import/flatten-frontmatter.test.ts
  static/js/web-components/page-import-dialog.test.ts
Due: javascript, go

fix: cast through unknown for undefined test in flatten-frontmatter
  static/js/page-import/flatten-frontmatter.test.ts
Due: javascript

feat: add inventory-specific validations to page import
  internal/grpc/api/v1/server.go
  pageimport/inventory_validator.go
  pageimport/inventory_validator_test.go
Due: go

feat: add CSV page import feature (#233)
  CONVENTIONS.md
  api/proto/api/v1/page_import.proto
  gen/go/api/v1/page_import.pb.go
  gen/go/api/v1/page_import_grpc.pb.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  pageimport/inventory_validator.go
  pageimport/inventory_validator_test.go
  pageimport/pageimport_suite_test.go
  pageimport/parser.go
  pageimport/parser_test.go
  pkg/jobs/coordinator.go
  pkg/jobs/test_helpers.go
  pkg/jobs/types.go
  server/page_import_job.go
  server/page_import_job_test.go
  static/js/gen/api/v1/page_import_pb.ts
  static/js/index.ts
  static/js/page-import/flatten-frontmatter.test.ts
  static/js/page-import/flatten-frontmatter.ts
  static/js/simple_wiki.js
  static/js/tsconfig.json
  static/js/web-components/page-import-dialog.stories.ts
  static/js/web-components/page-import-dialog.test.ts
  static/js/web-components/page-import-dialog.ts
  static/templates/index.tmpl
Due: javascript, go

Remove "(not Inventory Only)" from filter warning to fix mobile overflow (#232)
  static/js/web-components/wiki-search-results.stories.ts
  static/js/web-components/wiki-search-results.test.ts
  static/js/web-components/wiki-search-results.ts
Due: javascript

fix: bump devbox-install-action to v0.14.0 to fix nix installer failure
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

chore: bump devbox-install-action to v0.14.0 in remaining workflows
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/e2e.yml
  .github/workflows/frontend.yml
  .github/workflows/go.yml
Due: none

fix: route ConnectRPC reflection before vanguard to prevent schema resolution crash
  internal/bootstrap/server.go
  internal/bootstrap/vanguard_transcoder_test.go
Due: go

test: fix shared-styles tests to follow project conventions
  static/js/web-components/shared-styles.test.ts
Due: javascript

Extract shared dialog animations to shared-styles.ts (all dialogs) (#237)
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/insert-new-page-dialog.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/page-import-dialog.ts
  static/js/web-components/shared-styles.test.ts
  static/js/web-components/shared-styles.ts
Due: javascript

Refactor test structure: eliminate local variable workarounds in GetContainerItems tests (#241)
  server/inventory_normalizer_test.go
Due: go

Refactor: Replace concrete lumber.Logger with Logger interface (#238)
  pkg/jobs/coordinator.go
  pkg/jobs/cron_scheduler.go
  pkg/jobs/cron_scheduler_test.go
  pkg/logging/logger.go
  pkg/logging/lumber_adapter.go
  server/inventory_normalization_job.go
  server/inventory_normalization_job_test.go
  server/inventory_normalizer.go
  server/inventory_normalizer_test.go
  server/page_import_job.go
  server/page_import_job_test.go
  server/page_inventory_normalization_job.go
Due: go

Standardize web components on Lit decorators (#243)
  CONVENTIONS.md
  static/js/web-components/confirmation-interlock-button.ts
  static/js/web-components/editor-context-menu.ts
  static/js/web-components/editor-toolbar.ts
  static/js/web-components/frontmatter-add-field-button.ts
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/frontmatter-key.ts
  static/js/web-components/frontmatter-value-array.ts
  static/js/web-components/frontmatter-value-section.ts
  static/js/web-components/frontmatter-value-string.ts
  static/js/web-components/frontmatter-value.ts
  static/js/web-components/insert-new-page-dialog.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/system-info-identity.ts
  static/js/web-components/system-info-indexing.ts
  static/js/web-components/system-info-version.ts
  static/js/web-components/system-info.ts
  static/js/web-components/toast-message.ts
  static/js/web-components/wiki-search-results.ts
  static/js/web-components/wiki-search.ts
Due: javascript

Enable errorlint to enforce error wrapping with %w (#239)
  .golangci.yml
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  labels/printer.go
  server/site.go
  wikipage/page.go
Due: go

Add all common architectures to wiki-cli cross-build, improve help text for AI agents
  cmd/wiki-cli/build-all.sh
  cmd/wiki-cli/generate.go
  cmd/wiki-cli/main.go
Due: go

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
