Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

Migrate frontend uploads to gRPC and replace Dropzone.js with Lit component
  static/js/index.ts
  static/js/services/editor-upload-service.test.ts
  static/js/services/editor-upload-service.ts
  static/js/simple_wiki.js
  static/js/web-components/file-drop-zone.stories.ts
  static/js/web-components/file-drop-zone.test.ts
  static/js/web-components/file-drop-zone.ts
  static/templates/index.tmpl
  static/vendor/css/dropzone.css
  static/vendor/js/dropzone.js
Due: javascript

fix: update e2e test to expect file-drop-zone instead of form element
  e2e/tests/critical-paths.spec.ts
Due: none

Migrate frontend uploads to gRPC and replace Dropzone.js (#290)
  e2e/tests/critical-paths.spec.ts
  static/js/index.ts
  static/js/services/editor-upload-service.test.ts
  static/js/services/editor-upload-service.ts
  static/js/simple_wiki.js
  static/js/web-components/file-drop-zone.stories.ts
  static/js/web-components/file-drop-zone.test.ts
  static/js/web-components/file-drop-zone.ts
  static/templates/index.tmpl
  static/vendor/css/dropzone.css
  static/vendor/js/dropzone.js
Due: javascript

Fix inline editor cursor positioning in wiki-checklist
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

Fix inline editor cursor positioning in wiki-checklist (#291)
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

Fix checklist text input cursor by cancelling drag on inputs
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

Fix checklist text input cursor positioning (#292)
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

Fix checklist cursor positioning by removing static draggable
  static/js/web-components/wiki-checklist-cursor.integration.test.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

Fix checklist cursor positioning by removing static draggable (#293)
  static/js/web-components/wiki-checklist-cursor.integration.test.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

Replace legacy jQuery editor with wiki-editor Lit web component (#294)
  go.mod
  go.sum
  static/css/default.css
  static/js/index.ts
  static/js/services/editor-save-queue.test.ts
  static/js/services/editor-save-queue.ts
  static/js/services/page-content-reconstructor.test.ts
  static/js/services/page-content-reconstructor.ts
  static/js/simple_wiki.js
  static/js/web-components/file-drop-zone.ts
  static/js/web-components/wiki-editor.stories.ts
  static/js/web-components/wiki-editor.test.ts
  static/js/web-components/wiki-editor.ts
  static/templates/index.tmpl
Due: javascript

Fix formatting toolbar in shadow DOM, remove idle status text, handle page changes
  static/js/services/editor-context-menu-coordinator.test.ts
  static/js/services/editor-context-menu-coordinator.ts
  static/js/web-components/wiki-editor.test.ts
  static/js/web-components/wiki-editor.ts
Due: javascript

Hide status bar when idle with fade in/out animation
  static/js/web-components/wiki-editor.test.ts
  static/js/web-components/wiki-editor.ts
Due: javascript

Fix coordinator setup timing, cursor reset, and toolbar focus
  static/js/services/editor-context-menu-coordinator.ts
  static/js/web-components/wiki-editor.ts
Due: javascript

Add integration tests and revert broken preventDefault on toolbar
  static/js/services/editor-context-menu-coordinator.ts
  static/js/web-components/wiki-editor-integration.test.ts
Due: javascript

Unify editor toolbar into shadow DOM and remove context menu
  static/css/default.css
  static/js/index.ts
  static/js/services/editor-context-menu-coordinator.ts
  static/js/services/editor-toolbar-coordinator.test.ts
  static/js/services/editor-toolbar-coordinator.ts
  static/js/web-components/editor-context-menu.test.ts
  static/js/web-components/editor-context-menu.ts
  static/js/web-components/editor-toolbar.ts
  static/js/web-components/wiki-editor-integration.test.ts
  static/js/web-components/wiki-editor.test.ts
  static/js/web-components/wiki-editor.ts
  static/templates/index.tmpl
Due: javascript

Add .claude/worktrees/ to .gitignore
  .gitignore
Due: none

Disable empty-selection formatting, fix status bar fade, hide menu bar, improve mobile selection
  static/css/default.css
  static/js/services/editor-toolbar-coordinator.test.ts
  static/js/services/editor-toolbar-coordinator.ts
  static/js/web-components/editor-toolbar.test.ts
  static/js/web-components/editor-toolbar.ts
  static/js/web-components/wiki-editor-integration.test.ts
  static/js/web-components/wiki-editor.test.ts
  static/js/web-components/wiki-editor.ts
Due: javascript

Fix selection detection: use direct textarea events instead of selectionchange
  static/js/web-components/wiki-editor-integration.test.ts
  static/js/web-components/wiki-editor.test.ts
  static/js/web-components/wiki-editor.ts
Due: javascript

Replace legacy jQuery editor with wiki-editor Lit web component (#294)
  .gitignore
  go.mod
  go.sum
  static/css/default.css
  static/js/index.ts
  static/js/services/editor-context-menu-coordinator.test.ts
  static/js/services/editor-context-menu-coordinator.ts
  static/js/services/editor-save-queue.test.ts
  static/js/services/editor-save-queue.ts
  static/js/services/editor-toolbar-coordinator.test.ts
  static/js/services/editor-toolbar-coordinator.ts
  static/js/services/page-content-reconstructor.test.ts
  static/js/services/page-content-reconstructor.ts
  static/js/simple_wiki.js
  static/js/web-components/editor-context-menu.test.ts
  static/js/web-components/editor-context-menu.ts
  static/js/web-components/editor-toolbar.test.ts
  static/js/web-components/editor-toolbar.ts
  static/js/web-components/file-drop-zone.ts
  static/js/web-components/wiki-editor-integration.test.ts
  static/js/web-components/wiki-editor.stories.ts
  static/js/web-components/wiki-editor.test.ts
  static/js/web-components/wiki-editor.ts
  static/templates/index.tmpl
Due: javascript

Add interactive wiki-table web component for enhanced markdown tables
  static/js/index.ts
  static/js/web-components/column-type-detector.test.ts
  static/js/web-components/column-type-detector.ts
  static/js/web-components/table-data-extractor.test.ts
  static/js/web-components/table-data-extractor.ts
  static/js/web-components/table-sorter-filterer.test.ts
  static/js/web-components/table-sorter-filterer.ts
  static/js/web-components/wiki-table.stories.ts
  static/js/web-components/wiki-table.test.ts
  static/js/web-components/wiki-table.ts
  utils/goldmarkrenderer/goldmark_renderer.go
  utils/goldmarkrenderer/goldmark_renderer_test.go
  utils/goldmarkrenderer/wiki_table_renderer.go
Due: javascript, go

Address PR review feedback: accessibility and currency pattern fixes
  static/js/web-components/column-type-detector.test.ts
  static/js/web-components/column-type-detector.ts
  static/js/web-components/wiki-table.ts
Due: javascript

Redesign wiki-table UX: filter popovers, status bar, and header zones
  static/js/web-components/shared-styles.ts
  static/js/web-components/table-data-extractor.test.ts
  static/js/web-components/table-data-extractor.ts
  static/js/web-components/table-filter-popover.stories.ts
  static/js/web-components/table-filter-popover.test.ts
  static/js/web-components/table-filter-popover.ts
  static/js/web-components/table-sorter-filterer.test.ts
  static/js/web-components/table-sorter-filterer.ts
  static/js/web-components/wiki-checklist.ts
  static/js/web-components/wiki-table.stories.ts
  static/js/web-components/wiki-table.test.ts
  static/js/web-components/wiki-table.ts
Due: javascript

Fix popover opening, add sort pill, segmented toggle, scroll shadows
  static/js/web-components/table-filter-popover.test.ts
  static/js/web-components/table-filter-popover.ts
  static/js/web-components/wiki-table.stories.ts
  static/js/web-components/wiki-table.test.ts
  static/js/web-components/wiki-table.ts
Due: javascript

Add integration tests and sort picker direction indicators
  static/js/web-components/wiki-table.test.ts
  static/js/web-components/wiki-table.ts
Due: javascript

Compact status bar pills and add OK/Cancel to filter popover
  static/js/web-components/table-filter-popover.test.ts
  static/js/web-components/table-filter-popover.ts
  static/js/web-components/wiki-table.test.ts
  static/js/web-components/wiki-table.ts
Due: javascript

Distinct integer/decimal types, smart filter selection, and sticky state
  static/js/web-components/column-type-detector.test.ts
  static/js/web-components/column-type-detector.ts
  static/js/web-components/table-data-extractor.test.ts
  static/js/web-components/table-data-extractor.ts
  static/js/web-components/table-filter-popover.stories.ts
  static/js/web-components/table-filter-popover.test.ts
  static/js/web-components/table-filter-popover.ts
  static/js/web-components/table-sorter-filterer.test.ts
  static/js/web-components/table-sorter-filterer.ts
  static/js/web-components/table-state-persistence.test.ts
  static/js/web-components/table-state-persistence.ts
  static/js/web-components/wiki-table.test.ts
  static/js/web-components/wiki-table.ts
Due: javascript

Remove dead code: filterRows, duplicate parseForType, empty callback
  static/js/web-components/column-type-detector.ts
  static/js/web-components/table-data-extractor.ts
  static/js/web-components/table-filter-popover.ts
  static/js/web-components/table-sorter-filterer.test.ts
  static/js/web-components/table-sorter-filterer.ts
Due: javascript

Address PR review feedback: parsing, HTML preservation, and CI fixes
  revive.toml
  scripts/build.sh
  static/js/web-components/column-type-detector.test.ts
  static/js/web-components/column-type-detector.ts
  static/js/web-components/table-data-extractor.test.ts
  static/js/web-components/table-data-extractor.ts
  static/js/web-components/table-filter-popover.ts
  static/js/web-components/table-sorter-filterer.test.ts
  static/js/web-components/table-state-persistence.ts
  static/js/web-components/wiki-table.ts
Due: javascript

Fix e2e tests for wiki-editor shadow DOM and port conflicts
  e2e/bun.lock
  e2e/playwright.config.ts
  e2e/tests/critical-paths.spec.ts
Due: none

Fix build.sh to include wiki-cli generation
  scripts/build.sh
Due: none

Address PR review feedback: accessibility and currency pattern fixes
  scripts/build.sh
  static/js/web-components/table-filter-popover.test.ts
  static/js/web-components/table-filter-popover.ts
Due: javascript

Fix codecov: upgrade to v4 action and add coverage debug output
  .github/workflows/go.yml
Due: none

Add interactive wiki-table web component (#296)
  .github/workflows/go.yml
  e2e/bun.lock
  e2e/playwright.config.ts
  e2e/tests/critical-paths.spec.ts
  revive.toml
  scripts/build.sh
  static/js/index.ts
  static/js/web-components/column-type-detector.test.ts
  static/js/web-components/column-type-detector.ts
  static/js/web-components/shared-styles.ts
  static/js/web-components/table-data-extractor.test.ts
  static/js/web-components/table-data-extractor.ts
  static/js/web-components/table-filter-popover.stories.ts
  static/js/web-components/table-filter-popover.test.ts
  static/js/web-components/table-filter-popover.ts
  static/js/web-components/table-sorter-filterer.test.ts
  static/js/web-components/table-sorter-filterer.ts
  static/js/web-components/table-state-persistence.test.ts
  static/js/web-components/table-state-persistence.ts
  static/js/web-components/wiki-checklist.ts
  static/js/web-components/wiki-table.stories.ts
  static/js/web-components/wiki-table.test.ts
  static/js/web-components/wiki-table.ts
  utils/goldmarkrenderer/goldmark_renderer.go
  utils/goldmarkrenderer/goldmark_renderer_test.go
  utils/goldmarkrenderer/wiki_table_renderer.go
Due: javascript, go

Add Online Order Recorder Firefox extension
  .gitignore
  devbox.json
  devbox.lock
  extensions/online-order-recorder/build-extension.sh
  extensions/online-order-recorder/bun.lock
  extensions/online-order-recorder/generate.go
  extensions/online-order-recorder/icons/icon-48.png
  extensions/online-order-recorder/icons/icon-96.png
  extensions/online-order-recorder/manifest.json
  extensions/online-order-recorder/package.json
  extensions/online-order-recorder/popup.css
  extensions/online-order-recorder/popup.html
  extensions/online-order-recorder/src/background.ts
  extensions/online-order-recorder/src/browser.d.ts
  extensions/online-order-recorder/src/components/order-list.ts
  extensions/online-order-recorder/src/components/settings-panel.ts
  extensions/online-order-recorder/src/content.ts
  extensions/online-order-recorder/src/merchants/amazon.test.ts
  extensions/online-order-recorder/src/merchants/amazon.ts
  extensions/online-order-recorder/src/merchants/types.ts
  extensions/online-order-recorder/src/popup.ts
  extensions/online-order-recorder/src/table-formatter.test.ts
  extensions/online-order-recorder/src/table-formatter.ts
  extensions/online-order-recorder/src/wiki-client.ts
  extensions/online-order-recorder/test-fixtures/amazon-order-history.html
  extensions/online-order-recorder/tsconfig.json
  extensions/online-order-recorder/vitest.config.ts
  server/handlers_web.go
Due: go

Add Online Order Recorder Firefox extension (#302)
  .gitignore
  devbox.json
  devbox.lock
  extensions/online-order-recorder/build-extension.sh
  extensions/online-order-recorder/bun.lock
  extensions/online-order-recorder/generate.go
  extensions/online-order-recorder/icons/icon-48.png
  extensions/online-order-recorder/icons/icon-96.png
  extensions/online-order-recorder/manifest.json
  extensions/online-order-recorder/package.json
  extensions/online-order-recorder/popup.css
  extensions/online-order-recorder/popup.html
  extensions/online-order-recorder/src/background.ts
  extensions/online-order-recorder/src/browser.d.ts
  extensions/online-order-recorder/src/components/order-list.ts
  extensions/online-order-recorder/src/components/settings-panel.ts
  extensions/online-order-recorder/src/content.ts
  extensions/online-order-recorder/src/merchants/amazon.test.ts
  extensions/online-order-recorder/src/merchants/amazon.ts
  extensions/online-order-recorder/src/merchants/types.ts
  extensions/online-order-recorder/src/popup.ts
  extensions/online-order-recorder/src/table-formatter.test.ts
  extensions/online-order-recorder/src/table-formatter.ts
  extensions/online-order-recorder/src/wiki-client.ts
  extensions/online-order-recorder/test-fixtures/amazon-order-history.html
  extensions/online-order-recorder/tsconfig.json
  extensions/online-order-recorder/vitest.config.ts
  server/handlers_web.go
Due: go

Add extensions to build pipeline
  scripts/build.sh
Due: none

Add extensions to build pipeline (#303)
  scripts/build.sh
Due: none

Build extensions before static embed
  scripts/build.sh
Due: none

Build extensions before static embed (#304)
  scripts/build.sh
Due: none

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
