Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

coverage:
  status:
    project:
      default:
        # Allow up to 0.1% coverage drop
        threshold: 0.1%
    patch:
      default:
        # Require 90% coverage on new/changed lines
        target: 90%

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

docs(help): add large page handling guide
  cmd/wiki-cli/pool.go
  internal/syspage/embedded/help.md
  internal/syspage/embedded/help_handling_large_pages.md
  internal/syspage/embedded/help_macro_blog.md
  internal/syspage/embedded/help_macro_checklist.md
  internal/syspage/embedded/help_templating.md
  internal/syspage/loader_test.go
Due: go

fix(checklist): address dedupe review feedback
  api/proto/api/v1/checklist.proto
  cmd/connector-roundtrip-test/main.go
  gen/go/api/v1/checklist.pb.go
  internal/grpc/api/v1/checklist.go
  internal/grpc/api/v1/checklist_grpc_test.go
  server/checklistmutator/mutator.go
  server/checklistmutator/mutator_test.go
  static/js/gen/api/v1/checklist_pb.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript, go

docs(help): address large page review feedback
  internal/syspage/embedded/help_handling_large_pages.md
  internal/syspage/loader_test.go
Due: go

fix(agent): drain scheduled turns on pool shutdown
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/scheduled_turn.go
  cmd/wiki-cli/scheduled_turn_test.go
Due: go

test(agent): cover scheduled turn shutdown drain paths
  cmd/wiki-cli/pool_test.go
  cmd/wiki-cli/scheduled_turn_test.go
Due: go

test(server): decouple cli binary handler tests from generated assets
  server/handlers_test.go
  server/handlers_web.go
Due: go

fix(checklist): block deleting future deadline items
  server/checklistmutator/mutator.go
  server/checklistmutator/mutator_test.go
Due: go

fix(error-display): add copyable error details (#1021)
  static/js/web-components/augment-error-service.ts
  static/js/web-components/error-display.test.ts
  static/js/web-components/error-display.ts
Due: javascript

fix(frontmatter): trap focus in editor dialog (#1024)
  devbox.json
  e2e/tests/frontmatter-dialog-accessibility.spec.ts
  scripts/run_e2e_test.sh
  static/js/web-components/frontmatter-editor-dialog.test.ts
  static/js/web-components/frontmatter-editor-dialog.ts
Due: javascript

fix(agent): audit scheduled turn summaries (#1071)
  .github/workflows/release.yml
  api/proto/api/v1/agent_metadata.proto
  cmd/wiki-cli/scheduled_turn.go
  cmd/wiki-cli/scheduled_turn_test.go
  gen/go/api/v1/agent_metadata.pb.go
  gen/go/api/v1/apiv1mcp/agent_metadata.pb.mcp.go
  gen/go/api/v1/apiv1mcp/scheduled_turn.pb.mcp.go
  internal/grpc/api/v1/agent_metadata.go
  internal/grpc/api/v1/agent_metadata_test.go
  internal/grpc/api/v1/server.go
  internal/syspage/embedded/help_scheduled_agents.md
  server/agent_chat_context_store.go
  server/agent_chat_context_store_test.go
  server/agent_schedule_store.go
  server/agent_schedule_store_test.go
  server/schedule_state_machine.go
  server/schedule_state_machine_test.go
  static/js/gen/api/v1/agent_metadata_pb.ts
  static/js/web-test-runner.config.mjs
Due: javascript, go

fix(checklist): bound list responses and dedupe items (#1072)
  api/proto/api/v1/checklist.proto
  cmd/connector-roundtrip-test/main.go
  cmd/wiki-cli/checklist.go
  gen/go/api/v1/apiv1connect/checklist.connect.go
  gen/go/api/v1/apiv1mcp/checklist.pb.mcp.go
  gen/go/api/v1/checklist.pb.go
  gen/go/api/v1/checklist_grpc.pb.go
  internal/grpc/api/v1/checklist.go
  internal/grpc/api/v1/checklist_grpc_test.go
  server/checklistmutator/mutator.go
  server/checklistmutator/mutator_test.go
  static/js/gen/api/v1/checklist_pb.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript, go

docs(help): add large page handling guide (#1073)
  cmd/wiki-cli/pool.go
  internal/syspage/embedded/help.md
  internal/syspage/embedded/help_handling_large_pages.md
  internal/syspage/embedded/help_macro_blog.md
  internal/syspage/embedded/help_macro_checklist.md
  internal/syspage/embedded/help_templating.md
  internal/syspage/loader_test.go
Due: go

fix(agent): drain scheduled turns on pool shutdown (#1075)
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  cmd/wiki-cli/scheduled_turn.go
  cmd/wiki-cli/scheduled_turn_test.go
Due: go

fix(checklist): block deleting future deadline items (#1076)
  server/checklistmutator/mutator.go
  server/checklistmutator/mutator_test.go
Due: go

fix(error-display): add copyable error details (#1077)
  static/js/web-components/augment-error-service.ts
  static/js/web-components/error-display.test.ts
  static/js/web-components/error-display.ts
Due: javascript

fix(frontmatter): trap focus in editor dialog (#1079)
  devbox.json
  e2e/tests/frontmatter-dialog-accessibility.spec.ts
  scripts/run_e2e_test.sh
  static/js/web-components/frontmatter-editor-dialog.test.ts
  static/js/web-components/frontmatter-editor-dialog.ts
Due: javascript

fix(agent): return appended activity summary entry
  server/agent_chat_context_store.go
Due: go

refactor(connectors): centralize connector kind dispatch (#1044)
  .semgrep/rules.yml
  .semgrep/tests/error_rules.go
  .semgrep/tests/error_rules.yaml
  internal/grpc/api/v1/connector_service.go
  internal/grpc/api/v1/connector_service_dispatch_test.go
  internal/grpc/api/v1/connector_service_keep_test.go
  internal/grpc/api/v1/connector_service_runtime_test.go
  internal/grpc/api/v1/connector_service_tasks_test.go
  internal/grpc/api/v1/server.go
Due: go

test(agent): cover summary append error paths
  internal/syspage/embedded/help_scheduled_agents.md
  server/agent_chat_context_store.go
  server/agent_chat_context_store_test.go
Due: go

refactor(connectors): centralize connector kind dispatch (#1078)
  .semgrep/rules.yml
  .semgrep/tests/error_rules.go
  .semgrep/tests/error_rules.yaml
  internal/grpc/api/v1/connector_service.go
  internal/grpc/api/v1/connector_service_dispatch_test.go
  internal/grpc/api/v1/connector_service_keep_test.go
  internal/grpc/api/v1/connector_service_runtime_test.go
  internal/grpc/api/v1/connector_service_tasks_test.go
  internal/grpc/api/v1/server.go
Due: go

fix(server): support conditional GET / HEAD on /cli/wiki-cli-* (#1056) (#1057)
  server/handlers_test.go
  server/handlers_web.go
Due: go

fix(agent): return appended activity summary entry (#1074)
  internal/syspage/embedded/help_scheduled_agents.md
  server/agent_chat_context_store.go
  server/agent_chat_context_store_test.go
Due: go

feat(page): read large page sections
  .github/workflows/e2e.yml
  api/proto/api/v1/page_management.proto
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/mcp_anthropic_schema_test.go
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  gen/go/api/v1/apiv1connect/page_management.connect.go
  gen/go/api/v1/apiv1mcp/page_management.pb.mcp.go
  gen/go/api/v1/page_management.pb.go
  gen/go/api/v1/page_management_grpc.pb.go
  internal/grpc/api/v1/page_management.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  internal/syspage/embedded/help_handling_large_pages.md
  internal/syspage/loader_test.go
  static/js/gen/api/v1/page_management_pb.ts
Due: javascript, go

feat(page): read large page sections (#1080)
  .github/workflows/e2e.yml
  api/proto/api/v1/page_management.proto
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/mcp_anthropic_schema_test.go
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  gen/go/api/v1/apiv1connect/page_management.connect.go
  gen/go/api/v1/apiv1mcp/page_management.pb.mcp.go
  gen/go/api/v1/page_management.pb.go
  gen/go/api/v1/page_management_grpc.pb.go
  internal/grpc/api/v1/page_management.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  internal/syspage/embedded/help_handling_large_pages.md
  internal/syspage/loader_test.go
  static/js/gen/api/v1/page_management_pb.ts
Due: javascript, go

fix(index): prune stale frontmatter value buckets
  index/frontmatter/index.go
  index/frontmatter/index_test.go
Due: go

fix(index): prune stale frontmatter value buckets (#1085)
  index/frontmatter/index.go
  index/frontmatter/index_test.go
Due: go

fix(search): unblock Bleve queries during indexing backlog
  index/bleve/index.go
  index/bleve/index_concurrency_test.go
Due: go

fix(readpage): return raw content without template expansion
  api/proto/api/v1/page_management.proto
  gen/go/api/v1/page_management.pb.go
  internal/grpc/api/v1/page_management.go
  internal/grpc/api/v1/server_test.go
  static/js/gen/api/v1/page_management_pb.ts
Due: javascript, go

fix(readpage): fail fast when template expansion times out
  api/proto/api/v1/page_management.proto
  gen/go/api/v1/page_management.pb.go
  internal/grpc/api/v1/page_management.go
  internal/grpc/api/v1/server_test.go
  static/js/gen/api/v1/page_management_pb.ts
Due: javascript, go

fix(schedule): preserve background activity completion
  server/agent_schedule_store.go
  server/agent_schedule_store_test.go
Due: go

fix(schedule): record hard timeout as timeout
  internal/syspage/embedded/help_scheduled_agents.md
  main.go
  main_test.go
  server/agent_turn_job.go
  server/agent_turn_job_test.go
  server/site.go
Due: go

fix(goldmark): name sanitizer element literals
  utils/goldmarkrenderer/goldmark_renderer.go
Due: go

feat(templating): support safe Google Maps embeds
  internal/syspage/embedded/help_macro_map_embed.md
  internal/syspage/embedded/help_templating.md
  static/css/default.css
  templating/templating.go
  templating/templating_test.go
  utils/goldmarkrenderer/goldmark_renderer.go
  utils/goldmarkrenderer/goldmark_renderer_test.go
Due: go

ci: scope opengrep install to lint script
  devbox.json
Due: none

ci: scope opengrep install to lint script (#1105)
  devbox.json
Due: none

Fix Google Tasks insert mapping persistence
  internal/connectors/engine/reconcile.go
  internal/connectors/engine/reconcile_test.go
Due: go

Fix Google Tasks insert mapping persistence (#1106)
  internal/connectors/engine/reconcile.go
  internal/connectors/engine/reconcile_test.go
Due: go
