Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

coverage:
  status:
    project:
      default:
        # Allow up to 0.1% coverage drop
        threshold: 0.1%
    patch:
      default:
        # Require 90% coverage on new/changed lines
        target: 90%

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

Fix #745: Add E2E tests for page import (CSV) workflow (#759)
  e2e/tests/page-import-csv.spec.ts
Due: none

Fix #777: Add E2E tests for dark mode support (#788)
  bun.lock
  e2e/tests/dark-mode.spec.ts
  package.json
Due: none

Fix #781: Reduce cognitive complexity of _handleError in qr-scanner.ts (#790)
  static/js/web-components/qr-scanner.test.ts
  static/js/web-components/qr-scanner.ts
Due: javascript

Fix #778: Add E2E tests for confirmation-interlock-button keyboard nav and ARIA (#791)
  e2e/tests/confirmation-interlock-button.spec.ts
Due: none

Fix dark mode: search result contrast and menu hover color (#794)
  static/css/default.css
  static/js/web-components/wiki-search-results.ts
Due: javascript

Fix #792: Add E2E tests for InsertNewPageDialog workflow (#795)
  e2e/tests/insert-new-page-dialog.spec.ts
Due: none

Add per-page chat instance pool with frontmatter context injection (#770)
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  internal/grpc/api/v1/chat_test.go
  pkg/chatbuffer/buffer.go
Due: go

Debug: simplify disconnected banner logic for chat availability
  static/js/web-components/page-chat-panel.ts
Due: javascript

Fix status banner text color: add color-text-muted to base .status-banner
  static/js/web-components/page-chat-panel.ts
Due: javascript

Force dark-mode text tokens in always-dark chat panel
  static/js/web-components/page-chat-panel.ts
Due: javascript

Add forceDarkTokensCSS for always-dark components, resize panel on open
  static/js/web-components/page-chat-panel.ts
  static/js/web-components/shared-styles.ts
Due: javascript

Regenerate eslint rule file
  static/js/eslint-rules/require-element-tag-name-map.js
Due: javascript

Fix force-dark surface tokens: reference editor tokens for proper contrast
  static/js/web-components/shared-styles.ts
Due: javascript

Migrate pool daemon from Claude channels to ACP protocol
  cmd/wiki-cli/pool.go
  go.mod
  go.sum
  vendor/github.com/coder/acp-go-sdk/.gitignore
  vendor/github.com/coder/acp-go-sdk/AGENTS.md
  vendor/github.com/coder/acp-go-sdk/LICENSE
  vendor/github.com/coder/acp-go-sdk/Makefile
  vendor/github.com/coder/acp-go-sdk/README.md
  vendor/github.com/coder/acp-go-sdk/RELEASING.md
  vendor/github.com/coder/acp-go-sdk/agent.go
  vendor/github.com/coder/acp-go-sdk/agent_gen.go
  vendor/github.com/coder/acp-go-sdk/client.go
  vendor/github.com/coder/acp-go-sdk/client_gen.go
  vendor/github.com/coder/acp-go-sdk/connection.go
  vendor/github.com/coder/acp-go-sdk/constants_gen.go
  vendor/github.com/coder/acp-go-sdk/doc.go
  vendor/github.com/coder/acp-go-sdk/errors.go
  vendor/github.com/coder/acp-go-sdk/flake.lock
  vendor/github.com/coder/acp-go-sdk/flake.nix
  vendor/github.com/coder/acp-go-sdk/helpers.go
  vendor/github.com/coder/acp-go-sdk/helpers_gen.go
  vendor/github.com/coder/acp-go-sdk/types_gen.go
  vendor/github.com/coder/acp-go-sdk/version
  vendor/modules.txt
Due: go

Rename claude→agent identifiers, remove mcp --page mode, update tests
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/mcp_test.go
  cmd/wiki-cli/pool_test.go
  e2e/tests/page-chat-panel.spec.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Fix: pool daemon gets instance requests even with global MCP subscribers
  internal/grpc/api/v1/chat.go
Due: go

Make --agent-path required, remove claude default
  cmd/wiki-cli/pool.go
Due: go

Add chat preamble to ACP prompts for interactive context
  cmd/wiki-cli/pool.go
Due: go

Stream ACP responses in real-time with tool use notifications
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
Due: go

Fix RequestInstance: skip global subscriber check when pool is connected
  pkg/chatbuffer/buffer.go
Due: go

Fix broken E2E tests blocking merges: inventory-management and insert-new-page-dialog (#808)
  e2e/tests/constants.ts
  e2e/tests/insert-new-page-dialog.spec.ts
  e2e/tests/inventory-management.spec.ts
  sonar-project.properties
Due: none

Add streaming flag to edit protocol, fix auto-scroll and (edited) indicator
  api/proto/api/v1/chat.proto
  cmd/wiki-cli/pool.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/chat.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  pkg/chatbuffer/buffer.go
  pkg/chatbuffer/buffer_test.go
  static/js/gen/api/v1/chat_pb.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Add thinking display and streaming protocol improvements
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
Due: go

Remove nil-context test block to fix SA1012 lint failure (#806)
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  scripts/build.sh
Due: go

Fix #799: Add comments to empty function bodies in gRPC and MCP test files (#805)
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
Due: go

Fix TS2322: timer ID type mismatch under Node.js typings (#804)
  static/js/web-components/confirmation-interlock-button.test.ts
  static/js/web-components/confirmation-interlock-button.ts
  static/js/web-components/toast-message.ts
Due: javascript

Fix #797: Add comments to empty function bodies in pool_test.go (#803)
  cmd/wiki-cli/pool_test.go
Due: go

fix: harden generate_matrix.go diagnostics and JSON output; propagate curl exit status (#802)
  tools/generate_matrix.go
Due: go

Fix data race in handlers_test: use os.Chmod instead of mutating site.PathToData (#811)
  server/handlers_test.go
Due: go

Fix #801: Fix pool.go context.Context field and build.sh TODO (#814)
  cmd/wiki-cli/pool.go
Due: go

Add E2E tests for z-index token system (#723) (#815)
  e2e/tests/z-index-token-system.spec.ts
Due: none

Add tool call notification protocol and ACP tool call forwarding
  api/proto/api/v1/chat.proto
  cmd/wiki-cli/pool.go
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  pkg/chatbuffer/buffer.go
  static/js/gen/api/v1/chat_pb.ts
Due: javascript, go

Add tool call pill UI to chat message bubbles
  static/js/web-components/chat-message-bubble.ts
  static/js/web-components/page-chat-panel.stories.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript

Add plan entries, permission notes, cancel button, first-message replay
  api/proto/api/v1/chat.proto
  cmd/wiki-cli/pool.go
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  pkg/chatbuffer/buffer.go
  static/js/gen/api/v1/chat_pb.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Fix #798: Fix minor TypeScript code smells (#813)
  static/js/web-components/augment-error-service.ts
  static/js/web-components/confirmation-interlock-button.ts
  static/js/web-components/qr-scanner.ts
Due: javascript

Fix #812: Add comment to empty SetTrailer and return to sonar_api (#817)
  internal/grpc/api/v1/chat_test.go
  scripts/run_sonar_query.sh
Due: go

Fix duplicate responses: send instance requests to one pool, replay only last message
  internal/grpc/api/v1/chat.go
  pkg/chatbuffer/buffer.go
Due: go

Fix first-message delivery, empty thought error, and add continuity instructions
  cmd/wiki-cli/pool.go
Due: go

Stop stale systemd scope units before spawning new agent
  cmd/wiki-cli/pool.go
Due: go

Add bridge lifecycle logging for debugging message delivery
  cmd/wiki-cli/pool.go
Due: go
