Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

coverage:
  status:
    project:
      default:
        # Allow up to 0.1% coverage drop
        threshold: 0.1%
    patch:
      default:
        # Require 90% coverage on new/changed lines
        target: 90%

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

docs(connectors): authoritative sync rules in one place
  docs/connector-sync-rules.md
Due: none

fix(connectors/engine): sticky user-wins + sync rules v2
  docs/connector-sync-rules.md
  internal/connectors/engine/classify.go
  internal/connectors/engine/reconcile.go
  internal/connectors/engine/reconcile_test.go
Due: go

docs(connector-sync): v3 panel-review fixes
  docs/connector-sync-rules.md
Due: none

fix(connector-sync): v4 engine fixes for round-3 panel blockers
  docs/connector-sync-rules.md
  internal/connectors/engine/bind.go
  internal/connectors/engine/force_resync.go
  internal/connectors/engine/insert_recovery.go
  internal/connectors/engine/parity_test.go
  internal/connectors/engine/precondition_recovery.go
  internal/connectors/engine/reconcile.go
  internal/connectors/engine/reconcile_test.go
  internal/connectors/engine/rpc_deadline.go
  internal/connectors/engine/rpc_deadline_test.go
  internal/connectors/engine/title_sync.go
Due: go

chore(connector-sync): v4.1 close Bailis follow-ups
  .semgrep/rules.yml
  docs/connector-sync-rules.md
Due: none

fix(connector-sync): DELETE precondition_failed no longer aborts tick
  internal/connectors/engine/precondition_recovery.go
  internal/connectors/engine/reconcile.go
  internal/connectors/engine/reconcile_test.go
Due: go

feat(connector-sync): adaptive ticker — reactive after activity, decay to cron
  docs/connector-sync-rules.md
  internal/bootstrap/keep_setup.go
  internal/bootstrap/server.go
  internal/connectors/engine/adaptive_ticker.go
  internal/connectors/engine/adaptive_ticker_test.go
  internal/connectors/engine/engine.go
Due: go

fix(google_keep): typeless tombstones for known items now drive wiki delete
  internal/connectors/google_keep/adapter.go
  internal/connectors/google_keep/adapter_test.go
Due: go

feat(connector-sync): wiki edit immediately kicks adaptive cycle
  docs/connector-sync-rules.md
  internal/bootstrap/keep_setup.go
  internal/bootstrap/mutator_bridge_test.go
  internal/bootstrap/server.go
Due: go

feat(connector-sync): SyncNow RPC + UI sync-now button
  api/proto/api/v1/connector_service.proto
  gen/go/api/v1/apiv1connect/connector_service.connect.go
  gen/go/api/v1/apiv1mcp/connector_service.pb.mcp.go
  gen/go/api/v1/connector_service.pb.go
  gen/go/api/v1/connector_service_grpc.pb.go
  internal/grpc/api/v1/connector_service.go
  static/js/gen/api/v1/connector_service_pb.ts
  static/js/web-components/connector-bind-button.ts
Due: javascript, go

fix(connector-sync): remove engine rate-limit choke; SyncNow now polls
  docs/connector-sync-rules.md
  internal/connectors/engine/reconcile.go
  internal/connectors/engine/reconcile_test.go
Due: go

fix(connector-sync): pause binding on empty remote_handle (insert-recovery loop)
  docs/connector-sync-rules.md
  internal/connectors/engine/reconcile.go
  internal/connectors/engine/reconcile_test.go
Due: go

fix(connector-sync): dedup inbound apply by text — close duplicate-wiki-item hazard
  internal/connectors/engine/reconcile.go
  internal/connectors/engine/reconcile_test.go
Due: go

fix(connector-sync): two architectural fixes for Keep ID alignment
  internal/connectors/adapter.go
  internal/connectors/engine/bind.go
  internal/connectors/engine/testing/fake_adapter.go
  internal/connectors/engine/testing/fake_adapter_test.go
  internal/connectors/engine/unbind_test.go
  internal/connectors/google_keep/adapter.go
  internal/connectors/google_keep/adapter_test.go
  internal/connectors/google_tasks/adapter.go
  internal/connectors/google_tasks/adapter_test.go
Due: go

fix(connector-ui): paused badge click navigates to /profile when no listener intercepts
  static/js/web-components/connector-paused-badge.test.ts
  static/js/web-components/connector-paused-badge.ts
  static/js/web-components/profile-paused-banner.ts
Due: javascript

fix(connector-ui): branch paused-badge copy + action on paused_reason
  api/proto/api/v1/connector_service.proto
  gen/go/api/v1/connector_service.pb.go
  internal/grpc/api/v1/connector_service.go
  static/js/gen/api/v1/connector_service_pb.ts
  static/js/web-components/connector-bind-button.ts
  static/js/web-components/connector-paused-badge.test.ts
  static/js/web-components/connector-paused-badge.ts
Due: javascript, go

fix(connector-ui): split paused banner by reason; populate title at bind
  internal/connectors/engine/bind.go
  internal/connectors/engine/bind_test.go
  static/js/web-components/profile-paused-banner.test.ts
  static/js/web-components/profile-paused-banner.ts
Due: javascript, go

fix(connector-sync): self-heal RemoteListTitle on reconcile
  internal/connectors/engine/parity_test.go
  internal/connectors/engine/reconcile.go
  internal/connectors/engine/reconcile_test.go
Due: go

chore(lint): clean up revive findings + tighten lint:everything
  internal/connectors/engine/adaptive_ticker.go
  internal/connectors/engine/bind.go
  internal/connectors/engine/reconcile.go
  internal/connectors/engine/rpc_deadline.go
  internal/connectors/google_keep/adapter.go
  internal/connectors/google_keep/adapter_test.go
  internal/connectors/google_keep/gateway/client.go
  migrations/eager/connectors_subscriptions_to_bindings_migration.go
  revive.toml
  scripts/run_lint_everything.sh
Due: go

docs(adrs): record post-extraction implementation in ADR-0011 + ADR-0015
  docs/adrs/0011-checklist-binding-aggregate.md
  docs/adrs/0015-per-checklist-operation-log.md
Due: none

chore(codefactor): clean up the 30 issues flagged on PR #1040
  .codefactor.yml
  internal/connectors/engine/reconcile.go
  internal/connectors/engine/testing/fake_clock.go
  internal/connectors/google_keep/adapter.go
  internal/connectors/google_tasks/adapter.go
Due: go

refactor(connectors): lift CreateRemoteCollection onto BackendAdapter
  internal/connectors/adapter.go
  internal/connectors/engine/testing/fake_adapter.go
  internal/connectors/google_tasks/credentials.go
  internal/grpc/api/v1/connector_service.go
Due: go

chore(codefactor): exclude revive findings on google_keep / google_tasks paths
  .codefactor.yml
Due: none

chore(codefactor): exclude connector packages globally for the package-naming rule
  .codefactor.yml
Due: none

chore(codefactor): try explicit path + single-star + double-star excludes
  .codefactor.yml
Due: none

docs: update stale path references after package rename
  docs/keep_regression_verification.md
  internal/syspage/embedded/help_google_keep.md
Due: none

chore(semgrep): remove stale googletasks/sync exclusions
  .semgrep/rules.yml
Due: none

fix: ReadPage MCP returns empty content when called with `identifier` param (#1029)
  api/proto/api/v1/page_management.proto
  extensions/online-order-recorder/src/wiki-client.test.ts
  extensions/online-order-recorder/src/wiki-client.ts
  gen/go/api/v1/apiv1mcp/page_management.pb.mcp.go
  gen/go/api/v1/page_management.pb.go
  internal/grpc/api/v1/page_management.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  static/js/gen/api/v1/page_management_pb.ts
  static/js/web-components/wiki-editor.test.ts
  static/js/web-components/wiki-editor.ts
Due: javascript, go

Add per-schedule tool allowlist enforcement for scheduled-turn agents (#1017)
  api/proto/api/v1/agent_metadata.proto
  api/proto/api/v1/scheduled_turn.proto
  cmd/wiki-cli/scheduled_turn.go
  cmd/wiki-cli/scheduled_turn_test.go
  gen/go/api/v1/agent_metadata.pb.go
  gen/go/api/v1/apiv1mcp/agent_metadata.pb.mcp.go
  gen/go/api/v1/scheduled_turn.pb.go
  internal/grpc/api/v1/agent_metadata.go
  internal/grpc/api/v1/agent_metadata_test.go
  internal/syspage/embedded/help_scheduled_agents.md
  scripts/ensure_protoc_gen_go_mcp.sh
  server/agent_schedule_store.go
  server/agent_schedule_store_test.go
  server/agent_turn_job.go
  server/agent_turn_job_test.go
  static/js/gen/api/v1/agent_metadata_pb.ts
  static/js/gen/api/v1/scheduled_turn_pb.ts
Due: javascript, go

Remove rendered HTML from ReadPage default response (#1022)
  api/proto/api/v1/page_management.proto
  gen/go/api/v1/page_management.pb.go
  internal/grpc/api/v1/page_management.go
  internal/grpc/api/v1/server_test.go
  static/js/gen/api/v1/page_management_pb.ts
  static/js/web-components/wiki-editor-integration.test.ts
  static/js/web-components/wiki-editor.test.ts
Due: javascript, go

fix(ci): make copilot setup workflow self-validating
  .github/workflows/copilot-setup-steps.yml
Due: none

fix(ci): make Copilot setup workflow self-validating (#1046)
  .github/workflows/copilot-setup-steps.yml
Due: none

fix(ci): remove invalid copilot workflow secret wiring
  .github/workflows/copilot-setup-steps.yml
Due: none

fix(ci): remove invalid Copilot workflow secret wiring (#1047)
  .github/workflows/copilot-setup-steps.yml
Due: none

fix(connectors): plumb Due through engine→adapter boundary so Tasks gets it
  internal/connectors/engine/bind.go
  internal/connectors/engine/reconcile.go
  internal/connectors/engine/reconcile_test.go
  internal/connectors/googletasks/adapter.go
Due: go

fix(connectors): plumb Due through inbound apply path so wiki reflects remote Due
  internal/bootstrap/tasks_keep_helpers_test.go
  internal/connectors/engine/ports.go
  internal/connectors/engine/reconcile.go
  internal/connectors/engine/reconcile_test.go
  internal/connectors/engine/unbind_test.go
  internal/grpc/api/v1/connector_service_tasks_test.go
  server/checklistmutator/mutator_test.go
  server/checklistmutator/sync_helpers.go
  server/checklistmutator/sync_helpers_behaviors_test.go
Due: go
