Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

feat(android): Implement App Actions for Google Assistant integration (Phase 4)
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/github/brendanjerwin/simple_wiki/voice/PageSummary.kt
  android/app/src/main/java/com/github/brendanjerwin/simple_wiki/voice/VoiceActionHandler.kt
  android/app/src/main/java/com/github/brendanjerwin/simple_wiki/voice/VoiceSearchResult.kt
  android/app/src/main/res/xml/shortcuts.xml
  android/app/src/test/java/com/github/brendanjerwin/simple_wiki/voice/VoiceActionHandlerTest.kt
  devbox.json
  devbox.lock
  docs/proj-voice-assistant-plan.md
Due: none

docs: Update voice assistant plan - Phase 4 Complete
  docs/proj-voice-assistant-plan.md
Due: none

docs: Add manual functional testing guides for voice assistant
  docs/voice-assistant-manual-testing.md
  docs/voice-assistant-quick-test.md
Due: none

fix(android): Remove constructor dependency from VoiceActionHandler
  android/app/src/main/java/com/github/brendanjerwin/simple_wiki/voice/VoiceActionHandler.kt
Due: none

feat(android): Add logging and fix query parameter extraction in VoiceActionHandler
  android/app/src/main/java/com/github/brendanjerwin/simple_wiki/voice/VoiceActionHandler.kt
Due: none

fix(android): Configure gRPC-Web protocol and add comprehensive logging
  .gitignore
  android/app/build.gradle
  android/app/src/main/java/com/github/brendanjerwin/simple_wiki/api/GrpcWikiApiClient.kt
  android/app/src/main/java/com/github/brendanjerwin/simple_wiki/retrieval/SearchOrchestrator.kt
  android/app/src/main/java/com/github/brendanjerwin/simple_wiki/voice/VoiceActionHandler.kt
  devbox.json
  docs/play-console-listing.md
  docs/play-console-setup.md
  fix-android-usb.sh
  gradle.properties
Due: none

ci: Upgrade deploy workflow to 8-core runner for Android/Java devbox environment
  .github/workflows/deploy.yml
Due: none

ci: Revert to ubuntu-latest (already 4-core for public repos)
  .github/workflows/deploy.yml
Due: none

ci: Disable devbox cache to fix hooks.sh generation issue
  .github/workflows/deploy.yml
Due: none

fix(deploy): Remove Android env setup from init_hook
  .devbox_run_scripts/setup_android_env.sh
  .github/workflows/deploy.yml
  devbox.json
Due: none

fix(deploy): Use correct devbox run build command
  .github/workflows/deploy.yml
Due: none

feat(android): Add Google Play internal testing support
  PRIVACY_POLICY.md
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/xml/actions.xml
Due: none

fix(ci): Add frontend build and Capacitor sync to Android CI
  .github/workflows/android.yml
Due: none

fix(android): Run Capacitor CLI from static/js directory
  devbox.json
Due: none

fix(android): Use full @capacitor/cli package name in bunx
  devbox.json
Due: none

fix(android): Run Capacitor CLI from project root
  devbox.json
Due: none

fix(android): Use bun x properly in Capacitor sync
  devbox.json
Due: none

fix(ci): Skip Capacitor sync in CI, copy assets manually
  .github/workflows/android.yml
Due: none

fix(android): Add Capacitor-generated cordova.variables.gradle to git
  android/capacitor-cordova-android-plugins/cordova.variables.gradle
Due: none

fix(ci): Restore Capacitor sync from project root to initialize gradle subprojects
  .github/workflows/android.yml
Due: none

fix(ci): Run Capacitor sync through devbox to access bun runtime
  .github/workflows/android.yml
Due: none

fix(android): Run Capacitor CLI from project root to find capacitor.config.ts
  devbox.json
Due: none

fix(android): Use npx with PATH to run Capacitor CLI from project root
  devbox.json
Due: none

fix(android): Create script to run Capacitor CLI with proper environment
  .devbox_run_scripts/capacitor_sync.sh
  devbox.json
Due: none

chore(android): Update version to 3.4.0 (versionCode 4)
  android/app/build.gradle
Due: none

Update Android version to 3.4.0 (#176)
  android/app/build.gradle
Due: none

fix: Address PR #175 review comments
  .devbox_run_scripts/setup_android_sdk.sh
  android/app/build.gradle
  android/app/src/main/java/com/github/brendanjerwin/simple_wiki/retrieval/SearchOrchestrator.kt
  android/app/src/test/java/com/github/brendanjerwin/simple_wiki/voice/VoiceActionHandlerTest.kt
  android/variables.gradle
  devbox.json
Due: none

fix: Address PR #177 review comments
  .devbox_run_scripts/setup_android_sdk.sh
  android/app/src/main/java/com/github/brendanjerwin/simple_wiki/voice/VoiceActionHandler.kt
  android/app/src/test/java/com/github/brendanjerwin/simple_wiki/voice/VoiceActionHandlerTest.kt
Due: none

Remove duplicate writesched_priority_rfc9128.go that was causing build failures
  vendor/golang.org/x/net/http2/writesched_priority_rfc9128.go
Due: go

feat: Add agentic inventory item management
  CONVENTIONS.md
  android/app/src/main/java/api/v1/ContainerPathKt.kt
  android/app/src/main/java/api/v1/CreateInventoryItemRequestKt.kt
  android/app/src/main/java/api/v1/CreateInventoryItemResponseKt.kt
  android/app/src/main/java/api/v1/FindItemLocationRequestKt.kt
  android/app/src/main/java/api/v1/FindItemLocationResponseKt.kt
  android/app/src/main/java/api/v1/Inventory.java
  android/app/src/main/java/api/v1/InventoryItemKt.kt
  android/app/src/main/java/api/v1/InventoryKt.kt
  android/app/src/main/java/api/v1/InventoryManagementServiceClient.kt
  android/app/src/main/java/api/v1/InventoryManagementServiceClientInterface.kt
  android/app/src/main/java/api/v1/ListContainerContentsRequestKt.kt
  android/app/src/main/java/api/v1/ListContainerContentsResponseKt.kt
  android/app/src/main/java/api/v1/MoveInventoryItemRequestKt.kt
  android/app/src/main/java/api/v1/MoveInventoryItemResponseKt.kt
  api/proto/api/v1/inventory.proto
  gen/go/api/v1/inventory.pb.go
  gen/go/api/v1/inventory_grpc.pb.go
  go.mod
  internal/grpc/api/v1/inventory.go
  internal/grpc/api/v1/inventory_test.go
  internal/grpc/api/v1/server.go
  openspec/changes/add-agentic-inventory-management/proposal.md
  openspec/changes/add-agentic-inventory-management/tasks.md
  pkg/jobs/coordinator_test.go
  pkg/jobs/cron_scheduler.go
  pkg/jobs/cron_scheduler_test.go
  pkg/jobs/types.go
  server/inventory.go
  server/inventory_normalization_job.go
  server/inventory_normalization_job_test.go
  server/site.go
  static/js/gen/api/v1/inventory_connect.ts
  static/js/gen/api/v1/inventory_pb.ts
Due: javascript, go

Update android/app/src/main/java/api/v1/ContainerPathKt.kt
  android/app/src/main/java/api/v1/ContainerPathKt.kt
Due: none

test: Improve coverage for inventory and jobs packages
  internal/grpc/api/v1/inventory_test.go
  internal/grpc/api/v1/server_test.go
  pkg/jobs/cron_scheduler_test.go
  server/inventory_test.go
Due: go

fix: Address PR review comments
  internal/grpc/api/v1/inventory.go
  internal/grpc/api/v1/inventory_test.go
  internal/grpc/api/v1/server_test.go
  pkg/jobs/types.go
  server/inventory.go
  server/inventory_normalization_job.go
Due: go

refactor: Reduce function complexity to pass lint checks
  internal/grpc/api/v1/inventory.go
  internal/grpc/api/v1/inventory_test.go
  server/inventory_normalization_job.go
Due: go

test: Improve coverage for inventory management feature
  server/inventory_normalization_job_test.go
  server/inventory_test.go
Due: go

test: Further improve test coverage for inventory feature
  server/inventory_normalization_job_test.go
  server/inventory_test.go
Due: go

feat: Add inventory management UI components
  openspec/changes/add-agentic-inventory-management/tasks.md
  static/js/index.ts
  static/js/simple_wiki.js
  static/js/web-components/inventory-action-service.test.ts
  static/js/web-components/inventory-action-service.ts
  static/js/web-components/inventory-add-item-dialog.stories.ts
  static/js/web-components/inventory-add-item-dialog.test.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-find-item-dialog.stories.ts
  static/js/web-components/inventory-find-item-dialog.test.ts
  static/js/web-components/inventory-find-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.stories.ts
  static/js/web-components/inventory-move-item-dialog.test.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/templates/index.tmpl
Due: javascript

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
