Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

Replace HTML fragment parsing with Bleve structured location data
  index/bleve/index.go
  server/api_handlers.go
  server/api_handlers_test.go
  server/handlers.go
  server/mocks_test.go
  server/readorinit_migration_test.go
  static/js/services/search-client.test.ts
  static/js/services/search-client.ts
  static/templates/index.tmpl
Due: javascript, go

Use idiomatic built-in min/max functions instead of custom implementations
  index/bleve/index.go
Due: go

Fix search results Storybook stories to display mock data properly
  static/js/web-components/wiki-search-results.stories.ts
Due: javascript

Implement proper separation of concerns for search results rendering
  static/js/services/search-client.test.ts
  static/js/services/search-client.ts
  static/js/web-components/wiki-search-results.stories.ts
  static/js/web-components/wiki-search-results.ts
Due: javascript

Fix hanging WikiSearch tests and complete gRPC search implementation
  static/js/services/search-client.test.ts
  static/js/services/search-client.ts
  static/js/web-components/wiki-search.test.ts
  static/js/web-components/wiki-search.ts
Due: javascript

Add go:generate script to devbox.json for code generation
  devbox.json
Due: none

Fix SearchClient test to initialize client before stubbing
  static/js/services/search-client.test.ts
Due: javascript

Migrate search functionality to gRPC API (#152)
  api/proto/api/v1/search.proto
  devbox.json
  gen/go/api/v1/search.pb.go
  gen/go/api/v1/search_grpc.pb.go
  index/bleve/index.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  main.go
  server/api_handlers.go
  server/api_handlers_test.go
  server/handlers.go
  server/mocks_test.go
  server/readorinit_migration_test.go
  static/js/gen/api/v1/search_connect.ts
  static/js/gen/api/v1/search_pb.ts
  static/js/services/search-client.test.ts
  static/js/services/search-client.ts
  static/js/web-components/wiki-search-results.stories.ts
  static/js/web-components/wiki-search-results.ts
  static/js/web-components/wiki-search.test.ts
  static/js/web-components/wiki-search.ts
  static/templates/index.tmpl
Due: javascript, go

Added deadcode check
  devbox.json
Due: none

Remove page locking functionality, security module, and access-code authentication completely (#153)
  README.md
  api/proto/api/v1/page_management.proto
  devbox.json
  gen/go/api/v1/page_management.pb.go
  gen/go/api/v1/page_management_grpc.pb.go
  go.mod
  go.sum
  main.go
  sec/sec.go
  sec/sec_test.go
  server/handlers.go
  server/handlers_test.go
  server/site.go
  server/site_test.go
  static/js/gen/api/v1/page_management_connect.ts
  static/js/gen/api/v1/page_management_pb.ts
  static/js/simple_wiki.js
  static/templates/index.tmpl
  vendor/github.com/danielheath/gin-teeny-security/.gitignore
  vendor/github.com/danielheath/gin-teeny-security/Gopkg.lock
  vendor/github.com/danielheath/gin-teeny-security/Gopkg.toml
  vendor/github.com/danielheath/gin-teeny-security/LICENSE
  vendor/github.com/danielheath/gin-teeny-security/README.md
  vendor/github.com/danielheath/gin-teeny-security/gin-teeny-security.go
  vendor/golang.org/x/crypto/bcrypt/base64.go
  vendor/golang.org/x/crypto/bcrypt/bcrypt.go
  vendor/golang.org/x/crypto/blowfish/block.go
  vendor/golang.org/x/crypto/blowfish/cipher.go
  vendor/golang.org/x/crypto/blowfish/const.go
  vendor/modules.txt
  wikipage/page.go
Due: javascript, go

Add JSON archive migration to move .json files to __deleted__
  migrations/eager/json_archive_migration.go
  migrations/eager/json_archive_migration_test.go
  server/site.go
Due: go

Replace versionedtext with string in Page structure
  migrations/eager/file_shadowing_migration.go
  migrations/eager/file_shadowing_migration_job_test.go
  migrations/eager/migration_test_support.go
  migrations/lazy/open_migration_test.go
  server/handlers.go
  server/handlers_test.go
  server/readorinit_migration_test.go
  server/readorinit_test.go
  server/site.go
  server/site_page_operations_test.go
  server/site_test.go
  wikipage/page.go
  wikipage/page_test.go
Due: go

Complete version history removal cleanup
  server/handlers.go
  server/site.go
  server/site_test.go
  static/templates/index.tmpl
Due: go

Complete JSON storage removal from site.go
  .gitignore
  server/site.go
  server/site_test.go
Due: go

Remove unused Numchanges field from DirectoryEntry
  server/site.go
Due: go

Remove unused getVersionHistory function and clean up handlers
  server/handlers.go
Due: go

consolidate page write to only one place.
  server/site.go
Due: go

Remove unused Page.Meta field and improve error handling
  server/handlers.go
  server/handlers_test.go
  server/site.go
  wikipage/page.go
Due: go

removed more json junk
  server/handlers.go
Due: go

Improve migration handling in UpdatePageContent
  server/site.go
Due: go

Remove final traces of version history from handlers
  server/handlers.go
Due: go

Remove unused handlePageExists endpoint and tests
  server/handlers.go
  server/handlers_test.go
Due: go

Add Page.ModTime field and IsModifiedSince method with tests
  server/handlers.go
  server/site.go
  wikipage/page.go
  wikipage/page_test.go
Due: go

Fix CONVENTIONS.md violations in error handling
  server/handlers.go
  server/site.go
Due: go

Remove version history capability and .json files (#154)
  .gitignore
  migrations/eager/file_shadowing_migration.go
  migrations/eager/file_shadowing_migration_job_test.go
  migrations/eager/json_archive_migration.go
  migrations/eager/json_archive_migration_test.go
  migrations/eager/migration_test_support.go
  migrations/lazy/open_migration_test.go
  server/handlers.go
  server/handlers_test.go
  server/readorinit_migration_test.go
  server/readorinit_test.go
  server/site.go
  server/site_page_operations_test.go
  server/site_test.go
  static/templates/index.tmpl
  wikipage/page.go
  wikipage/page_test.go
Due: go

Implement PWA Phase 1: Enable basic installability
  docs/proj-pwa.md
  static/img/pwa/icon-192.png
  static/img/pwa/icon-512.png
  static/manifest.json
  static/templates/index.tmpl
Due: none

Implement PWA Phase 1: Enable basic installability (#169)
  docs/proj-pwa.md
  static/img/pwa/icon-192.png
  static/img/pwa/icon-512.png
  static/manifest.json
  static/templates/index.tmpl
Due: none

Fix CLI version display to show git tag instead of 0.0.0
  main.go
Due: go

Fix CLI version display to show git tag instead of 0.0.0 (#170)
  main.go
Due: go

Add main branch deployment protection and update documentation
  .devbox_run_scripts/deploy.sh
  README.md
Due: none

Add deployment safety improvements and documentation (#171)
  .devbox_run_scripts/deploy.sh
  README.md
Due: none

feat(api): Add rendered_content_markdown field - Phase 0 Complete
  api/proto/api/v1/page_management.proto
  docs/proj-voice-assistant-plan.md
  docs/proj-voice-assistant.md
  docs/voice-assistant-api-spec.md
  gen/go/api/v1/page_management.pb.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  main.go
  static/js/gen/api/v1/page_management_pb.ts
  wikipage/page.go
  wikipage/page_test.go
Due: javascript, go

docs: Update voice assistant plan - Phase 0 Complete
  docs/proj-voice-assistant-plan.md
Due: none

Update Phase 1 status to complete in project documentation
  docs/proj-voice-assistant.md
Due: none

chore(android): Configure production Tailscale URL
  android/app/capacitor.build.gradle
  android/capacitor.settings.gradle
  capacitor.config.ts
  devbox.json
Due: none

feat(android): Implement two-phase retrieval with token budgeting (Phase 3)
  android/app/src/main/java/com/github/brendanjerwin/simple_wiki/retrieval/PageContext.kt
  android/app/src/main/java/com/github/brendanjerwin/simple_wiki/retrieval/SearchOrchestrator.kt
  android/app/src/main/java/com/github/brendanjerwin/simple_wiki/retrieval/TokenBudgetManager.kt
  android/app/src/main/java/com/github/brendanjerwin/simple_wiki/retrieval/WikiContext.kt
  android/app/src/test/java/com/github/brendanjerwin/simple_wiki/retrieval/SearchOrchestratorTest.kt
  android/app/src/test/java/com/github/brendanjerwin/simple_wiki/retrieval/TokenBudgetManagerTest.kt
  docs/proj-voice-assistant-plan.md
Due: none

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
