Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

fix: Use portable shebang in scripts for devbox/nix compatibility
  scripts/build.sh
  scripts/deploy.sh
  scripts/fix_android_usb.sh
  scripts/run_fe_tests.sh
  scripts/setup_agent_env.sh
Due: none

refactor: Move inventory template to common location
  internal/grpc/api/v1/inventory.go
  server/inventory.go
  server/inventory_normalization_job.go
Due: go

chore: Add OpenSpec files and update dependencies
  android/app/src/main/java/api/v1/ContainerPathKt.kt
  go.sum
  openspec/AGENTS.md
  openspec/changes/add-agentic-inventory-management/specs/inventory-management/spec.md
  openspec/changes/add-agentic-inventory-management/specs/inventory-ui/spec.md
  openspec/project.md
Due: none

chore: Add OpenSpec slash commands for multiple AI agents
  .claude/commands/openspec/apply.md
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  .gemini/commands/openspec/apply.toml
  .gemini/commands/openspec/archive.toml
  .gemini/commands/openspec/proposal.toml
  .github/prompts/openspec-apply.prompt.md
  .github/prompts/openspec-archive.prompt.md
  .github/prompts/openspec-proposal.prompt.md
  .opencode/command/openspec-apply.md
  .opencode/command/openspec-archive.md
  .opencode/command/openspec-proposal.md
Due: none

fix: Use correct frontmatter API endpoint in inventory menu
  static/js/simple_wiki.js
Due: javascript

refactor: Make inventory menu more resilient to sparse data
  static/js/simple_wiki.js
Due: javascript

test: Add unit tests for inventory menu sparse data handling
  static/js/web-components/inventory-menu.test.ts
Due: javascript

fix: Use flat menu items instead of nested submenu
  static/js/simple_wiki.js
Due: javascript

Style inventory dialogs to match frontmatter editor
  static/js/web-components/inventory-add-item-dialog.test.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-find-item-dialog.test.ts
  static/js/web-components/inventory-find-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.test.ts
  static/js/web-components/inventory-move-item-dialog.ts
Due: javascript

Add nested sub-menu support for inventory menu
  static/css/default.css
  static/js/simple_wiki.js
Due: javascript

Add touch device support for inventory sub-menu
  static/css/default.css
  static/js/simple_wiki.js
Due: javascript

fix: Resolve identifier mismatch in search frontmatter filtering
  android/app/src/main/java/api/v1/Search.java
  android/app/src/main/java/api/v1/SearchContentRequestKt.kt
  api/proto/api/v1/search.proto
  gen/go/api/v1/search.pb.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  static/js/gen/api/v1/search_pb.ts
  static/js/web-components/inventory-action-service.test.ts
  static/js/web-components/inventory-action-service.ts
  static/js/web-components/inventory-find-item-dialog.test.ts
  static/js/web-components/inventory-find-item-dialog.ts
  static/js/web-components/inventory-menu.test.ts
Due: javascript, go

feat: Add structured frontmatter to search results, remove Find Item
  android/app/src/main/java/api/v1/Search.java
  android/app/src/main/java/api/v1/SearchContentRequestKt.kt
  android/app/src/main/java/api/v1/SearchResultKt.kt
  api/proto/api/v1/search.proto
  devbox.lock
  gen/go/api/v1/search.pb.go
  internal/grpc/api/v1/server.go
  server/inventory.go
  server/inventory_normalization_job_test.go
  server/inventory_test.go
  server/site.go
  static/js/bun.lock
  static/js/gen/api/v1/search_pb.ts
  static/js/index.ts
  static/js/simple_wiki.js
  static/js/web-components/inventory-action-service.test.ts
  static/js/web-components/inventory-action-service.ts
  static/js/web-components/inventory-find-item-dialog.stories.ts
  static/js/web-components/inventory-find-item-dialog.test.ts
  static/js/web-components/inventory-find-item-dialog.ts
  static/js/web-components/wiki-search-results.test.ts
  static/js/web-components/wiki-search-results.ts
  static/js/web-components/wiki-search.test.ts
  static/js/web-components/wiki-search.ts
Due: javascript, go

feat: Enhance Add Item dialog with title-first workflow and description
  android/app/src/main/java/api/v1/CreateInventoryItemRequestKt.kt
  android/app/src/main/java/api/v1/ExistingPageInfoKt.kt
  android/app/src/main/java/api/v1/GenerateIdentifierRequestKt.kt
  android/app/src/main/java/api/v1/GenerateIdentifierResponseKt.kt
  android/app/src/main/java/api/v1/Inventory.java
  android/app/src/main/java/api/v1/PageManagement.java
  android/app/src/main/java/api/v1/PageManagementServiceClient.kt
  android/app/src/main/java/api/v1/PageManagementServiceClientInterface.kt
  api/proto/api/v1/inventory.proto
  api/proto/api/v1/page_management.proto
  gen/go/api/v1/inventory.pb.go
  gen/go/api/v1/page_management.pb.go
  gen/go/api/v1/page_management_grpc.pb.go
  internal/grpc/api/v1/inventory.go
  internal/grpc/api/v1/inventory_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  server/inventory.go
  static/js/gen/api/v1/inventory_pb.ts
  static/js/gen/api/v1/page_management_connect.ts
  static/js/gen/api/v1/page_management_pb.ts
  static/js/web-components/inventory-action-service.test.ts
  static/js/web-components/inventory-action-service.ts
  static/js/web-components/inventory-add-item-dialog.test.ts
  static/js/web-components/inventory-add-item-dialog.ts
  templating/templating.go
Due: javascript, go

feat: Add per-page inventory normalization on save
  index/bleve/bleve_suite_test.go
  index/bleve/index.go
  index/bleve/index_test.go
  index/coordinator.go
  index/frontmatter/index.go
  index/frontmatter/index_test.go
  internal/grpc/api/v1/inventory.go
  pkg/jobs/coordinator.go
  pkg/jobs/coordinator_test.go
  server/inventory.go
  server/inventory_normalization_job.go
  server/inventory_normalization_job_test.go
  server/inventory_normalizer.go
  server/inventory_test.go
  server/page_inventory_normalization_job.go
  server/readorinit_test.go
  server/site.go
  static/js/web-components/inventory-move-item-dialog.stories.ts
  static/js/web-components/inventory-move-item-dialog.test.ts
  static/js/web-components/inventory-move-item-dialog.ts
  templating/templating.go
  templating/templating_test.go
Due: javascript, go

fix: Improve inventory search filter and no-results UX
  static/js/web-components/wiki-search-results.ts
  static/js/web-components/wiki-search.ts
Due: javascript

fix: Reset noResults flag when search dialog closes
  static/js/web-components/wiki-search.ts
Due: javascript

feat: Add Escape key to close search results and focus search box
  static/js/web-components/wiki-search-results.ts
  static/js/web-components/wiki-search.ts
Due: javascript

fix: Use is_container filter in add-item dialog search
  static/js/web-components/inventory-add-item-dialog.ts
Due: javascript

refactor: Fix linter issues in coordinator, inventory, and server
  index/coordinator.go
  internal/grpc/api/v1/inventory.go
  internal/grpc/api/v1/server.go
Due: go

refactor: Address PR review feedback for inventory management
  internal/grpc/api/v1/inventory.go
  internal/grpc/api/v1/server.go
  server/inventory_normalization_job.go
  server/inventory_normalization_job_test.go
  server/site.go
  static/js/index.ts
  static/js/web-components/inventory-action-service.test.ts
  static/js/web-components/inventory-action-service.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.ts
Due: javascript, go

test: Improve code coverage for inventory management
  internal/grpc/api/v1/inventory_test.go
  server/inventory_normalizer_test.go
Due: go

fix: Address linter issues in inventory_normalizer_test.go
  server/inventory_normalizer_test.go
Due: go

test: Improve coverage for inventory-add-item-dialog component
  static/js/web-components/inventory-add-item-dialog.test.ts
Due: javascript

chore: Replace openspec with beads for AI workflow management
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/issues.jsonl
  .beads/metadata.json
  .claude/commands/openspec/apply.md
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  .gemini/commands/openspec/apply.toml
  .gemini/commands/openspec/archive.toml
  .gemini/commands/openspec/proposal.toml
  .gitattributes
  .github/prompts/openspec-apply.prompt.md
  .github/prompts/openspec-archive.prompt.md
  .github/prompts/openspec-proposal.prompt.md
  .opencode/command/openspec-apply.md
  .opencode/command/openspec-archive.md
  .opencode/command/openspec-proposal.md
  CONVENTIONS.md
  devbox.json
  devbox.lock
  openspec/AGENTS.md
  openspec/changes/add-agentic-inventory-management/proposal.md
  openspec/changes/add-agentic-inventory-management/specs/inventory-management/spec.md
  openspec/changes/add-agentic-inventory-management/specs/inventory-ui/spec.md
  openspec/changes/add-agentic-inventory-management/tasks.md
  openspec/project.md
Due: none

docs: Add beads task tracking instruction to CLAUDE.md
  CONVENTIONS.md
Due: none

chore: Add beads_viewer (bv) TUI to devbox environment
  .beads/metadata.json
  devbox.json
  flake.lock
  flake.nix
Due: none

chore: Replace openspec with beads (#191)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/issues.jsonl
  .beads/metadata.json
  .claude/commands/openspec/apply.md
  .claude/commands/openspec/archive.md
  .claude/commands/openspec/proposal.md
  .gemini/commands/openspec/apply.toml
  .gemini/commands/openspec/archive.toml
  .gemini/commands/openspec/proposal.toml
  .gitattributes
  .github/prompts/openspec-apply.prompt.md
  .github/prompts/openspec-archive.prompt.md
  .github/prompts/openspec-proposal.prompt.md
  .opencode/command/openspec-apply.md
  .opencode/command/openspec-archive.md
  .opencode/command/openspec-proposal.md
  CONVENTIONS.md
  devbox.json
  devbox.lock
  flake.lock
  flake.nix
  openspec/AGENTS.md
  openspec/changes/add-agentic-inventory-management/proposal.md
  openspec/changes/add-agentic-inventory-management/specs/inventory-management/spec.md
  openspec/changes/add-agentic-inventory-management/specs/inventory-ui/spec.md
  openspec/changes/add-agentic-inventory-management/tasks.md
  openspec/project.md
Due: none

Display full container path in search results with smart truncation and depth ordering (#189)
  android/app/src/main/java/api/v1/ContainerPathElementKt.kt
  android/app/src/main/java/api/v1/InventoryContextKt.kt
  android/app/src/main/java/api/v1/Search.java
  android/app/src/main/java/api/v1/SearchResultKt.kt
  api/proto/api/v1/search.proto
  gen/go/api/v1/search.pb.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  static/js/gen/api/v1/search_pb.ts
  static/js/web-components/wiki-search-results.stories.ts
  static/js/web-components/wiki-search-results.test.ts
  static/js/web-components/wiki-search-results.ts
Due: javascript, go

refactor: Use pointer:coarse for mobile detection instead of width
  static/css/default.css
  static/js/services/editor-context-menu-coordinator.ts
  static/js/web-components/editor-context-menu.test.ts
  static/js/web-components/editor-toolbar.ts
Due: javascript

chore: Remove redundant CSS for hiding system-info on edit pages
  static/js/web-components/system-info.ts
Due: javascript

feat: Add editor context menu for image upload and text formatting
  .beads/issues.jsonl
  static/js/index.ts
  static/js/services/editor-context-menu-coordinator.test.ts
  static/js/services/editor-context-menu-coordinator.ts
  static/js/services/editor-upload-service.test.ts
  static/js/services/editor-upload-service.ts
  static/js/services/text-formatting-service.test.ts
  static/js/services/text-formatting-service.ts
  static/js/web-components/editor-context-menu.test.ts
  static/js/web-components/editor-context-menu.ts
  static/templates/index.tmpl
Due: javascript

fix: Restore save status indicator for e2e tests
  static/templates/index.tmpl
Due: none

feat: Add mobile editor toolbar and reorganize navigation menu
  .beads/issues.jsonl
  .gitignore
  AGENTS.md
  static/css/default.css
  static/js/index.ts
  static/js/services/editor-context-menu-coordinator.test.ts
  static/js/services/editor-context-menu-coordinator.ts
  static/js/services/text-formatting-service.test.ts
  static/js/services/text-formatting-service.ts
  static/js/web-components/editor-context-menu.ts
  static/js/web-components/editor-toolbar.test.ts
  static/js/web-components/editor-toolbar.ts
  static/js/web-components/system-info.ts
  static/templates/index.tmpl
Due: javascript

feat: Add editor context menu with mobile toolbar (#192)
  .beads/issues.jsonl
  .gitignore
  AGENTS.md
  static/css/default.css
  static/js/index.ts
  static/js/services/editor-context-menu-coordinator.test.ts
  static/js/services/editor-context-menu-coordinator.ts
  static/js/services/editor-upload-service.test.ts
  static/js/services/editor-upload-service.ts
  static/js/services/text-formatting-service.test.ts
  static/js/services/text-formatting-service.ts
  static/js/web-components/editor-context-menu.test.ts
  static/js/web-components/editor-context-menu.ts
  static/js/web-components/editor-toolbar.test.ts
  static/js/web-components/editor-toolbar.ts
  static/templates/index.tmpl
  utils/goldmarkrenderer/goldmark_renderer_test.go
Due: javascript, go

fix: Add null byte injection protection
  server/handlers_test.go
  server/handlers_web.go
Due: go

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
