Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

coverage:
  status:
    project:
      default:
        # Allow up to 0.1% coverage drop
        threshold: 0.1%
    patch:
      default:
        # Require 90% coverage on new/changed lines
        target: 90%

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

Regenerate proto, add bridge debug logging
  cmd/wiki-cli/pool.go
Due: go

Fix bridge hang: move cancellation subscription to goroutine
  cmd/wiki-cli/pool.go
Due: go

Add more bridge debug logging for message receive and prompt send
  cmd/wiki-cli/pool.go
Due: go

Skip creating message until there's meaningful response text
  cmd/wiki-cli/pool.go
Due: go

Add heartbeat to keep instance alive during long prompts
  cmd/wiki-cli/pool.go
Due: go

Add heartbeat debug logging
  cmd/wiki-cli/pool.go
Due: go

Add permission request UI — forward agent permissions to user via chat
  api/proto/api/v1/chat.proto
  cmd/wiki-cli/pool.go
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  pkg/chatbuffer/buffer.go
  static/js/gen/api/v1/chat_pb.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Wire blocking permission relay: pool daemon asks user, blocks until response
  api/proto/api/v1/chat.proto
  cmd/wiki-cli/pool.go
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  static/js/gen/api/v1/chat_pb.ts
Due: javascript, go

Add comprehensive test coverage for ACP chat features
  cmd/wiki-cli/pool_test.go
  e2e/tests/chat-pool-permissions.spec.ts
  internal/grpc/api/v1/chat_test.go
  pkg/chatbuffer/buffer_test.go
  static/js/web-components/chat-message-bubble.test.ts
  static/js/web-components/page-chat-panel.test.ts
  test-results/.last-run.json
Due: javascript, go

Add ACP state machine, dev version git hash, strengthen frontmatter memory
  cmd/wiki-cli/build-all.sh
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
Due: go

Remove non-ACP backward compatibility
  api/proto/api/v1/chat.proto
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/mcp_test.go
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  pkg/chatbuffer/buffer.go
  pkg/chatbuffer/buffer_test.go
  static/js/gen/api/v1/chat_pb.ts
Due: javascript, go

Add E2E tests for FAB chat button accessibility (aria-expanded, aria-controls, focus return) (#855)
  bun.lock
  e2e/tests/fab-chat-a11y.spec.ts
Due: none

Fix all lint issues: split long functions, handle errors, clean whitespace
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  internal/grpc/api/v1/chat.go
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Extract usage-site interfaces for testability, add 126 mock-based tests
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  internal/grpc/api/v1/chat_test.go
Due: go

Fix FAB hidden attribute overridden by display:flex
  static/js/web-components/page-chat-panel.ts
Due: javascript

Address PR review comments: permission deny bug, defer leak, context propagation
  .gitignore
  api/proto/api/v1/chat.proto
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  pkg/chatbuffer/buffer.go
  pkg/chatbuffer/buffer_test.go
  static/js/web-components/page-chat-panel.ts
  test-results/.last-run.json
Due: javascript, go

Add E2E tests for table filtering and sorting (#860)
  e2e/tests/table-filter-sort.spec.ts
Due: none

Fix test failures: update empty permission test, fix resizePanel on desktop
  internal/grpc/api/v1/chat_test.go
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Fix remaining review comments: error wording, focus safety
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Contain scroll within chat panel messages container (#870)
  static/js/web-components/page-chat-panel.ts
Due: javascript

Fix Object stringification code smells in augment-error-service.ts (#872)
  static/js/web-components/augment-error-service.test.ts
  static/js/web-components/augment-error-service.ts
Due: javascript

Add E2E tests for system info panel and sub-components (#862)
  e2e/tests/system-info.spec.ts
Due: none

test: add comprehensive unit test coverage for inventory-move-item-dialog (#919)
  static/js/web-components/inventory-move-item-dialog.test.ts
  static/js/web-components/inventory-move-item-dialog.ts
Due: javascript

fix: TS2532 non-null assertion in inventory-move-item-dialog.test.ts (#926)
  static/js/web-components/inventory-move-item-dialog.test.ts
Due: javascript

test: improve blog-new-post-dialog coverage to 90%+ (#918)
  static/js/web-components/blog-new-post-dialog.test.ts
Due: javascript

fix: handle type assertion results explicitly in renderSurveyResponse
  templating/templating.go
Due: go

feat(proto): add agent_metadata, scheduled_turn, mcp_options protos
  api/proto/api/v1/agent_metadata.proto
  api/proto/api/v1/mcp_options.proto
  api/proto/api/v1/scheduled_turn.proto
  gen/go/api/v1/agent_metadata.pb.go
  gen/go/api/v1/agent_metadata_grpc.pb.go
  gen/go/api/v1/apiv1connect/agent_metadata.connect.go
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1connect/scheduled_turn.connect.go
  gen/go/api/v1/apiv1mcp/agent_metadata.pb.mcp.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/apiv1mcp/scheduled_turn.pb.mcp.go
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  gen/go/api/v1/mcp_options.pb.go
  gen/go/api/v1/scheduled_turn.pb.go
  gen/go/api/v1/scheduled_turn_grpc.pb.go
  static/js/gen/api/v1/agent_metadata_pb.ts
  static/js/gen/api/v1/chat_pb.ts
  static/js/gen/api/v1/mcp_options_pb.ts
  static/js/gen/api/v1/scheduled_turn_pb.ts
Due: javascript, go

feat(server): add ScheduleStateMachine for agent schedule transitions
  server/schedule_state_machine.go
  server/schedule_state_machine_test.go
Due: go

feat(jobs): add RegisterQueue for explicit queue sizing
  pkg/jobs/coordinator.go
  pkg/jobs/coordinator_test.go
Due: go

feat(server): add AgentScheduleStore for typed agent.schedules access
  server/agent_metadata_codec.go
  server/agent_schedule_store.go
  server/agent_schedule_store_test.go
Due: go

feat(grpc): guard agent.* writes through generic Frontmatter API
  internal/grpc/api/v1/frontmatter.go
  internal/grpc/api/v1/frontmatter_agent_guard_test.go
Due: go

feat(server): add ScheduledTurnDispatcher and gRPC handlers
  internal/grpc/api/v1/scheduled_turn.go
  internal/grpc/api/v1/server.go
  server/scheduled_turn_dispatcher.go
  server/scheduled_turn_dispatcher_test.go
Due: go

feat(server): add AgentTurnJob and AgentScheduler
  server/agent_scheduler.go
  server/agent_scheduler_test.go
  server/agent_turn_job.go
  server/agent_turn_job_test.go
Due: go

feat(wiki-cli): pool subscriber for scheduled-agent turns
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/scheduled_turn.go
Due: go

feat: wire scheduled-agent infrastructure into site, bootstrap, and main
  internal/bootstrap/server.go
  internal/grpc/api/v1/frontmatter_agent_guard_test.go
  main.go
  pkg/jobs/coordinator_test.go
  server/agent_schedule_store.go
  server/agent_scheduler.go
  server/agent_scheduler_test.go
  server/agent_turn_job.go
  server/site.go
Due: go

docs(adrs): fix markdownlint errors in 0008-drawer-ux-layer-system
  docs/adrs/0008-drawer-ux-layer-system.md
Due: none

feat(server): add AgentChatContextStore and wire terminal auto-append
  server/agent_chat_context_store.go
  server/agent_chat_context_store_test.go
  server/agent_schedule_store.go
  server/agent_schedule_store_test.go
  server/site.go
Due: go

feat(grpc): AgentMetadataService handlers
  internal/bootstrap/server.go
  internal/grpc/api/v1/agent_metadata.go
  internal/grpc/api/v1/agent_metadata_test.go
  internal/grpc/api/v1/server.go
Due: go

feat(wiki-cli): expose AgentMetadataService over MCP + update chat preamble
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
Due: go
