Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

fix(hashtag): close other popovers when opening one
  static/js/web-components/wiki-hashtag.test.ts
  static/js/web-components/wiki-hashtag.ts
Due: javascript

docs(adr): add 0009 reserved namespaces and 0010 wiki.* namespace
  docs/adrs/0009-reserved-namespaces-and-dedicated-services.md
  docs/adrs/0010-wiki-namespace-for-wiki-managed-metadata.md
Due: none

feat(identity): IsAgent/Name on IdentityValue + agent-tag and self-claim header
  internal/bootstrap/server.go
  main.go
  tailscale/identity.go
  tailscale/identity_resolver.go
  tailscale/identity_resolver_test.go
  tailscale/identity_test.go
  tailscale/interceptor.go
  tailscale/interceptor_test.go
Due: go

refactor(grpc): extract reserved-namespace registry from frontmatter.go
  internal/grpc/api/v1/frontmatter.go
  internal/grpc/api/v1/reserved.go
  internal/grpc/api/v1/reserved_test.go
  internal/grpc/api/v1/server_internal_test.go
Due: go

feat(proto): add ChecklistService with item-level RPCs and MCP descriptions
  api/proto/api/v1/checklist.proto
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/mcp_extension_regression_test.go
  gen/go/api/v1/apiv1connect/checklist.connect.go
  gen/go/api/v1/apiv1mcp/checklist.pb.mcp.go
  gen/go/api/v1/checklist.pb.go
  gen/go/api/v1/checklist_grpc.pb.go
  internal/bootstrap/server.go
  internal/grpc/api/v1/server.go
  static/js/gen/api/v1/checklist_pb.ts
Due: javascript, go

feat(checklistmutator): single-funnel mutator with attribution and OCC
  go.mod
  go.sum
  internal/grpc/api/v1/reserved.go
  pkg/ulid/ulid.go
  server/checklistmutator/codec.go
  server/checklistmutator/mutator.go
  server/checklistmutator/mutator_test.go
  vendor/github.com/oklog/ulid/v2/.gitignore
  vendor/github.com/oklog/ulid/v2/AUTHORS.md
  vendor/github.com/oklog/ulid/v2/CHANGELOG.md
  vendor/github.com/oklog/ulid/v2/CONTRIBUTING.md
  vendor/github.com/oklog/ulid/v2/LICENSE
  vendor/github.com/oklog/ulid/v2/README.md
  vendor/github.com/oklog/ulid/v2/ulid.go
  vendor/modules.txt
Due: go

feat(grpc): wire ChecklistService handlers to checklistMutator funnel
  internal/bootstrap/server.go
  internal/grpc/api/v1/checklist.go
  internal/grpc/api/v1/server.go
Due: go

feat(wiki-cli): checklist subcommand and x-wiki-is-agent header injection
  cmd/wiki-cli/agent_header.go
  cmd/wiki-cli/agent_header_test.go
  cmd/wiki-cli/checklist.go
  cmd/wiki-cli/main.go
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/scheduled_turn.go
Due: go

feat(migrations): eager checklist data-model migration
  migrations/eager/checklist_data_model_migration.go
  migrations/eager/checklist_data_model_migration_test.go
  server/site.go
Due: go

docs(help): rewrite help_macro_checklist for ChecklistService
  internal/syspage/embedded/help_macro_checklist.md
  internal/syspage/embedded/help_scheduled_agents.md
Due: none

chore(lint): fix Go lint warnings for slice 5/6/7/9 additions
  cmd/wiki-cli/checklist.go
  internal/grpc/api/v1/checklist.go
  migrations/eager/checklist_data_model_migration.go
  migrations/eager/checklist_data_model_migration_test.go
  server/checklistmutator/codec.go
  server/checklistmutator/mutator.go
  server/checklistmutator/mutator_test.go
  static/js/web-components/checklist-data-service.test.ts
  static/js/web-components/checklist-data-service.ts
  static/js/web-components/checklist-drag-manager.test.ts
  static/js/web-components/checklist-drag-manager.ts
  static/js/web-components/checklist-tag-parser.test.ts
  static/js/web-components/checklist-tag-parser.ts
  static/js/web-components/checklist-test-fixtures.ts
  static/js/web-components/wiki-checklist-cursor.integration.test.ts
  static/js/web-components/wiki-checklist-styles.ts
  static/js/web-components/wiki-checklist.stories.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript, go

feat(checklist): swap web component to ChecklistService client
  e2e/tests/checklist-polling.spec.ts
  static/js/web-components/checklist-test-fixtures.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

docs(adr): align 0009 reserved-namespaces table to satisfy markdown lint
  docs/adrs/0009-reserved-namespaces-and-dedicated-services.md
Due: none

fix(checklistmutator): promote legacy items to real ULIDs on first mutation
  server/checklistmutator/mutator.go
  server/checklistmutator/mutator_test.go
Due: go

fix(test-fixtures): use a monotonic counter, not Math.random, for uids
  static/js/web-components/checklist-test-fixtures.ts
Due: javascript

refactor(checklist): single-namespace storage under wiki.checklists.* (#984)
  docs/adrs/0009-reserved-namespaces-and-dedicated-services.md
  docs/adrs/0010-wiki-namespace-for-wiki-managed-metadata.md
  internal/syspage/embedded/help_macro_checklist.md
  migrations/eager/checklist_data_model_migration.go
  migrations/eager/checklist_data_model_migration_test.go
  server/checklistmutator/codec.go
  templating/templating.go
Due: go

refactor(reserved): decouple rejection messages from feature names
  internal/grpc/api/v1/frontmatter_agent_guard_test.go
  internal/grpc/api/v1/reserved.go
  internal/grpc/api/v1/reserved_test.go
Due: go

fix(lint): comma-ok type assertions in migration + macro helpers
  migrations/eager/checklist_data_model_migration.go
  templating/templating.go
Due: go

test(e2e): re-point checklist-a11y error-route stub to ChecklistService
  e2e/tests/checklist-a11y.spec.ts
Due: none

fix(checklist): cascade collision resolver, sync.Map locks, document delete loop
  server/checklistmutator/mutator.go
  static/js/web-components/wiki-checklist.ts
Due: javascript, go

test: cover runChecklist* + buildChecklistCommand for SonarCloud gate
  cmd/wiki-cli/checklist_run_test.go
Due: go

fix(lint): clean up coverage-test lint warnings from c5184248
  cmd/wiki-cli/checklist_run_test.go
  internal/grpc/api/v1/checklist_grpc_test.go
  migrations/eager/checklist_data_model_migration_helpers_test.go
  server/checklistmutator/codec_test.go
  server/checklistmutator/mutator_errors_test.go
Due: go

feat(checklist): Tombstone.sync_token + UpsertFromCalDAV (Phase 0 of #983)
  api/proto/api/v1/checklist.proto
  gen/go/api/v1/checklist.pb.go
  server/checklistmutator/apply_user_mutable_fields_test.go
  server/checklistmutator/codec.go
  server/checklistmutator/codec_test.go
  server/checklistmutator/mutator.go
  server/checklistmutator/mutator_test.go
  server/checklistmutator/upsert.go
  server/checklistmutator/upsert_test.go
  static/js/gen/api/v1/checklist_pb.ts
Due: javascript, go

feat(caldav): add go-webdav + go-ical deps and icalcodec.RenderItem (Phase 1 of #983)
  go.mod
  go.sum
  internal/caldav/icalcodec/doc.go
  internal/caldav/icalcodec/render.go
  internal/caldav/icalcodec/render_test.go
  vendor/github.com/emersion/go-ical/.build.yml
  vendor/github.com/emersion/go-ical/.gitignore
  vendor/github.com/emersion/go-ical/LICENSE
  vendor/github.com/emersion/go-ical/README.md
  vendor/github.com/emersion/go-ical/components.go
  vendor/github.com/emersion/go-ical/decoder.go
  vendor/github.com/emersion/go-ical/encoder.go
  vendor/github.com/emersion/go-ical/enums.go
  vendor/github.com/emersion/go-ical/ical.go
  vendor/github.com/teambition/rrule-go/.gitignore
  vendor/github.com/teambition/rrule-go/.travis.yml
  vendor/github.com/teambition/rrule-go/LICENSE
  vendor/github.com/teambition/rrule-go/Makefile
  vendor/github.com/teambition/rrule-go/README.md
  vendor/github.com/teambition/rrule-go/rrule.go
  vendor/github.com/teambition/rrule-go/rruleset.go
  vendor/github.com/teambition/rrule-go/str.go
  vendor/github.com/teambition/rrule-go/util.go
  vendor/modules.txt
Due: go

feat(caldav): etag package — ItemETag, CollectionCTag, sync-token (P1-C3+C4 of #983)
  internal/caldav/etag/etag.go
  internal/caldav/etag/etag_test.go
Due: go

feat(caldav): icalcodec alarm round-trip + RenderItem wiring (P1-C2 of #983)
  internal/caldav/icalcodec/alarm.go
  internal/caldav/icalcodec/alarm_test.go
  internal/caldav/icalcodec/render.go
  internal/caldav/icalcodec/render_test.go
Due: go

feat(caldav): CalendarBackend interface + ListCollections (P1-C5 of #983)
  internal/caldav/backend.go
  internal/caldav/backend_test.go
  internal/caldav/doc.go
Due: go

feat(caldav): defaultBackend.GetCollection (P1-C6 of #983)
  internal/caldav/backend.go
  internal/caldav/backend_test.go
Due: go

feat(caldav): defaultBackend.ListItems (P1-C7 of #983)
  internal/caldav/backend.go
  internal/caldav/backend_test.go
Due: go

feat(caldav): path sanitization helpers + Server skeleton (P1-C9 of #983)
  internal/caldav/export_test.go
  internal/caldav/server.go
  internal/caldav/server_test.go
Due: go

feat(caldav): defaultBackend.GetItem (P1-C8 of #983)
  internal/caldav/backend.go
  internal/caldav/backend_test.go
Due: go

feat(caldav): serveOPTIONS handler with DAV + Allow headers (P1-C10 of #983)
  internal/caldav/export_test.go
  internal/caldav/server.go
  internal/caldav/server_test.go
Due: go

feat(caldav): serveGET for /<page>/<list>/<uid>.ics resources (P1-C14 of #983)
  internal/caldav/export_test.go
  internal/caldav/server.go
  internal/caldav/server_test.go
Due: go

feat(caldav): anonymous-rejection 403 on every handler (P1-C15 of #983)
  internal/caldav/export_test.go
  internal/caldav/server.go
  internal/caldav/server_test.go
Due: go

chore(caldav): lint mop-up after parallel sub-agent commits
  internal/caldav/backend.go
  internal/caldav/backend_test.go
Due: go

feat(caldav): servePROPFIND skeleton (P1-C11/skel of #983)
  internal/caldav/export_test.go
  internal/caldav/propfind.go
Due: go

test(caldav): failing PROPFIND tests for home-set/collection/item shapes (P1-C11/red of #983)
  internal/caldav/propfind_test.go
Due: go

feat(caldav): serveREPORT skeleton (P1-C12/skel of #983)
  internal/caldav/export_test.go
  internal/caldav/report.go
Due: go

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
