Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

coverage:
  status:
    project:
      default:
        # Allow up to 0.1% coverage drop
        threshold: 0.1%
    patch:
      default:
        # Require 90% coverage on new/changed lines
        target: 90%

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

Add startup version compatibility check against running wiki server
  cmd/wiki-cli/build-all.sh
  cmd/wiki-cli/main.go
Due: go

Make version check a hard gate — no offline mode
  cmd/wiki-cli/main.go
Due: go

Ship wiki-cli tool downloadable from the wiki itself (#256)
  .gitignore
  cmd/wiki-cli/build-all.sh
  cmd/wiki-cli/generate.go
  cmd/wiki-cli/main.go
  server/handlers_web.go
Due: go

Fix version check commit comparison for tagged releases
  cmd/wiki-cli/main.go
  cmd/wiki-cli/main_test.go
Due: go

Fix version check commit comparison for tagged releases (#258)
  cmd/wiki-cli/main.go
  cmd/wiki-cli/main_test.go
Due: go

Add comprehensive tests for checkVersionCompatibility
  cmd/wiki-cli/main_test.go
Due: go

Address PR review: validate request path/method, improve assertions
  cmd/wiki-cli/main_test.go
Due: go

Add wiki-cli version check tests for codecov coverage (#259)
  cmd/wiki-cli/main_test.go
Due: go

Whitelist wiki-checklist element in bluemonday HTML sanitizer (#272)
  utils/goldmarkrenderer/goldmark_renderer.go
  utils/goldmarkrenderer/goldmark_renderer_test.go
Due: go

Add Checklist Go template function for wiki-checklist web component (#271)
  templating/templating.go
  templating/templating_test.go
Due: go

Add wiki-checklist Lit web component for interactive checklists (#273)
  static/js/index.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

Fix wiki-checklist test conventions to follow CLAUDE.md patterns
  static/js/web-components/wiki-checklist.test.ts
Due: javascript

Fix wiki-checklist test conventions to follow CLAUDE.md patterns (#280)
  static/js/web-components/wiki-checklist.test.ts
Due: javascript

Add Storybook stories for wiki-checklist component (#279)
  static/js/web-components/wiki-checklist.stories.ts
Due: javascript

Fix test convention violations in wiki-checklist tests
  static/js/web-components/wiki-checklist.test.ts
Due: javascript

Add comprehensive unit tests for wiki-checklist web component (#277)
  static/js/web-components/wiki-checklist.test.ts
Due: javascript

fix: apply test convention fixes and add dragleave handler tests
  static/js/web-components/wiki-checklist.test.ts
Due: javascript

Add drag-and-drop reordering to wiki-checklist items (#278)
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

fix: apply test conventions to checklist gRPC integration tests
  internal/grpc/api/v1/server_test.go
Due: go

Add checklist gRPC round-trip integration tests (#284)
  internal/grpc/api/v1/server_test.go
Due: go

Fix checklist frontmatter marshalling and redesign UI
  index/frontmatter/index.go
  index/frontmatter/index_test.go
  static/js/web-components/wiki-checklist.stories.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
  wikipage/page.go
  wikipage/page_test.go
Due: javascript, go

Fix checklist frontmatter marshalling and redesign UI (#285)
  index/frontmatter/index.go
  index/frontmatter/index_test.go
  static/js/web-components/wiki-checklist.stories.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
  wikipage/page.go
  wikipage/page_test.go
Due: javascript, go

Change tag filters to AND logic for multi-tag filtering
  static/js/web-components/wiki-checklist.stories.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

Change tag filters to AND logic for multi-tag filtering (#286)
  static/js/web-components/wiki-checklist.stories.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

fix: extract type assertions from It blocks into BeforeEach
  internal/grpc/api/v1/server_test.go
Due: go

fix: split multi-assertion It blocks and refine TOCTOU comment
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
Due: go

fix: document interceptor bypass and auth, thread version to MCP server
  internal/bootstrap/server.go
  internal/mcp/server.go
  internal/mcp/server_test.go
Due: go

fix: use checked type assertions in checklist integration tests
  internal/grpc/api/v1/server_test.go
Due: go

Fix unchecked type assertions in checklist integration tests (#287)
  internal/grpc/api/v1/server_test.go
Due: go

fix: add protoc-gen-go-mcp to devbox environment
  devbox.json
  scripts/ensure_protoc_gen_go_mcp.sh
Due: none

fix: resolve lint errors in wiki-cli
  cmd/wiki-cli/main.go
  cmd/wiki-cli/main_test.go
Due: go

Fix lint errors in wiki-cli (#288)
  cmd/wiki-cli/main.go
  cmd/wiki-cli/main_test.go
Due: go

Add touch-based long-press-to-drag reordering for mobile
  static/js/web-components/wiki-checklist.stories.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

fix: remove fileUploadsEnabled control flag, fix redundant import alias
  internal/bootstrap/server.go
  internal/grpc/api/v1/file_storage.go
  internal/grpc/api/v1/file_storage_test.go
  internal/grpc/api/v1/inventory_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
Due: go

Add touch-based long-press-to-drag reordering (#289)
  static/js/web-components/wiki-checklist.stories.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

fix: remove remaining fileUploadsEnabled args from inventory_test.go
  internal/grpc/api/v1/inventory_test.go
Due: go

[WIP] Add gRPC methods for file uploads (#281)
  api/proto/api/v1/file_storage.proto
  filestore/disk_file_storer.go
  filestore/disk_file_storer_test.go
  filestore/file_storer.go
  filestore/filestore_suite_test.go
  gen/go/api/v1/file_storage.pb.go
  gen/go/api/v1/file_storage_grpc.pb.go
  internal/bootstrap/server.go
  internal/bootstrap/vanguard_transcoder_test.go
  internal/grpc/api/v1/file_storage.go
  internal/grpc/api/v1/file_storage_test.go
  internal/grpc/api/v1/inventory_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  server/handlers_web.go
  server/site.go
  static/js/gen/api/v1/file_storage_pb.ts
Due: javascript, go

Standardize Lit property declarations to `declare` + constructor init pattern (#260)
  static/js/web-components/confirmation-dialog.ts
  static/js/web-components/error-display.ts
  static/js/web-components/inventory-qr-scanner.ts
  static/js/web-components/kernel-panic.ts
  static/js/web-components/qr-scanner.ts
  static/js/web-components/wiki-image.ts
Due: javascript

fix: add missing fileStorer parameter to NewServer call in MCP test
  internal/mcp/server_test.go
Due: go

Add optimistic concurrency control, explicit content-clearing API, and post-write invariant checks to prevent accidental data loss (#283)
  api/proto/api/v1/page_management.proto
  gen/go/api/v1/page_management.pb.go
  gen/go/api/v1/page_management_grpc.pb.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  static/js/gen/api/v1/page_management_pb.ts
Due: javascript, go
