Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

coverage:
  status:
    project:
      default:
        # Allow up to 0.1% coverage drop
        threshold: 0.1%
    patch:
      default:
        # Require 90% coverage on new/changed lines
        target: 90%

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

Fix remaining S7764 and misc code smells not covered by #703 (#732)
  .devcontainer/Dockerfile
  static/js/services/editor-upload-service.ts
  static/js/setup.js
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/frontmatter-value.test.ts
  static/js/web-components/frontmatter-value.ts
  static/js/web-components/global-error-handler.ts
  static/js/web-components/grpc-transport.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.test.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/kernel-panic.ts
  static/js/web-components/page-deletion-service.test.ts
  static/js/web-components/page-deletion-service.ts
  static/js/web-components/toast-message.ts
  static/js/web-components/wiki-image.ts
  static/js/web-components/wiki-search.ts
  static/js/web-components/wiki-table.ts
Due: javascript

Fix #780: Fix code smells in run_sonar_query.sh and confirmation-interlock-button.ts (#789)
  scripts/run_sonar_query.sh
  static/js/web-components/confirmation-interlock-button.ts
Due: javascript

Fix #743: Fix S7758 and remaining miscellaneous TypeScript/JS code smells (#757)
  static/js/setup.js
Due: javascript

Pin all GitHub Actions dependencies to full commit SHAs (#731)
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/frontend.yml
  .github/workflows/go.yml
  .github/workflows/release.yml
  e2e/build-runner.test.ts
  e2e/build-runner.ts
  e2e/global-setup.ts
  e2e/package.json
  sonar-project.properties
Due: none

Fix security hotspots: PATH variable and commit SHA pinning (#728)
  labels/lp_printer.go
  labels/lp_printer_test.go
  main.go
  main_test.go
  tools/generate_matrix.go
Due: go

Replace instanceSpawner with commandBuilder interface for testability
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
Due: go

Fix revive control flag lint: split buildClaudeArgs into two functions
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
Due: go

Fix #768: Revert cargo-cult regex replacement in wiki-client.ts (#787)
  extensions/online-order-recorder/src/wiki-client.ts
Due: none

Fix #735: Fix S2612 file permission vulnerabilities in Go test files (quality gate blocker) (#749)
  server/handlers_test.go
  server/site_test.go
Due: go

Fix #746: Add E2E tests for toast notification system (#760)
  e2e/tests/toast-notifications.spec.ts
Due: none

Add integration tests for MergeFrontmatter deep merge behavior (#729)
  internal/grpc/api/v1/server_test.go
Due: go

Add E2E tests for z-index token system (ADR-0008) (#730)
  e2e/tests/z-index-token-system.spec.ts
Due: none

Fix #739: Fix S1186: add comments to empty function bodies in Go test stubs (#753)
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  internal/observability/grpc_interceptor_test.go
  tailscale/middleware_test.go
  templating/templating_test.go
Due: go

Fix #741: Fix 3 miscellaneous code smells: unused import, Dockerfile RUN merge, codePointAt (#755)
  static/js/web-components/table-state-persistence.test.ts
  static/js/web-components/table-state-persistence.ts
Due: javascript

Fix #744: Add E2E tests for inventory management features (#758)
  e2e/tests/inventory-management.spec.ts
Due: none
