Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

coverage:
  status:
    project:
      default:
        # Allow up to 0.1% coverage drop
        threshold: 0.1%
    patch:
      default:
        # Require 90% coverage on new/changed lines
        target: 90%

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

Add Firefox extension AMO signing and fix compatibility
  .github/workflows/deploy.yml
  devbox.json
  extensions/online-order-recorder/build-extension.sh
  extensions/online-order-recorder/manifest.json
  scripts/build.sh
Due: none

Pass AMO signing credentials to release workflow build step
  .github/workflows/release.yml
Due: none

Update devbox.lock for web-ext addition
  devbox.lock
Due: none

Fix AMO validation errors for extension signing
  extensions/online-order-recorder/manifest.json
  scripts/build.sh
Due: none

Fix data_collection_permissions format for AMO validation
  extensions/online-order-recorder/manifest.json
Due: none

Rename extension to Simple Wiki Companion with auto-config and bug fixes
  extensions/online-order-recorder/build-extension.sh
  extensions/online-order-recorder/icons/icon-48.png
  extensions/online-order-recorder/icons/icon-96.png
  extensions/online-order-recorder/manifest.json
  extensions/online-order-recorder/package.json
  extensions/online-order-recorder/popup.html
  extensions/online-order-recorder/src/background.test.ts
  extensions/online-order-recorder/src/background.ts
  extensions/online-order-recorder/src/browser.d.ts
  extensions/online-order-recorder/src/components/settings-panel.ts
  extensions/online-order-recorder/src/content-wiki-detect.ts
  extensions/online-order-recorder/src/content.ts
  extensions/online-order-recorder/src/merchants/amazon.ts
  scripts/build.sh
  server/handlers_test.go
  server/handlers_web.go
  static/templates/index.tmpl
Due: go

Cache signed XPI to avoid AMO rate limits and bump version to 1.0.2
  .github/workflows/deploy.yml
  extensions/online-order-recorder/manifest.json
  scripts/build.sh
Due: none

Bump extension to 1.0.3 and add AMO signing retry logic
  extensions/online-order-recorder/manifest.json
  scripts/build.sh
Due: none

Make AMO signing failure non-fatal, deploy unsigned if throttled
  scripts/build.sh
Due: none

Fix extension compatibility with Firefox Dev Edition
  extensions/online-order-recorder/manifest.json
Due: none

Add TODO: move AMO signing to running wiki for dynamic update_url
  scripts/build.sh
Due: none

Fix Amazon order parsing and rearrange popup UI
  extensions/online-order-recorder/popup.css
  extensions/online-order-recorder/popup.html
  extensions/online-order-recorder/src/merchants/amazon.ts
Due: none

Remove AMO signing retry loop — try once, move on
  scripts/build.sh
Due: none

Show item descriptions in popup, fix Connect RPC service name
  extensions/online-order-recorder/src/components/order-list.ts
  extensions/online-order-recorder/src/wiki-client.ts
Due: none

Fix Connect RPC field names (page → pageName, camelCase)
  extensions/online-order-recorder/src/wiki-client.ts
Due: none

Use generated Connect-ES clients in wiki-client.ts
  extensions/online-order-recorder/build-extension.sh
  extensions/online-order-recorder/manifest.json
  extensions/online-order-recorder/src/wiki-client.ts
  extensions/online-order-recorder/tsconfig.json
Due: none

Add comprehensive test coverage for extension (221 tests)
  extensions/online-order-recorder/src/background.test.ts
  extensions/online-order-recorder/src/components/order-list.test.ts
  extensions/online-order-recorder/src/components/settings-panel.test.ts
  extensions/online-order-recorder/src/content-wiki-detect.test.ts
  extensions/online-order-recorder/src/content.test.ts
  extensions/online-order-recorder/src/popup.test.ts
  extensions/online-order-recorder/src/wiki-client.test.ts
Due: none

Add Firefox extension AMO signing and fix compatibility (#305)
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  devbox.json
  devbox.lock
  extensions/online-order-recorder/build-extension.sh
  extensions/online-order-recorder/icons/icon-48.png
  extensions/online-order-recorder/icons/icon-96.png
  extensions/online-order-recorder/manifest.json
  extensions/online-order-recorder/package.json
  extensions/online-order-recorder/popup.css
  extensions/online-order-recorder/popup.html
  extensions/online-order-recorder/src/background.test.ts
  extensions/online-order-recorder/src/background.ts
  extensions/online-order-recorder/src/browser.d.ts
  extensions/online-order-recorder/src/components/order-list.test.ts
  extensions/online-order-recorder/src/components/order-list.ts
  extensions/online-order-recorder/src/components/settings-panel.test.ts
  extensions/online-order-recorder/src/components/settings-panel.ts
  extensions/online-order-recorder/src/content-wiki-detect.test.ts
  extensions/online-order-recorder/src/content-wiki-detect.ts
  extensions/online-order-recorder/src/content.test.ts
  extensions/online-order-recorder/src/content.ts
  extensions/online-order-recorder/src/merchants/amazon.ts
  extensions/online-order-recorder/src/popup.test.ts
  extensions/online-order-recorder/src/wiki-client.test.ts
  extensions/online-order-recorder/src/wiki-client.ts
  extensions/online-order-recorder/tsconfig.json
  scripts/build.sh
  server/handlers_test.go
  server/handlers_web.go
  static/templates/index.tmpl
Due: go

Fix AMO throttling: sign extension once, not per-platform
  .github/workflows/release.yml
  scripts/build.sh
Due: none

Fix AMO throttling: sign extension once, not per-platform (#309)
  .github/workflows/release.yml
  scripts/build.sh
Due: none

Extract sign-extension.sh, fix devbox/review issues
  .github/workflows/release.yml
  scripts/build.sh
  scripts/sign-extension.sh
Due: none

Fix sign-extension: extract script, address review feedback (#310)
  .github/workflows/release.yml
  scripts/build.sh
  scripts/sign-extension.sh
Due: none

Derive extension version from git tag in sign-extension.sh
  scripts/sign-extension.sh
Due: none

Set extension version from git tag in sign-extension.sh (#311)
  scripts/sign-extension.sh
Due: none

Auto-deploy from release workflow, remove standalone deploy
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  scripts/deploy.sh
Due: none

Auto-deploy from release workflow (#312)
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  scripts/deploy.sh
Due: none

Fix invalid UTF-8 in search result fragment field (#307)
  index/bleve/index.go
  index/bleve/index_test.go
Due: go

Address review feedback and fix diagnostics
  internal/grpc/api/v1/inventory.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  server/handlers_web.go
  static/js/web-components/wiki-editor.test.ts
  templating/templating.go
  templating/templating_test.go
Due: javascript, go

Prevent saves of pages with invalid macros; provide clear, actionable errors (#308)
  internal/grpc/api/v1/inventory.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  server/handlers_web.go
  static/js/web-components/wiki-editor.test.ts
  static/js/web-components/wiki-editor.ts
  templating/templating.go
  templating/templating_test.go
Due: javascript, go

Standardize error display across all components using <error-display> (#219)
  static/js/web-components/file-drop-zone.test.ts
  static/js/web-components/file-drop-zone.ts
  static/js/web-components/inventory-add-item-dialog.test.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.test.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/qr-scanner.test.ts
  static/js/web-components/qr-scanner.ts
  static/js/web-components/system-info-indexing.test.ts
  static/js/web-components/system-info-indexing.ts
  static/js/web-components/system-info-version.test.ts
  static/js/web-components/system-info-version.ts
  static/js/web-components/system-info.stories.ts
  static/js/web-components/system-info.test.ts
  static/js/web-components/system-info.ts
  static/js/web-components/wiki-search.test.ts
  static/js/web-components/wiki-search.ts
Due: javascript

Standardize error display with <error-display> component (#313)
  static/js/web-components/file-drop-zone.test.ts
  static/js/web-components/file-drop-zone.ts
  static/js/web-components/inventory-add-item-dialog.test.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.test.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/qr-scanner.test.ts
  static/js/web-components/qr-scanner.ts
  static/js/web-components/system-info-indexing.test.ts
  static/js/web-components/system-info-indexing.ts
  static/js/web-components/system-info-version.test.ts
  static/js/web-components/system-info-version.ts
  static/js/web-components/system-info.stories.ts
  static/js/web-components/system-info.test.ts
  static/js/web-components/system-info.ts
  static/js/web-components/wiki-search.test.ts
  static/js/web-components/wiki-search.ts
Due: javascript

Fix Go version drift across CI and devbox
  .github/workflows/go.yml
  devbox.json
  devbox.lock
  scripts/ensure_golangci_lint.sh
  scripts/run_go_lint.sh
Due: none

Fix Go version drift across CI and devbox (#314)
  .github/workflows/go.yml
  devbox.json
  devbox.lock
  scripts/ensure_golangci_lint.sh
  scripts/run_go_lint.sh
Due: none

Add Blog macro for publishing and displaying blog articles
  api/proto/api/v1/search.proto
  gen/go/api/v1/apiv1mcp/file_storage.pb.mcp.go
  gen/go/api/v1/apiv1mcp/page_management.pb.mcp.go
  gen/go/api/v1/apiv1mcp/search.pb.mcp.go
  gen/go/api/v1/search.pb.go
  gen/go/api/v1/search_grpc.pb.go
  index/frontmatter/index.go
  index/frontmatter/index_test.go
  internal/grpc/api/v1/inventory_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  scripts/run_go_generate.sh
  server/mocks_test.go
  server/site_error_handling_test.go
  static/js/gen/api/v1/search_pb.ts
  static/js/index.ts
  static/js/web-components/blog-new-post-dialog.test.ts
  static/js/web-components/blog-new-post-dialog.ts
  static/js/web-components/wiki-blog.test.ts
  static/js/web-components/wiki-blog.ts
  static/js/web-components/wiki-editor.test.ts
  static/js/web-components/wiki-editor.ts
  templating/templating.go
  templating/templating_test.go
  utils/goldmarkrenderer/goldmark_renderer.go
  wikipage/page.go
  wikipage/page_test.go
Due: javascript, go

Restore branch deployment via deploy.yml workflow
  .github/workflows/deploy.yml
  scripts/deploy.sh
Due: none

Update deploy workflow to devbox-install-action v0.14.0
  .github/workflows/deploy.yml
Due: none

Fix blog new post dialog: auto-save, Done button, margins, identifier preview
  static/js/web-components/blog-new-post-dialog.ts
  static/js/web-components/editor-toolbar.ts
  static/js/web-components/wiki-editor.ts
Due: javascript

Add title-input component, fix progressive enhancement, add Load More
  static/js/web-components/automagic-identifier-input.test.ts
  static/js/web-components/automagic-identifier-input.ts
  static/js/web-components/blog-new-post-dialog.test.ts
  static/js/web-components/blog-new-post-dialog.ts
  static/js/web-components/title-input.test.ts
  static/js/web-components/title-input.ts
  static/js/web-components/wiki-blog.test.ts
  static/js/web-components/wiki-blog.ts
Due: javascript

Drop template parameter from Blog macro; add collapsible summary field
  static/js/web-components/blog-new-post-dialog.test.ts
  static/js/web-components/blog-new-post-dialog.ts
  static/js/web-components/wiki-blog.ts
  templating/templating.go
  templating/templating_test.go
  utils/goldmarkrenderer/goldmark_renderer.go
Due: javascript, go

Fix double rendering: use span instead of p in blog fallback HTML
  templating/templating.go
  utils/goldmarkrenderer/goldmark_renderer.go
Due: go
