Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

Fix S7764: remove non-null assertions in core/service files (#634)
  static/js/web-components/page-deletion-service.ts
Due: javascript

Fix S7764: remove non-null assertions in UI components (#636)
  static/js/web-components/inventory-move-item-dialog.ts
Due: javascript

Fix S2699: add assertions to drawer-coordinator, system-info, and chat-markdown-renderer tests (#641)
  static/js/web-components/system-info.test.ts
Due: javascript

Fix S7735: remove unnecessary conditionals across 6 files (#642)
  static/js/web-components/insert-new-page-dialog.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/page-import-dialog.ts
  static/js/web-components/qr-scanner.ts
  static/js/web-components/table-filter-popover.ts
  static/js/web-components/wiki-table.ts
Due: javascript

Follow-up: fix review feedback from PR #634 (#640)
  static/js/web-components/confirmation-interlock-button.stories.ts
  static/js/web-components/page-deletion-service.ts
Due: javascript

Follow-up: fix unresolved Gemini review feedback from PRs #606, #608, #624, #632, #633, #635 (#643)
  sonar-project.properties
  static/js/services/editor-upload-service.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

Fix S7772 + S2094 + S6594: node imports, empty classes, RegExp.exec (#644)
  e2e/global-setup.ts
  e2e/global-teardown.ts
  extensions/online-order-recorder/src/merchants/amazon.test.ts
  extensions/online-order-recorder/src/merchants/amazon.ts
  extensions/online-order-recorder/src/popup.test.ts
  static/js/services/editor-upload-service.ts
Due: javascript

Fix S2699: add assertions to page-chat-panel, collapsible-heading, and wiki-table tests (#645)
  static/js/web-components/collapsible-heading.test.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/wiki-table.test.ts
Due: javascript

Fix S3776 + S6582: reduce CC in server.go and add optional chain (#646)
  internal/grpc/api/v1/server.go
  static/js/web-components/frontmatter-value-section.ts
Due: javascript, go

Fix S2699: add assertions to frontmatter editor test files (#655)
  static/js/web-components/frontmatter-editor-dialog.test.ts
  static/js/web-components/frontmatter-value-section.test.ts
  static/js/web-components/frontmatter-value.test.ts
Due: javascript

Fix Go code smells: S8209, S8196, S8193 across 6 files (#654)
  cmd/wiki-cli/main.go
  cmd/wiki-cli/main_test.go
  index/bleve/index.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  migrations/eager/json_archive_migration.go
  server/page_import_job.go
  server/site.go
  templating/templating.go
  wikipage/page.go
  wikipage/page_test.go
Due: go

Fix S2699: add assertions to wiki editor and search test files (#656)
  static/js/web-components/wiki-search.test.ts
Due: javascript

Fix S2699: add assertions to remaining UI component test files (#657)
  static/js/web-components/global-error-handler.test.ts
Due: javascript

Fix S2699: add assertions to service test files (#659)
  static/js/services/editor-save-queue.test.ts
  static/js/services/editor-toolbar-coordinator.test.ts
  static/js/services/editor-upload-service.test.ts
  static/js/services/text-formatting-service.test.ts
Due: javascript

Fix S1444 + S2933: static member access and readonly modifiers (#666)
  extensions/online-order-recorder/src/components/order-list.ts
  extensions/online-order-recorder/src/components/settings-panel.ts
  static/js/web-components/automagic-identifier-input.ts
  static/js/web-components/confirmation-interlock-button.ts
  static/js/web-components/editor-toolbar.ts
  static/js/web-components/page-deletion-service.ts
  static/js/web-components/table-filter-popover.ts
  static/js/web-components/wiki-table.ts
Due: javascript

Add missing tests for system-templates.ts, grpc-transport.ts, and blog rendering (#668)
  server/page_inventory_normalization_job_test.go
  static/js/web-components/grpc-transport.test.ts
  static/js/web-components/system-templates.test.ts
  templating/templating_blog_test.go
Due: javascript, go

Fix S7764: remove non-null assertions across 17 source files (#667)
  extensions/online-order-recorder/src/merchants/amazon.ts
  static/js/web-components/qr-scanner.ts
  static/js/web-components/wiki-search-results.ts
Due: javascript

Fix S7773 + S7781 + S3863 + S6551: type annotation and assertion smells (#669)
  extensions/online-order-recorder/src/popup.ts
  static/js/index.ts
  static/js/web-components/augment-error-service.ts
  static/js/web-components/frontmatter-value-section.ts
  static/js/web-components/page-chat-panel.ts
  static/js/web-components/toast-message.ts
Due: javascript

Migrate remaining components to z-index token system (ADR-0008) (#670)
  static/js/web-components/blog-new-post-dialog.ts
  static/js/web-components/confirmation-dialog.ts
  static/js/web-components/confirmation-interlock-button.ts
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/insert-new-page-dialog.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/kernel-panic.ts
  static/js/web-components/page-import-dialog.ts
  static/js/web-components/shared-styles.ts
  static/js/web-components/table-filter-popover.ts
  static/js/web-components/toast-message.ts
  static/js/web-components/wiki-checklist.ts
  static/js/web-components/wiki-search-results.ts
Due: javascript

Fix S2699: split multi-behavior test in inventory components (#678)
  static/js/web-components/inventory-menu.test.ts
Due: javascript

Fix S2699: fix test quality in global-error-handler tests (#680)
  static/js/web-components/global-error-handler.test.ts
Due: javascript

Fix S2699: improve assertion in page-deletion-service test (#679)
  static/js/web-components/page-deletion-service.test.ts
Due: javascript

Fix remaining TypeScript code smells (S7773, S7781, S6551, S6606, S7741, S7735) (#681)
  static/js/web-components/augment-error-service.ts
  static/js/web-components/file-drop-zone.ts
  static/js/web-components/frontmatter-value-section.ts
  static/js/web-components/grpc-transport.ts
  static/js/web-components/qr-scanner.ts
  static/js/web-components/system-info.ts
  static/js/web-components/toast-message.ts
  static/js/web-components/wiki-image.ts
  static/js/web-components/wiki-search.ts
Due: javascript

MergeFrontmatter: support deep merge instead of shallow merge (#691)
  internal/grpc/api/v1/server_internal_test.go
  internal/grpc/api/v1/server_test.go
Due: go

Plumb chat persona name from env var through to frontend (#693)
  main.go
  server/handlers_test.go
  server/handlers_web.go
  server/site.go
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
  static/templates/index.tmpl
Due: javascript, go

Defer chat stream until panel is first opened (#692)
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript

Fix S7773 and S7781 code smells across TypeScript files (#702)
  static/js/web-components/frontmatter-value.ts
  static/js/web-components/toast-message.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

Fix misc code smells in page-chat-panel.ts and augment-error-service.ts (#701)
  static/js/web-components/augment-error-service.ts
  static/js/web-components/confirmation-dialog.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript

Suppress S2699 on Go test files — SonarQube doesn't recognize Ginkgo assertions
  sonar-project.properties
Due: none

Suppress S2699 false positives on Ginkgo test files (#734)
  sonar-project.properties
Due: none

Suppress S2699 on TS/JS test files — SonarQube doesn't recognize Chai assertions
  sonar-project.properties
Due: none

Add Phase 1 E2E test coverage for frontmatter, checklist, search, and page deletion (#711)
  e2e/tests/checklist.spec.ts
  e2e/tests/critical-paths.spec.ts
  e2e/tests/frontmatter-editing.spec.ts
  e2e/tests/helpers/frontmatter.test.ts
  e2e/tests/helpers/frontmatter.ts
  e2e/tests/page-deletion.spec.ts
  e2e/tests/search.spec.ts
  sonar-project.properties
Due: none

Suppress S2699 on TS/JS test files — Chai expect() not recognized (#763)
  sonar-project.properties
Due: none

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
