Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

feat(file-shadowing): Add FileShadowingService for managing scan/migration queues
  server/file_shadowing_service.go
  server/file_shadowing_service_test.go
Due: go

Implement generic job queue status reporting system
  internal/grpc/api/v1/server.go
  main.go
  pkg/jobs/coordinator.go
  pkg/jobs/types.go
  server/indexing_test.go
  server/page_test.go
  server/site.go
  server/site_test.go
Due: go

Clean up test files to follow project conventions and fix hanging tests
  internal/grpc/api/v1/server_test.go
  server/indexing_test.go
  server/page_test.go
  server/site.go
  server/site_test.go
  static/js/web-components/indexing-status.test.ts
  static/js/web-components/system-info-indexing.test.ts
  static/js/web-components/system-info-version.test.ts
  static/js/web-components/system-info.test.ts
Due: javascript, go

Fix frontmatter migration and error handling throughout site operations
  rollingmigrations/debug_inventory_test.go
  rollingmigrations/frontmatter_migration_test.go
  rollingmigrations/open_migration_test.go
  rollingmigrations/toml_dot_notation_migration.go
  rollingmigrations/toml_split_fix.patch
  server/file_shadowing_migration.go
  server/file_shadowing_migration_job_test.go
  server/file_shadowing_migration_scan_job_test.go
  server/file_shadowing_migration_tolower_test.go
  server/file_shadowing_service_test.go
  server/handlers.go
  server/handlers_test.go
  server/openorinit_migration_test.go
  server/page.go
  server/page_test.go
  server/site.go
  server/site_test.go
  wikiidentifiers/file_lifecycle_test.go
  wikiidentifiers/file_shadowing_test.go
  wikiidentifiers/identifiers_test.go
Due: go

Restructure frontmatter migration test to follow CONVENTIONS.md
  rollingmigrations/debug_inventory_test.go
  rollingmigrations/frontmatter_migration_test.go
  rollingmigrations/open_migration_test.go
  server/file_shadowing_migration_tolower_test.go
  server/openorinit_migration_test.go
Due: go

Fix template indexing bug and improve file shadowing migration tests
  go.mod
  index/bleve/index.go
  index/frontmatter/frontmatter_suite_test.go
  index/frontmatter/index_test.go
  rollingmigrations/applicator.go
  rollingmigrations/frontmatter_migration_test.go
  rollingmigrations/inventory_container_munging_migration.go
  rollingmigrations/inventory_container_munging_migration_test.go
  rollingmigrations/open_migration_test.go
  rollingmigrations/toml_split_fix.patch
  rollingmigrations/yaml_to_toml_migration.go
  rollingmigrations/yaml_to_toml_migration_test.go
  server/file_shadowing_migration.go
  server/file_shadowing_migration_job_test.go
  server/file_shadowing_migration_scan_job_test.go
  templating/templating.go
  templating/templating_test.go
Due: go

cleaning debug logging
  index/frontmatter/index.go
Due: go

fix: Update Go linting and e2e test compatibility
  e2e/tests/critical-paths.spec.ts
  server/file_shadowing_migration_job_test.go
Due: go

Update static/js/web-components/toast-message.ts
  static/js/web-components/toast-message.ts
Due: javascript

Refactor template timeout handling to use standard Go context patterns
  templating/templating.go
Due: go

Clean up debug mode and logging from templating.go
  templating/templating.go
Due: go

Fix frontend linting error: remove unused sharedStyles import
  static/js/web-components/toast-message.ts
Due: javascript

refactor: Apply TDD conventions to all Go test files
  internal/grpc/api/v1/server_test.go
  pkg/jobs/coordinator_test.go
  rollingmigrations/applicator.go
  rollingmigrations/frontmatter_migration_test.go
  rollingmigrations/identifier_munging_migration.go
  rollingmigrations/identifier_munging_migration_test.go
  rollingmigrations/open_migration_test.go
  rollingmigrations/toml_dot_notation_migration_test.go
  rollingmigrations/toml_table_spacing_migration_test.go
  rollingmigrations/yaml_to_toml_migration_test.go
  server/api_handlers_test.go
  server/file_shadowing_migration.go
  server/file_shadowing_migration_job_test.go
  server/file_shadowing_migration_scan_job_test.go
  server/file_shadowing_service_test.go
  server/handlers.go
  server/handlers_test.go
  server/indexing_test.go
  server/openorinit_migration_test.go
  server/openorinit_test.go
  server/page.go
  server/page_test.go
  server/site.go
  server/site_test.go
  server/url_params.go
  server/url_params_test.go
  templating/templating.go
  templating/templating_test.go
  utils/base32tools/base32tools_test.go
  utils/slicetools/slicetools_test.go
  wikiidentifiers/identifiers_test.go
Due: go

Remove SystemInfoIndexing storybook stories
  static/js/web-components/indexing-status.stories.ts
Due: javascript

Modernize CONVENTIONS.md code examples to strict TypeScript
  CONVENTIONS.md
Due: none

Trim CONVENTIONS.md to reduce size by 3.5k characters
  CONVENTIONS.md
Due: none

Update ADR 0006 to match actual implementation with generic job queue architecture
  docs/adrs/0006-parallel-indexing-architecture.md
Due: none

Implement centralized error logging in generic job infrastructure
  index/bleve/index.go
  index/frontmatter/index.go
  pkg/jobs/coordinator.go
  pkg/jobs/coordinator_test.go
  server/file_shadowing_migration_scan_job_test.go
  server/file_shadowing_service_test.go
  server/indexing_queue_integration_test.go
  server/site.go
  server/site_test.go
Due: go

Add Go error handling patterns to CONVENTIONS.md
  CONVENTIONS.md
Due: none

Replace meaningless BleveIndexJob tests with single meaningful test
  CONVENTIONS.md
  index/index_jobs_test.go
Due: go

Fix misleading interface tests and remove meaningless existence tests
  index/index_jobs_test.go
  utils/goldmarkrenderer/goldmark_renderer_test.go
Due: go

Remove vestigial BackgroundIndexingCoordinator system and related code
  index/background_coordinator.go
  index/background_coordinator_test.go
  index/bleve/index.go
  index/frontmatter/index.go
  index/frontmatter/index_test.go
  index/interfaces.go
  index/multi_maintainer.go
  internal/core/interfaces.go
  internal/core/types.go
  server/mocks_test.go
  server/openorinit_test.go
  server/site.go
  server/site_test.go
Due: go

Remove unused IMaintainIndex interface
  index/interfaces.go
Due: go

Refactor job queue system to auto-register queues based on job names
  index/interfaces.go
  internal/grpc/api/v1/server_test.go
  pkg/jobs/coordinator.go
  pkg/jobs/coordinator_test.go
  server/file_shadowing_migration.go
  server/file_shadowing_migration_scan_job_test.go
  server/file_shadowing_service.go
  server/file_shadowing_service_test.go
  server/indexing_queue_integration_test.go
  server/indexing_service.go
  server/site.go
  server/site_test.go
Due: go

Consolidate duplicate template execution functions into single ExecuteTemplate
  CONVENTIONS.md
  index/bleve/index.go
  labels/printer.go
  server/indexing_queue_integration_test.go
  server/page.go
  server/site_test.go
  templating/templating.go
Due: go

Consolidate TOML libraries to use pelletier/go-toml/v2 exclusively
  go.mod
  rollingmigrations/frontmatter_migration_test.go
  rollingmigrations/identifier_munging_migration.go
  rollingmigrations/identifier_munging_migration_test.go
  rollingmigrations/inventory_container_munging_migration.go
  rollingmigrations/inventory_container_munging_migration_test.go
  rollingmigrations/open_migration_test.go
  server/openorinit_migration_test.go
Due: go

Reorganize migrations into lazy/eager structure and eliminate service wrapper
  migrations/lazy/applicator.go
  migrations/lazy/applicator_test.go
  migrations/lazy/frontmatter_migration.go
  migrations/lazy/frontmatter_migration_test.go
  migrations/lazy/identifier_munging_migration.go
  migrations/lazy/identifier_munging_migration_test.go
  migrations/lazy/inventory_container_munging_migration.go
  migrations/lazy/inventory_container_munging_migration_test.go
  migrations/lazy/open_migration_test.go
  migrations/lazy/rollingmigrations_suite_test.go
  migrations/lazy/test_utils.go
  migrations/lazy/toml_dot_notation_migration.go
  migrations/lazy/toml_dot_notation_migration_test.go
  migrations/lazy/toml_table_spacing_migration.go
  migrations/lazy/toml_table_spacing_migration_test.go
  migrations/lazy/yaml_to_toml_migration.go
  migrations/lazy/yaml_to_toml_migration_test.go
  server/api_handlers_test.go
  server/file_shadowing_migration_job_test.go
  server/file_shadowing_migration_scan_job_test.go
  server/file_shadowing_service.go
  server/file_shadowing_service_test.go
  server/handlers.go
  server/indexing_test.go
  server/openorinit_migration_test.go
  server/openorinit_test.go
  server/page_test.go
  server/site.go
  server/site_test.go
Due: go

Complete Page struct reorganization and cleanup
  migrations/eager/file_shadowing_migration.go
  migrations/eager/file_shadowing_migration_job_test.go
  migrations/eager/file_shadowing_migration_scan_job_test.go
  migrations/eager/file_shadowing_migration_test.go
  migrations/eager/test_helpers.go
  migrations/eager/test_utils.go
  migrations/lazy/open_migration_test.go
  server/file_shadowing_migration_job_test.go
  server/handlers.go
  server/handlers_test.go
  server/openorinit_migration_test.go
  server/openorinit_test.go
  server/page.go
  server/site.go
  server/site_page_operations_test.go
  server/site_test.go
  server/url_params.go
  templating/templating.go
  wikipage/page.go
  wikipage/page_reader_mutator.go
  wikipage/page_test.go
  wikipage/wikipage_suite_test.go
Due: go

Delete migrations/eager/file_shadowing_migration_test.go
  migrations/eager/file_shadowing_migration_test.go
Due: go

Consolidate test support files and fix naming violations
  migrations/eager/eager_suite_test.go
  migrations/eager/file_shadowing_migration_job_test.go
  migrations/eager/file_shadowing_migration_scan_job_test.go
  migrations/eager/migration_test_support.go
  migrations/eager/test_utils.go
Due: go

refactor: Move Site initialization from handlers.go to site.go
  server/handlers.go
  server/site.go
Due: go

refactor: Move indexing coordination logic to index package
  index/coordinator.go
  index/coordinator_test.go
  server/indexing_service.go
  server/indexing_test.go
  server/mock_index_operator_test.go
  server/site.go
  server/site_page_operations_test.go
  server/site_test.go
Due: go

refactor: Focus server migration test on coordination, not specific migration behavior
  server/openorinit_migration_test.go
Due: go

refactor: Rename openorinit_migration_test.go to readorinit_migration_test.go
  server/readorinit_migration_test.go
Due: go

refactor: Rename openorinit_test.go to readorinit_test.go
  server/readorinit_test.go
Due: go

refactor: Remove misplaced file shadowing tests from wikiidentifiers module
  wikiidentifiers/file_lifecycle_test.go
  wikiidentifiers/file_shadowing_test.go
Due: go

Add search service protobuf definition and generate code
  api/proto/api/v1/search.proto
  gen/go/api/v1/search.pb.go
  gen/go/api/v1/search_grpc.pb.go
  static/js/gen/api/v1/search_connect.ts
  static/js/gen/api/v1/search_pb.ts
Due: javascript, go

feat: Implement backend gRPC SearchContent service
  api/proto/api/v1/search.proto
  gen/go/api/v1/search.pb.go
  gen/go/api/v1/search_grpc.pb.go
  index/bleve/index.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  main.go
  server/api_handlers_test.go
  static/js/gen/api/v1/search_connect.ts
  static/js/gen/api/v1/search_pb.ts
Due: javascript, go

feat: Implement frontend gRPC search client
  static/js/services/search-client.test.ts
  static/js/services/search-client.ts
  static/js/web-components/wiki-search-results.ts
  static/js/web-components/wiki-search.test.ts
  static/js/web-components/wiki-search.ts
Due: javascript
