Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

docs: Phase 10 - help_google_tasks + connector index + operator setup
  docs/google_tasks_setup.md
  docs/google_tasks_setup_personal.md
  internal/syspage/embedded/help_connectors.md
  internal/syspage/embedded/help_google_keep.md
  internal/syspage/embedded/help_google_tasks.md
Due: none

docs(adr): Phase 11 - ADRs 0011-0014 for ChecklistSubscription, connector abstraction, GCP project, security stance
  docs/adrs/0011-checklist-subscription-aggregate.md
  docs/adrs/0012-connector-abstraction.md
  docs/adrs/0013-per-deployment-gcp-project.md
  docs/adrs/0014-limited-security-stance.md
Due: none

feat(web-components): Phase 2 - connector-subscribe-button + connector-paused-badge
  internal/syspage/embedded/help_google_keep.md
  static/js/index.ts
  static/js/web-components/confirmation-interlock-button.ts
  static/js/web-components/connector-paused-badge.test.ts
  static/js/web-components/connector-paused-badge.ts
  static/js/web-components/connector-subscribe-button.test.ts
  static/js/web-components/connector-subscribe-button.ts
  static/js/web-components/keep-bind-button.test.ts
  static/js/web-components/keep-bind-button.ts
  static/js/web-components/wiki-checklist.ts
  templating/custom_elements.go
Due: javascript, go

feat(grpc,bootstrap): Phase 7 - wire Tasks Connector into ConnectorService
  internal/bootstrap/server.go
  internal/connectors/google_tasks/sync/lifecycle.go
  internal/grpc/api/v1/connector_service.go
  internal/grpc/api/v1/connector_service_handlers_test.go
  internal/grpc/api/v1/connector_service_tasks_test.go
  internal/grpc/api/v1/connector_service_test.go
  internal/grpc/api/v1/server.go
  server/checklistmutator/mutator.go
  server/checklistmutator/mutator_test.go
  server/checklistmutator/upsert.go
Due: go

feat(web-components): Phase 8 - google-tasks-connect profile component
  static/js/index.ts
  static/js/web-components/google-tasks-connect.test.ts
  static/js/web-components/google-tasks-connect.ts
  templating/custom_elements.go
Due: javascript, go

feat(web-components): Phase 9 - auth-failed UX (profile banner + reconnect routing)
  static/js/index.ts
  static/js/web-components/profile-paused-banner.test.ts
  static/js/web-components/profile-paused-banner.ts
Due: javascript

chore: lint cleanup + GoogleTasksConnect template macro
  internal/connectors/google_tasks/gateway/client_test.go
  internal/connectors/google_tasks/sync/fakes_for_test.go
  internal/connectors/google_tasks/translator/marker.go
  internal/connectors/google_tasks/translator/marker_test.go
  internal/syspage/embedded/profile_template.md
  templating/custom_elements.go
  templating/custom_elements_test.go
  templating/templating.go
  templating/templating_test.go
Due: go

feat(profile): wire profile-paused-banner into profile_template
  internal/syspage/embedded/profile_template.md
  templating/custom_elements.go
Due: go

fix(ui,docs): Phase 7+ - remove "connector" UX leak + dated screenshot convention
  docs/google_tasks_setup.md
  docs/google_tasks_setup/README.md
  static/js/web-components/google-tasks-connect.ts
  static/js/web-components/keep-connect.ts
Due: javascript

docs: profile-page upgrade instructions for existing deployments
  docs/profile_upgrade_for_tasks_bridge.md
Due: none

docs: Keep regression verification runbook + matrix step 14a
  docs/keep_regression_verification.md
Due: none

fix(oauth,connectors/google_tasks): Phase 7+ - auto-resume on reconnect + strict iss validation
  internal/connectors/google_tasks/sync/lifecycle.go
  internal/connectors/google_tasks/sync/sync_test.go
  server/oauth_google_handler.go
  server/oauth_google_handler_test.go
Due: go

fix(connectors/google_keep): Phase 7+ - rename to Subscription, wire LeaseTable, fix error mapping, boot rebuild
  internal/bootstrap/server.go
  internal/connectors/google_keep/sync/connector.go
  internal/connectors/google_keep/sync/connector_coverage_test.go
  internal/connectors/google_keep/sync/cron.go
  internal/connectors/google_keep/sync/cron_test.go
  internal/connectors/google_keep/sync/dead_letter_test.go
  internal/connectors/google_keep/sync/iface.go
  internal/connectors/google_keep/sync/metrics.go
  internal/connectors/google_keep/sync/subscriptions.go
  internal/connectors/google_keep/sync/subscriptions_test.go
  internal/connectors/google_keep/sync/sync_test.go
  internal/grpc/api/v1/connector_service.go
  internal/grpc/api/v1/connector_service_handlers_test.go
  internal/grpc/api/v1/connector_service_test.go
  internal/syspage/embedded/help_google_keep.md
  migrations/eager/keep_bridge_fingerprint_migration.go
  migrations/eager/keep_bridge_fingerprint_migration_test.go
Due: go

docs(help): canonical help_profile_features page; supersede one-shot upgrade doc
  docs/profile_upgrade_for_tasks_bridge.md
  internal/syspage/embedded/help.md
  internal/syspage/embedded/help_connectors.md
  internal/syspage/embedded/help_profile.md
  internal/syspage/embedded/help_profile_features.md
Due: none

fix(integration): pre-ultrareview integration cleanup
  docs/google_tasks_setup.md
  docs/google_tasks_setup_personal.md
  docs/keep_regression_verification.md
  static/js/web-components/connector-paused-badge.ts
  static/js/web-components/profile-paused-banner.ts
Due: javascript

chore(deploy): inject SIMPLE_WIKI_GOOGLE_TASKS_* env vars via envsubst
  .github/workflows/deploy.yml
  deployment/simple_wiki.service
Due: none

fix(help): canonical macro form for KeepConnect and GoogleTasksConnect
  internal/syspage/embedded/help_profile_features.md
Due: none

fix: GoogleTasksConnect macro no longer takes profile-id arg; derive from caller identity
  internal/syspage/embedded/help_profile_features.md
  internal/syspage/embedded/profile_template.md
  templating/custom_elements.go
  templating/templating.go
  templating/templating_test.go
Due: go

style(ui): Bind/Bound verb + cloud-service generic noun (per user preference)
  docs/google_tasks_setup.md
  internal/syspage/embedded/help_connectors.md
  internal/syspage/embedded/help_google_keep.md
  internal/syspage/embedded/help_google_tasks.md
  internal/syspage/embedded/help_profile_features.md
  static/js/web-components/connector-subscribe-button.test.ts
  static/js/web-components/connector-subscribe-button.ts
  static/js/web-components/google-tasks-connect.ts
  static/js/web-components/keep-connect.test.ts
  static/js/web-components/keep-connect.ts
Due: javascript

fix(connectors/google_tasks): support create-new tasklist + populate Tasks picker
  internal/connectors/google_tasks/gateway/client.go
  internal/connectors/google_tasks/gateway/client_test.go
  internal/connectors/google_tasks/sync/fakes_for_test.go
  internal/connectors/google_tasks/sync/iface.go
  internal/connectors/google_tasks/sync/lifecycle.go
  internal/connectors/google_tasks/sync/lister_syncjob_test.go
  internal/connectors/google_tasks/sync/sync_test.go
  internal/grpc/api/v1/connector_service.go
  internal/grpc/api/v1/connector_service_err_mapper_test.go
  internal/grpc/api/v1/connector_service_tasks_test.go
Due: go

fix(migrations/lazy): break TOML table-spacing write-loop on profile pages
  migrations/lazy/toml_table_spacing_migration.go
  migrations/lazy/toml_table_spacing_migration_test.go
Due: go

fix(lint): drop redundant v1 alias and unused receiver name in err mapper test
  internal/grpc/api/v1/connector_service_err_mapper_test.go
Due: go

fix(connectors/google_tasks): distinguish SERVICE_DISABLED from rate-limit in error mapping
  internal/connectors/google_tasks/gateway/client.go
  internal/connectors/google_tasks/gateway/client_test.go
  internal/connectors/google_tasks/gateway/errors.go
  internal/grpc/api/v1/connector_service.go
  internal/grpc/api/v1/connector_service_err_mapper_test.go
  internal/syspage/embedded/help_google_tasks.md
Due: go

fix(connectors): inspect upstream error bodies before classifying — never collapse to a single sentinel
  internal/connectors/google_keep/gateway/client.go
  internal/connectors/google_keep/gateway/client_test.go
  internal/connectors/google_keep/gateway/errors.go
  internal/grpc/api/v1/connector_service.go
  internal/grpc/api/v1/connector_service_keep_err_mapper_test.go
Due: go

fix(connectors/google_tasks/sync): Subscribe must persist Subscription AND push existing items
  internal/connectors/google_tasks/sync/fakes_for_test.go
  internal/connectors/google_tasks/sync/lifecycle.go
  internal/connectors/google_tasks/sync/sync_test.go
  internal/syspage/embedded/help_google_tasks.md
Due: go

feat(hooks): run opengrep on Edit/Write to catch violations at edit time
  .claude/hooks/run-opengrep-on-write.sh
  .claude/settings.json
  CONVENTIONS.md
Due: none

fix(bootstrap): scheduler lister enumerates Tasks profiles by refresh_token, not email
  internal/bootstrap/server.go
  internal/bootstrap/tasks_listers_test.go
Due: go

feat(opengrep): rules for error mishandling + fix all hits
  .semgrep/rules.yml
  .semgrep/tests/error_rules.go
  .semgrep/tests/error_rules.yaml
  cmd/wiki-cli/pool.go
  index/bleve/index.go
  internal/connectors/google_keep/sync/connector.go
  internal/grpc/api/v1/page_management.go
  internal/observability/otel.go
  migrations/eager/checklist_data_model_migration.go
  scripts/run_opengrep_lint.sh
  server/agent_turn_job.go
  server/handlers_web.go
  server/profile_handler.go
  utils/goldmarkrenderer/alert_node.go
  utils/goldmarkrenderer/collapsible_section.go
Due: go

fix(connectors/google_tasks/sync): diff-before-push + proper 412 handling — stop overwriting user phone changes
  internal/connectors/google_tasks/sync/connector.go
  internal/connectors/google_tasks/sync/fakes_for_test.go
  internal/connectors/google_tasks/sync/lifecycle.go
  internal/connectors/google_tasks/sync/store.go
  internal/connectors/google_tasks/sync/sync_test.go
  internal/connectors/google_tasks/sync/types.go
  internal/syspage/embedded/help_google_tasks.md
Due: go

diag(connectors/google_tasks/sync): log outbound diff mismatch — figure out why production is patching every tick
  internal/connectors/google_tasks/sync/connector.go
Due: go

fix(connectors/google_tasks/sync): compare Due at date-only resolution — Tasks truncates time-of-day on the wire
  internal/connectors/google_tasks/sync/connector.go
  internal/connectors/google_tasks/sync/sync_test.go
Due: go

fix(checklistmutator): fan-out subscribers so Tasks receives wiki-edit triggers
  internal/bootstrap/server.go
  internal/connectors/google_tasks/sync/sync_debouncer_test.go
  internal/connectors/google_tasks/sync/sync_test.go
  server/checklistmutator/mutator.go
  server/checklistmutator/mutator_test.go
Due: go

fix(connectors): close cross-connector exclusivity hole + Tasks 412 recovery + integration test harness
  cmd/connector-roundtrip-test/main.go
  internal/connectors/google_keep/sync/sync_debouncer.go
  internal/connectors/google_keep/sync/sync_debouncer_test.go
  internal/connectors/google_tasks/sync/connector.go
  internal/connectors/google_tasks/sync/sync_debouncer.go
  internal/connectors/google_tasks/sync/sync_test.go
  internal/syspage/embedded/help_google_tasks.md
  server/checklistmutator/sync_helpers.go
  server/checklistmutator/sync_helpers_test.go
  server/oauth_google_handler.go
  server/oauth_google_handler_test.go
Due: go

feat(web-components): render Tasks bindings list on profile (parity with Keep)
  internal/syspage/embedded/help_google_tasks.md
  static/js/web-components/google-tasks-connect.test.ts
  static/js/web-components/google-tasks-connect.ts
Due: javascript

fix(help): escape template macros in help_profile_features
  internal/syspage/embedded/help_profile_features.md
Due: none

fix(tasks): require email in OAuth + skip inspect on create-new + log Subscribe errors
  internal/bootstrap/server.go
  internal/connectors/google_tasks/gateway/oauth.go
  internal/connectors/google_tasks/sync/lifecycle.go
  internal/connectors/google_tasks/sync/sync_test.go
  internal/grpc/api/v1/connector_service.go
  server/oauth_google_handler.go
  server/oauth_google_handler_test.go
  static/js/web-components/google-tasks-connect.test.ts
  static/js/web-components/google-tasks-connect.ts
Due: javascript, go

fix(tasks/sync): inbound guards prevent pending-wiki-edit clobber
  internal/connectors/events.go
  internal/connectors/google_tasks/sync/connector.go
  internal/connectors/google_tasks/sync/sync_test.go
Due: go

docs(adr): ADR-0015 per-checklist operation log + engine-owned merge rule
  docs/adrs/0015-per-checklist-operation-log.md
Due: none

feat(proto): add ChecklistEvent + Checklist.events/max_seq (ADR-0015)
  api/proto/api/v1/checklist.proto
  gen/go/api/v1/checklist.pb.go
  static/js/gen/api/v1/checklist_pb.ts
Due: javascript, go

feat(checklistmutator): codec read/write + seq allocator for events (15a)
  server/checklistmutator/codec.go
  server/checklistmutator/codec_test.go
Due: go

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
