Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

Fix claude-code-action v1 compatibility (#415)
  .github/workflows/claude.yml
Due: none

Add visual dividers between system-info panel sections
  static/js/web-components/system-info-identity.ts
  static/js/web-components/system-info.ts
Due: javascript

Compact panel layout and rename indexing → jobs
  static/js/web-components/system-info-identity.test.ts
  static/js/web-components/system-info-identity.ts
  static/js/web-components/system-info-jobs.test.ts
  static/js/web-components/system-info-jobs.ts
  static/js/web-components/system-info-version.test.ts
  static/js/web-components/system-info-version.ts
  static/js/web-components/system-info.test.ts
  static/js/web-components/system-info.ts
Due: javascript

Improve SonarCloud exclusion patterns for vendor and generated code (#416)
  sonar-project.properties
Due: none

Restart WatchPage stream when tab wakes from sleep
  static/js/web-components/page-auto-refresh.ts
Due: javascript

Auto-refresh pages on content change (preserve scroll position + system panel status) (#413)
  api/proto/api/v1/page_management.proto
  e2e/tests/page-auto-refresh.spec.ts
  e2e/tsconfig.json
  gen/go/api/v1/page_management.pb.go
  gen/go/api/v1/page_management_grpc.pb.go
  internal/bootstrap/server.go
  internal/grpc/api/v1/file_storage_test.go
  internal/grpc/api/v1/inventory_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  static/js/gen/api/v1/page_management_pb.ts
  static/js/index.ts
  static/js/web-components/page-auto-refresh.test.ts
  static/js/web-components/page-auto-refresh.ts
  static/js/web-components/system-info-identity.test.ts
  static/js/web-components/system-info-identity.ts
  static/js/web-components/system-info-jobs.test.ts
  static/js/web-components/system-info-jobs.ts
  static/js/web-components/system-info-page.test.ts
  static/js/web-components/system-info-page.ts
  static/js/web-components/system-info-version.test.ts
  static/js/web-components/system-info-version.ts
  static/js/web-components/system-info.test.ts
  static/js/web-components/system-info.ts
  static/templates/index.tmpl
Due: javascript, go

Addressing PR comments (#414)
  api/proto/api/v1/chat.proto
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/apiv1mcp/frontmatter.pb.mcp.go
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  internal/bootstrap/server.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/file_storage_test.go
  internal/grpc/api/v1/inventory_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  pkg/chatbuffer/buffer.go
  pkg/chatbuffer/buffer_test.go
  static/js/gen/api/v1/chat_pb.ts
Due: javascript, go

Fix toolbar/menu bar visibility on iOS Safari (#419)
  static/css/default.css
Due: none

Add E2E tests for error surfacing in page list (#421)
  e2e/tests/page-list-error-surfacing.spec.ts
Due: none

Fix code smells from jQuery-TypeScript migration (#422)
  static/js/global.d.ts
  static/js/index.ts
  static/js/web-components/inventory-menu.ts
  static/js/web-components/page-import-menu.ts
  static/js/web-components/print-label.ts
Due: javascript

Add MCP channel server for Claude Code integration (#428)
  cmd/wiki-cli/main.go
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/mcp_test.go
Due: go

Switch wiki-cli MCP server from native gRPC to Connect protocol (#432)
  buf.gen.yaml
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/mcp_test.go
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1connect/file_storage.connect.go
  gen/go/api/v1/apiv1connect/frontmatter.connect.go
  gen/go/api/v1/apiv1connect/inventory.connect.go
  gen/go/api/v1/apiv1connect/page_import.connect.go
  gen/go/api/v1/apiv1connect/page_management.connect.go
  gen/go/api/v1/apiv1connect/search.connect.go
  gen/go/api/v1/apiv1connect/system_info.connect.go
Due: go

Hide FAB when chat panel is open
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript

Add Ctrl+Space keyboard shortcut to toggle chat panel
  static/js/web-components/page-chat-panel.ts
Due: javascript

Add chat panel web component for per-page Claude conversations (#411)
  api/proto/api/v1/page_management.proto
  gen/go/api/v1/page_management.pb.go
  gen/go/api/v1/page_management_grpc.pb.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  server/site.go
  static/js/gen/api/v1/page_management_pb.ts
  static/js/index.ts
  static/js/web-components/chat-markdown-renderer.test.ts
  static/js/web-components/chat-markdown-renderer.ts
  static/js/web-components/chat-message-bubble.stories.ts
  static/js/web-components/chat-message-bubble.test.ts
  static/js/web-components/chat-message-bubble.ts
  static/js/web-components/page-chat-panel.stories.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
  static/templates/index.tmpl
  templating/templating.go
Due: javascript, go

Adjust chat panel for mobile keyboard via visualViewport
  static/js/web-components/page-chat-panel.ts
Due: javascript

Improve chat textarea tap target and click-to-focus
  static/js/web-components/page-chat-panel.ts
Due: javascript

Disable chat UI when Claude is not connected
  api/proto/api/v1/chat.proto
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  internal/grpc/api/v1/chat.go
  static/js/gen/api/v1/chat_pb.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Pin GitHub Actions to full commit SHAs for supply chain security
  .github/workflows/claude.yml
Due: none

Fix MCP stdio init race: defer chat subscription until after handshake
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/mcp_test.go
Due: go

Fix channel capability: use empty object instead of boolean
  cmd/wiki-cli/mcp.go
Due: go

Address PR review feedback: coverage, dedup, context, accessibility
  api/proto/api/v1/page_management.proto
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  static/js/web-components/chat-markdown-renderer.test.ts
  static/js/web-components/chat-markdown-renderer.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
  templating/templating.go
Due: javascript, go

Use configurable persona name (default Dorium) and animated thinking dots
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript

Pin GitHub Actions dependencies to full commit SHA hashes
  .github/workflows/claude.yml
Due: none

Remove hardcoded Claude persona from backend and stories
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  static/js/web-components/chat-message-bubble.stories.ts
  static/js/web-components/page-chat-panel.stories.ts
Due: javascript, go

Fix textarea tap target: fill full width, increase rows to 2
  static/js/web-components/page-chat-panel.ts
Due: javascript

Pin GitHub Actions to full commit SHA hashes (#438)
  .github/workflows/claude.yml
Due: none

Add test for auto-refresh editing protection (#429)
  e2e/tests/page-auto-refresh.spec.ts
Due: none

Add Drawer UX layer system with coordinator and mixin
  static/js/web-components/drawer-coordinator.test.ts
  static/js/web-components/drawer-coordinator.ts
  static/js/web-components/drawer-mixin.test.ts
  static/js/web-components/drawer-mixin.ts
  static/js/web-components/drawer-styles.ts
  static/js/web-components/page-chat-panel.stories.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
  static/js/web-components/shared-styles.ts
  static/js/web-components/system-info.test.ts
  static/js/web-components/system-info.ts
Due: javascript

Add ADR-0008: Drawer UX Layer System
  docs/adrs/0008-drawer-ux-layer-system.md
Due: none

Fix system-info stories: rename expanded to drawerOpen
  static/js/web-components/system-info.stories.ts
Due: javascript

[WIP] Add array index support to RemoveKeyAtPath (#440)
  internal/grpc/api/v1/server_test.go
Due: go

Add chat panel web component for per-page Claude conversations (#430)
  api/proto/api/v1/chat.proto
  api/proto/api/v1/page_management.proto
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/mcp_test.go
  docs/adrs/0008-drawer-ux-layer-system.md
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  gen/go/api/v1/page_management.pb.go
  gen/go/api/v1/page_management_grpc.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  server/site.go
  static/js/gen/api/v1/chat_pb.ts
  static/js/gen/api/v1/page_management_pb.ts
  static/js/index.ts
  static/js/web-components/chat-markdown-renderer.test.ts
  static/js/web-components/chat-markdown-renderer.ts
  static/js/web-components/chat-message-bubble.stories.ts
  static/js/web-components/chat-message-bubble.test.ts
  static/js/web-components/chat-message-bubble.ts
  static/js/web-components/drawer-coordinator.test.ts
  static/js/web-components/drawer-coordinator.ts
  static/js/web-components/drawer-mixin.test.ts
  static/js/web-components/drawer-mixin.ts
  static/js/web-components/drawer-styles.ts
  static/js/web-components/page-chat-panel.stories.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
  static/js/web-components/shared-styles.ts
  static/js/web-components/system-info.stories.ts
  static/js/web-components/system-info.test.ts
  static/js/web-components/system-info.ts
  static/templates/index.tmpl
  templating/templating.go
Due: javascript, go

refactor: reduce cognitive complexity of AddReaction (fixes #443) (#450)
  pkg/chatbuffer/buffer.go
Due: go

Expand chat panel to fill viewport when mobile keyboard opens
  static/js/web-components/page-chat-panel.ts
Due: javascript

Fix mobile chat panel: full-screen on open, track viewport on keyboard
  static/js/web-components/page-chat-panel.ts
Due: javascript

Show "Send" on mobile keyboard return key via enterkeyhint
  static/js/web-components/page-chat-panel.ts
Due: javascript

Expand chat panel to fill viewport on mobile keyboard (#456)
  static/js/web-components/page-chat-panel.ts
Due: javascript

refactor: extract duplicated 'page is required' literal to constant (#449)
  internal/grpc/api/v1/chat.go
Due: go

refactor: reduce cognitive complexity of startWatching (25 to 8) (#452)
  static/js/web-components/page-auto-refresh.test.ts
  static/js/web-components/page-auto-refresh.ts
Due: javascript

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
