Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

updates and fixing a rouge bun dep
  devbox.lock
  package.json
  static/js/bun.lock
  static/js/package.json
Due: javascript

use inbuilt actions logger
  CONVENTIONS.md
  static/js/web-components/frontmatter-editor-dialog.stories.ts
  static/js/web-components/toast-message.stories.ts
  static/js/web-components/wiki-search.stories.ts
Due: javascript

dont need 10 minutes
  static/js/web-test-runner.config.mjs
Due: javascript

lint fix
  static/js/web-components/frontmatter-editor-dialog.stories.ts
Due: javascript

Implement Generic Error Display Component with Expand/Collapse Functionality (#113)
  .devbox_run_scripts/run_fe_tests.sh
  CONVENTIONS.md
  devbox.json
  devbox.lock
  docs/adrs/0001-add-grpc-and-grpc-web-apis.md
  docs/adrs/0002-use-devbox-for-dependencies.md
  docs/adrs/0003-adopt-connect-es-for-frontend-grpc.md
  docs/adrs/0004-error-handling-architecture.md
  package.json
  static/js/.eslintrc.js
  static/js/.storybook/main.ts
  static/js/bun.lock
  static/js/index.ts
  static/js/package.json
  static/js/web-components/augment-error-service.test.ts
  static/js/web-components/augment-error-service.ts
  static/js/web-components/error-display.stories.ts
  static/js/web-components/error-display.test.ts
  static/js/web-components/error-display.ts
  static/js/web-components/frontmatter-add-field-button.stories.ts
  static/js/web-components/frontmatter-editor-dialog-save.test.ts
  static/js/web-components/frontmatter-editor-dialog.stories.ts
  static/js/web-components/frontmatter-editor-dialog.test.ts
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/frontmatter-value-array.stories.ts
  static/js/web-components/global-error-handler.test.ts
  static/js/web-components/global-error-handler.ts
  static/js/web-components/kernel-panic.stories.ts
  static/js/web-components/kernel-panic.test.ts
  static/js/web-components/kernel-panic.ts
  static/js/web-components/shared-styles.ts
  static/js/web-components/toast-message.stories.ts
  static/js/web-components/version-display.stories.ts
  static/js/web-components/wiki-search.stories.ts
  static/js/web-components/wiki-search.test.ts
  static/js/web-test-runner.config.mjs
Due: javascript

Log indexing errors during site initialization to prevent silent failures (#120)
  server/mocks_test.go
  server/site.go
  server/site_test.go
Due: go

fix storybook
  static/js/web-components/toast-message.stories.ts
Due: javascript

Fix critical data integrity issue: handle p.Update() errors properly (#117)
  CONVENTIONS.md
  server/handlers.go
  server/handlers_test.go
Due: go

Fix p.Erase() error handling to prevent silent failures (#119)
  server/handlers.go
  server/handlers_test.go
Due: go

Update toast-message to handle AugmentedError and modify auto-dismiss behavior (#133)
  static/js/web-components/toast-message.stories.ts
  static/js/web-components/toast-message.test.ts
  static/js/web-components/toast-message.ts
Due: javascript

a little tidy on the proto file
  api/proto/api/v1/page_management.proto
  gen/go/api/v1/page_management.pb.go
  gen/go/api/v1/page_management_grpc.pb.go
  internal/grpc/api/v1/server.go
  static/js/gen/api/v1/page_management_connect.ts
Due: javascript, go

Set up Basic gRPC Environment for Page Management (#134)
  api/proto/api/v1/page_management.proto
  gen/go/api/v1/page_management.pb.go
  gen/go/api/v1/page_management_grpc.pb.go
  internal/grpc/api/v1/server.go
  static/js/gen/api/v1/page_management_connect.ts
  static/js/gen/api/v1/page_management_pb.ts
Due: javascript, go

Fix ignored p.Save() errors in page update and lock handlers (#118)
  server/handlers.go
  server/handlers_test.go
Due: go

Delete coverage.out
  coverage.out
Due: none

Add error logging for session.Save() failures (#116)
  server/handlers.go
  server/handlers_test.go
Due: go

Fix critical data loss issue by properly handling p.Save() errors (#114)
  go.mod
  server/handlers.go
  server/handlers_test.go
  server/page_test.go
  server/site.go
  server/site_test.go
Due: go

tidy
  .github/workflows/release.yml
Due: none

Add cross-compilation support to devbox build and release workflow (#137)
  .devbox_run_scripts/build.sh
  .github/workflows/release.yml
  .gitignore
  devbox.json
Due: none

Implement DeletePage gRPC endpoint for page management (#135)
  CONVENTIONS.md
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  server/site.go
  server/site_test.go
  wikipage/page_reader_mutator.go
Due: go

Update e2e/playwright.config.ts
  e2e/playwright.config.ts
Due: none

made codegen work with devbox installed playwrite
  devbox.json
  devbox.lock
Due: none

Add streamlined E2E test development environment with simplified Playwright codegen (#138)
  .github/workflows/e2e.yml
  .gitignore
  devbox.json
  devbox.lock
  e2e/.gitignore
  e2e/README.md
  e2e/bun.lock
  e2e/global-setup.ts
  e2e/global-teardown.ts
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/critical-paths.spec.ts
  e2e/tsconfig.json
Due: none

Add automated deployment workflow for home server
  .github/workflows/deploy.yml
  docs/DEPLOYMENT.md
Due: none

Refactor deployment workflow to use maintainable scripts
  .github/workflows/deploy.yml
  deployment/post-deploy.sh
  deployment/pre-deploy.sh
  deployment/simple_wiki.service
Due: none

Address PR review feedback
  .github/workflows/deploy.yml
  deployment/post-deploy.sh
  deployment/pre-deploy.sh
  docs/DEPLOYMENT.md
Due: none

Apply suggestion from @Copilot
  .github/workflows/deploy.yml
Due: none

Add automated deployment workflow for home server (#143)
  .github/workflows/deploy.yml
  deployment/post-deploy.sh
  deployment/pre-deploy.sh
  deployment/simple_wiki.service
  docs/DEPLOYMENT.md
Due: none

Fix deployment workflow action version
  .github/workflows/deploy.yml
Due: none

Update documentation for simplified ACL approach
  deployment/post-deploy.sh
  docs/DEPLOYMENT.md
Due: none

Fix action version to v1
  .github/workflows/deploy.yml
Due: none

Fix deployment action version (#145)
  .github/workflows/deploy.yml
Due: none

Fix deployment workflow for correct action usage
  .github/workflows/deploy.yml
  deployment/deploy.sh
  deployment/pre-deploy.sh
Due: none

Fix deployment paths for correct file locations
  .github/workflows/deploy.yml
  deployment/deploy.sh
Due: none

Address PR review comments for deployment script robustness
  deployment/deploy.sh
Due: none

Fix deployment workflow action usage and add performance improvements (#146)
  .github/workflows/deploy.yml
  deployment/deploy.sh
  deployment/pre-deploy.sh
Due: none

Add ADR 0005: Rolling Migrations System for Frontmatter Transformations
  docs/adrs/0005-rolling-migrations-system.md
Due: none

Fix redundant assignment in ADR integration example
  docs/adrs/0005-rolling-migrations-system.md
Due: none

Refine ADR 0005 based on PR feedback
  docs/adrs/0005-rolling-migrations-system.md
Due: none

Simplify ADR 0005 code examples to focus on architecture
  docs/adrs/0005-rolling-migrations-system.md
Due: none

Replace Erase menu with DeletePage gRPC call (#139)
  server/handlers.go
  server/handlers_test.go
  static/js/index.ts
  static/js/simple_wiki.js
  static/js/web-components/confirmation-dialog.stories.ts
  static/js/web-components/confirmation-dialog.test.ts
  static/js/web-components/confirmation-dialog.ts
  static/js/web-components/page-deletion-service.test.ts
  static/js/web-components/page-deletion-service.ts
Due: javascript, go

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
