Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

refactor(caldav): bind audit-write closure at handler entry (P4-C2/refactor of #983)
  internal/caldav/server.go
Due: go

chore(caldav): replace strings.Builder with fmt.Sprintf in auditWrite
  internal/caldav/server.go
Due: go

test(caldav): e2e iOS sync simulation (P4-C3 of #983)
  internal/caldav/e2e/e2e_test.go
Due: go

test(caldav): e2e DAVx5 sync simulation (P4-C4 of #983)
  internal/caldav/e2e/e2e_test.go
Due: go

test(caldav): e2e concurrent-write 412 race (P4-C5 of #983)
  internal/caldav/e2e/e2e_test.go
Due: go

refactor(caldav): extract propfind/report helpers in e2e specs (P4-C5/refactor of #983)
  internal/caldav/e2e/e2e_test.go
Due: go

chore(caldav): reconcile P5 audit findings (P5/reconcile of #983)
  internal/caldav/doc.go
  internal/caldav/icalcodec/parse_test.go
  internal/caldav/server_test.go
  server/checklistmutator/upsert_test.go
Due: go

fix(caldav): address Gemini PR review on #983
  internal/caldav/icalcodec/parse.go
  internal/caldav/icalcodec/parse_test.go
  internal/caldav/report.go
  internal/caldav/report_test.go
Due: go

fix(syspage): escape {{ Checklist }} template references in help_caldav.md
  internal/syspage/embedded/help_caldav.md
Due: none

fix(caldav/etag): rename SyncTokenPrefix to syncURIPrefix to clear S6418
  internal/caldav/etag/etag.go
Due: go

fix(caldav): URL-encode list/page/uid in emitted hrefs
  internal/caldav/export_test.go
  internal/caldav/propfind.go
  internal/caldav/report.go
  internal/caldav/server.go
  internal/caldav/server_test.go
Due: go

fix(caldav): URL-encode hrefs, normalize list names, relax UID validator
  internal/caldav/server.go
  internal/caldav/server_test.go
  server/checklistmutator/mutator.go
  server/checklistmutator/upsert.go
  templating/templating.go
  wikipage/normalize.go
  wikipage/normalize_test.go
Due: go

chore: add vdirsyncer + todoman to devbox for CalDAV testing
  devbox.json
  devbox.lock
Due: none

fix(caldav): root PROPFIND stub + page as principal for client-discovery
  internal/caldav/propfind.go
  internal/caldav/propfind_test.go
  internal/caldav/server.go
  internal/caldav/server_test.go
Due: go

fix(wiki-checklist): drop poll interval from 10s to 2s for live external updates
  static/js/web-components/wiki-checklist.ts
Due: javascript

feat: ChecklistService.WatchList streaming RPC for sub-second live updates
  api/proto/api/v1/checklist.proto
  gen/go/api/v1/apiv1connect/checklist.connect.go
  gen/go/api/v1/checklist.pb.go
  gen/go/api/v1/checklist_grpc.pb.go
  internal/grpc/api/v1/checklist.go
  static/js/gen/api/v1/checklist_pb.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript, go

test(grpc): WatchList validation specs
  internal/grpc/api/v1/checklist_grpc_test.go
Due: go

docs(caldav): document the WatchList live-update channel in help_caldav
  internal/syspage/embedded/help_caldav.md
Due: none

fix(caldav): map sort_order → PRIORITY for tasks.org / DAVx5 ordering
  internal/caldav/icalcodec/render.go
  internal/caldav/icalcodec/render_test.go
Due: go

fix(caldav): scale inbound PRIORITY by sortOrderStep
  internal/caldav/icalcodec/parse.go
  internal/caldav/icalcodec/parse_test.go
Due: go

fix(caldav): plumb parsed SortOrder through CalDAV PUT path
  internal/caldav/backend.go
  server/checklistmutator/upsert.go
Due: go

fix(caldav): emit PRIORITY:0 — never derive PRIORITY from sort_order
  internal/caldav/icalcodec/render.go
  internal/caldav/icalcodec/render_test.go
Due: go

fix(caldav): answer PROPPATCH with 207 stub so iOS keeps writing
  internal/caldav/export_test.go
  internal/caldav/proppatch.go
  internal/caldav/proppatch_test.go
  internal/caldav/server.go
  internal/syspage/embedded/help_caldav.md
Due: go

fix(caldav): advertise the iOS-eagerness props research flags as critical
  internal/caldav/propfind.go
  internal/caldav/propfind_test.go
  internal/caldav/server.go
  internal/caldav/server_test.go
  internal/syspage/embedded/help_caldav.md
Due: go

feat(caldav): harvest #tags from SUMMARY; embed back into iOS-bound rendering
  internal/caldav/backend.go
  internal/caldav/clienthint.go
  internal/caldav/icalcodec/parse.go
  internal/caldav/icalcodec/parse_test.go
  internal/caldav/icalcodec/render.go
  internal/caldav/icalcodec/render_test.go
  internal/caldav/server.go
Due: go

feat: wiki.authorization model with cross-API enforcement
  internal/grpc/api/v1/checklist.go
  internal/grpc/api/v1/frontmatter.go
  internal/grpc/api/v1/page_management.go
  internal/grpc/api/v1/search.go
  internal/grpc/api/v1/server_test.go
  internal/grpc/api/v1/system_page_guard.go
  internal/syspage/embedded/help_profile.md
  internal/syspage/embedded/help_system_pages.md
  internal/syspage/embedded/help_templating.md
  internal/syspage/embedded/profile_template.md
  server/handlers_web.go
  server/profile_handler.go
  server/profile_handler_test.go
  templating/templating.go
  templating/templating_test.go
  wikipage/authorize.go
  wikipage/authorize_test.go
Due: go

fix(profile): address PR #1002 review feedback and CI failures
  migrations/eager/system_template_namespace_migration.go
  migrations/eager/system_template_namespace_migration_helpers_test.go
  server/caldav_gateway_test.go
  server/handlers_web.go
  server/profile_handler.go
  server/profile_handler_test.go
  static/templates/index.tmpl
  wikipage/page_template_test.go
  wikipage/profile_identifier.go
  wikipage/profile_identifier_test.go
Due: go

test: cover handleProfile route entry to lift SonarCloud new-code coverage
  server/profile_handler_test.go
Due: go

docs(claude.md): codify the planning rules that kept #1002 honest
  CONVENTIONS.md
Due: none

feat(keep): gpsoauth Stage 1 — ASP → master token (issue #1000)
  internal/keep/protocol/REFERENCE.md
  internal/keep/protocol/encryption.go
  internal/keep/protocol/errors.go
  internal/keep/protocol/gpsoauth.go
  internal/keep/protocol/gpsoauth_test.go
Due: go

feat(keep): gpsoauth Stage 2 — master token → Keep bearer (issue #1000)
  internal/keep/protocol/gpsoauth.go
  internal/keep/protocol/gpsoauth_test.go
Due: go

feat(keep): typed decoder for /notes/v1/changes (issue #1000)
  internal/keep/protocol/client.go
  internal/keep/protocol/client_test.go
  internal/keep/protocol/types.go
Due: go

feat(keep): CreateList push path + Keep-style id generators (issue #1000)
  internal/keep/protocol/client.go
  internal/keep/protocol/client_test.go
Due: go

feat(keep): bindings storage with per-user collision matrix (issue #1000)
  internal/keep/bridge/bindings.go
  internal/keep/bridge/bindings_test.go
Due: go

feat(keep): proto + gRPC service + connector orchestrator (issue #1000)
  api/proto/api/v1/keep_connector.proto
  gen/go/api/v1/apiv1connect/keep_connector.connect.go
  gen/go/api/v1/apiv1mcp/keep_connector.pb.mcp.go
  gen/go/api/v1/keep_connector.pb.go
  gen/go/api/v1/keep_connector_grpc.pb.go
  internal/bootstrap/server.go
  internal/grpc/api/v1/keep_connector.go
  internal/grpc/api/v1/server.go
  internal/keep/bridge/connector.go
  internal/keep/protocol/client.go
  internal/keep/protocol/types.go
  static/js/gen/api/v1/keep_connector_pb.ts
Due: javascript, go

feat(keep): wiki<->Keep field mapping + verify-only sync stub (issue #1000)
  internal/keep/bridge/connector.go
  internal/keep/bridge/mapping.go
  internal/keep/bridge/mapping_test.go
Due: go

feat(keep): UI + help docs (issue #1000)
  internal/keep/bridge/connector.go
  internal/keep/bridge/mapping.go
  internal/keep/protocol/REFERENCE.md
  internal/syspage/embedded/help.md
  internal/syspage/embedded/help_google_keep.md
  internal/syspage/embedded/help_macro_checklist.md
  internal/syspage/embedded/help_profile.md
  internal/syspage/embedded/profile_template.md
  static/js/index.ts
  static/js/web-components/keep-bind-button.ts
  static/js/web-components/keep-connect.ts
  static/js/web-components/wiki-checklist.ts
  templating/templating.go
Due: javascript, go

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
