Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

coverage:
  status:
    project:
      default:
        # Allow up to 0.1% coverage drop
        threshold: 0.1%
    patch:
      default:
        # Require 90% coverage on new/changed lines
        target: 90%

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

Add subtitle field to blog new post dialog; compact layout
  static/js/web-components/blog-new-post-dialog.test.ts
  static/js/web-components/blog-new-post-dialog.ts
Due: javascript

Fix progressive enhancement: use inline elements in blog fallback HTML
  static/js/web-components/wiki-blog.ts
  templating/templating.go
  templating/templating_test.go
  utils/goldmarkrenderer/goldmark_renderer.go
Due: javascript, go

Add blog.hide-new-post frontmatter option to suppress New Post button
  static/js/web-components/wiki-blog.test.ts
  static/js/web-components/wiki-blog.ts
  templating/templating.go
  templating/templating_test.go
  utils/goldmarkrenderer/goldmark_renderer.go
Due: javascript, go

Coerce string booleans/numbers in frontmatter editor; fix progressive enhancement regression
  static/js/web-components/frontmatter-value.test.ts
  static/js/web-components/frontmatter-value.ts
  static/js/web-components/wiki-blog.test.ts
  static/js/web-components/wiki-blog.ts
  templating/templating.go
  templating/templating_test.go
Due: javascript, go

Strip markdown syntax from blog fallback snippets to prevent goldmark breakage
  .claude/commands/deploy.md
  templating/templating.go
  templating/templating_test.go
Due: go

Add server-rendered fallback content to checklist and blog macros
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
  templating/templating.go
  templating/templating_test.go
Due: javascript, go

Address PR review feedback: security, correctness, accessibility
  index/frontmatter/index.go
  internal/grpc/api/v1/server.go
  static/js/web-components/automagic-identifier-input.ts
  static/js/web-components/blog-new-post-dialog.ts
  static/js/web-components/title-input.ts
  static/js/web-components/wiki-blog.ts
  templating/templating.go
  utils/goldmarkrenderer/goldmark_renderer.go
Due: javascript, go

Add Blog macro for publishing articles (#315)
  .claude/commands/deploy.md
  .github/workflows/deploy.yml
  api/proto/api/v1/search.proto
  gen/go/api/v1/apiv1mcp/file_storage.pb.mcp.go
  gen/go/api/v1/apiv1mcp/page_management.pb.mcp.go
  gen/go/api/v1/apiv1mcp/search.pb.mcp.go
  gen/go/api/v1/search.pb.go
  gen/go/api/v1/search_grpc.pb.go
  index/frontmatter/index.go
  index/frontmatter/index_test.go
  internal/grpc/api/v1/inventory_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  scripts/deploy.sh
  scripts/run_go_generate.sh
  server/mocks_test.go
  server/site_error_handling_test.go
  static/js/gen/api/v1/search_pb.ts
  static/js/index.ts
  static/js/web-components/automagic-identifier-input.test.ts
  static/js/web-components/automagic-identifier-input.ts
  static/js/web-components/blog-new-post-dialog.test.ts
  static/js/web-components/blog-new-post-dialog.ts
  static/js/web-components/editor-toolbar.ts
  static/js/web-components/frontmatter-value.test.ts
  static/js/web-components/frontmatter-value.ts
  static/js/web-components/title-input.test.ts
  static/js/web-components/title-input.ts
  static/js/web-components/wiki-blog.test.ts
  static/js/web-components/wiki-blog.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
  static/js/web-components/wiki-editor.test.ts
  static/js/web-components/wiki-editor.ts
  templating/templating.go
  templating/templating_test.go
  utils/goldmarkrenderer/goldmark_renderer.go
  wikipage/page.go
  wikipage/page_test.go
Due: javascript, go

Split checklist item text into display/edit modes for mobile wrapping
  static/js/web-components/wiki-checklist-cursor.integration.test.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

Address PR review: accessibility, CSS, and race condition fixes
  static/js/web-components/wiki-checklist.ts
Due: javascript

Split checklist item text into display/edit modes for mobile wrapping (#321)
  static/js/web-components/wiki-checklist-cursor.integration.test.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

Deep-merge nested frontmatter in MergeFrontmatter (#323)
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
Due: go

Fix UpdatePageContent to perform find-and-replace instead of full-page replacement (#327)
  api/proto/api/v1/page_management.proto
  gen/go/api/v1/apiv1mcp/page_management.pb.mcp.go
  gen/go/api/v1/page_management.pb.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  static/js/gen/api/v1/page_management_pb.ts
Due: javascript, go

Add SonarCloud static analysis to CI (#325)
  .github/workflows/sonarcloud.yml
  sonar-project.properties
Due: none

Remove Codecov integration (#329)
  .github/workflows/frontend.yml
  .github/workflows/go.yml
  codecov.yml
Due: none

Fix last S2699 violation: add assertion to empty test in table-filter-popover (#394)
  static/js/web-components/table-filter-popover.test.ts
Due: javascript

Fix miscellaneous SonarCloud bugs (#393)
  extensions/online-order-recorder/popup.html
  static/css/default.css
  static/js/web-components/frontmatter-editor-dialog.stories.ts
  static/js/web-components/page-deletion-service.test.ts
  static/js/web-components/page-deletion-service.ts
Due: javascript

Fix localeCompare missing from .sort() calls (#391)
  static/js/web-components/table-data-extractor.ts
  static/js/web-components/table-state-persistence.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

security: fix script injection in deploy.yml report step (#387)
  .github/workflows/deploy.yml
Due: none

Deduplicate inventoryKey constant across packages (#347)
  internal/grpc/api/v1/inventory.go
  inventory/keys.go
  server/inventory.go
  server/inventory_normalization_job.go
Due: go

Add E2E tests for UpdatePageContent find-and-replace behavior (#382)
  e2e/.gitignore
  e2e/tests/update-page-content.spec.ts
  sonar-project.properties
Due: none

Add audit logging for destructive operations using Tailscale identity (#364)
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  server/handlers_test.go
  server/handlers_web.go
Due: go

Return HTTP 409 Conflict on page update version conflicts (#345)
  server/handlers_test.go
  server/handlers_web.go
Due: go

Fix deduplication of QueryKeyExistence and QueryPrefixMatch results (#348)
  index/frontmatter/index.go
  index/frontmatter/index_test.go
Due: go

Move mime.AddExtensionType call to init() function (#346)
  server/handlers_test.go
  server/handlers_web.go
Due: go

Generate random cookie secret when none is provided (#343)
  main.go
  main_test.go
Due: go

Make PageIdentifier, Markdown, and FrontMatter distinct named types (#365)
  index/bleve/index.go
  index/coordinator_test.go
  index/frontmatter/index.go
  index/frontmatter/index_test.go
  index/index_jobs_test.go
  internal/grpc/api/v1/inventory.go
  internal/grpc/api/v1/inventory_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/observability/wiki_metrics_recorder.go
  internal/observability/wiki_metrics_recorder_test.go
  labels/printer.go
  migrations/eager/file_shadowing_migration.go
  migrations/lazy/open_migration_test.go
  server/api_handlers.go
  server/api_handlers_test.go
  server/handlers_test.go
  server/handlers_web.go
  server/inventory.go
  server/inventory_normalization_job.go
  server/inventory_normalization_job_test.go
  server/inventory_normalizer.go
  server/inventory_test_mocks_test.go
  server/mocks_test.go
  server/page_import_job.go
  server/site.go
  server/site_error_handling_test.go
  server/site_page_operations_test.go
  server/site_test.go
  templating/templating.go
  templating/templating_test.go
  wikipage/page.go
  wikipage/page_reader_mutator.go
Due: go

Add E2E tests for HTTP 409 version conflict on page update (#404)
  e2e/tests/update-page-content.spec.ts
Due: none

Security: Sanitize user-controlled redirects to prevent open redirect (S5146) (#388)
  server/handlers_test.go
  server/handlers_web.go
Due: go

Fix swallowed errors in DirectoryList and applyMigrationsForPage (#344)
  server/handlers_test.go
  server/handlers_web.go
  server/site.go
  server/site_page_operations_test.go
  server/site_test.go
  static/css/default.css
  static/templates/index.tmpl
Due: go

Migrate simple_wiki.js from jQuery to TypeScript modules (#367)
  e2e/tests/menu-functionality.spec.ts
  static/js/index.ts
  static/js/simple_wiki.js
  static/js/web-components/inventory-menu.test.ts
  static/js/web-components/inventory-menu.ts
  static/js/web-components/page-import-menu.test.ts
  static/js/web-components/page-import-menu.ts
  static/js/web-components/print-label.test.ts
  static/js/web-components/print-label.ts
  static/templates/index.tmpl
Due: javascript

Add Claude Code GitHub Action workflow
  .github/workflows/claude.yml
Due: none

Add Claude Code GitHub Action workflow (#408)
  .github/workflows/claude.yml
Due: none

Fix page-auto-refresh attribute mapping and add tests
  e2e/tests/page-auto-refresh.spec.ts
  e2e/tsconfig.json
  static/js/web-components/page-auto-refresh.test.ts
  static/js/web-components/page-auto-refresh.ts
Due: javascript

Simplify system-info-page to show only Updated time
  e2e/tests/page-auto-refresh.spec.ts
  static/js/web-components/page-auto-refresh.ts
  static/js/web-components/system-info-page.ts
Due: javascript

Fix page-auto-refresh self-destruction during content refresh
  gen/go/api/v1/apiv1mcp/frontmatter.pb.mcp.go
  static/js/web-components/page-auto-refresh.ts
  static/templates/index.tmpl
Due: javascript, go

Add file mod time to WatchPage RPC and show on initial load
  api/proto/api/v1/page_management.proto
  gen/go/api/v1/page_management.pb.go
  internal/bootstrap/server.go
  internal/grpc/api/v1/file_storage_test.go
  internal/grpc/api/v1/inventory_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  static/js/gen/api/v1/page_management_pb.ts
  static/js/web-components/page-auto-refresh.ts
Due: javascript, go

Improve time-ago formatting and system-info panel styling
  static/js/web-components/system-info-identity.ts
  static/js/web-components/system-info-page.ts
  static/js/web-components/system-info.ts
Due: javascript

Fix claude-code-action v1 compatibility
  .github/workflows/claude.yml
Due: none

Reorder system-info panel: page → system → session
  e2e/tests/page-auto-refresh.spec.ts
  static/js/web-components/system-info-identity.test.ts
  static/js/web-components/system-info-identity.ts
  static/js/web-components/system-info-page.ts
  static/js/web-components/system-info.ts
Due: javascript
