Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

fix chrash
  main.go
Due: go

Ber/more linting rules (#99)
  .golangci.toml
  devbox.json
  devbox.lock
  go.mod
  index/bleve/index.go
  index/frontmatter/index.go
  index/interfaces.go
  index/multi_maintainer.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  labels/lp_printer.go
  labels/printer.go
  main.go
  revive.toml
  sec/sec.go
  server/api_handlers_test.go
  server/mocks_test.go
  server/page.go
  server/page_test.go
  server/site.go
  server/site_test.go
  templating/templating.go
  tools/generate_matrix.go
  utils/goldmarkrenderer/goldmark_renderer.go
  utils/utils.go
  utils/utils_test.go
  vendor/modules.txt
  wikiidentifiers/identifiers.go
  wikipage/page_read_writer.go
Due: go

build error
  main.go
Due: go

Simplified the version information.
  api/proto/api/v1/version.proto
  gen/go/api/v1/version.pb.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  static/js/gen/api/v1/version_pb.ts
  static/js/web-components/version-display.test.ts
  static/js/web-components/version-display.ts
Due: javascript, go

refined the linter rules more.
  devbox.json
  revive.toml
Due: none

Add eslint and revive linting to GitHub Actions workflows (#102)
  .github/workflows/frontend.yml
  .github/workflows/go.yml
  devbox.json
Due: none

got rid of the utils package
  server/handlers.go
  server/page.go
  server/site.go
  server/site_test.go
  utils/base32tools/base32tools.go
  utils/base32tools/base32tools_test.go
  utils/slicetools/slicetools.go
  utils/slicetools/slicetools_test.go
  utils/utils.go
  utils/utils_test.go
Due: go

Fix revive linting errors across codebase with improved code quality and maintainability (#101)
  devbox.json
  internal/grpc/api/v1/server.go
  main.go
  revive.toml
  sec/sec_test.go
  server/api_handlers_test.go
  server/handlers.go
  server/mocks_test.go
  server/page.go
  server/page_test.go
  server/site.go
  server/site_test.go
  tools/generate_matrix.go
  utils/base32tools/base32tools.go
  utils/base32tools/base32tools_test.go
  utils/goldmark_renderer.go
  utils/goldmarkrenderer/goldmark_renderer_test.go
  utils/goldmarkrenderer/goldmarkrenderer_suite_test.go
  utils/slicetools/slicetools.go
  utils/slicetools/slicetools_test.go
  utils/utils.go
  utils/utils_test.go
Due: go

[WIP] Sub-Issue: Implement Version Display Component with gRPC-Web (#90)
  CONVENTIONS.md
  api/proto/api/v1/version.proto
  buf.gen.yaml
  devbox.json
  docs/adr/0003-adopt-connect-es-for-frontend-grpc.md
  gen/go/api/v1/version.pb.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  main.go
  static/embed.go
  static/js/.eslintrc.js
  static/js/bun.lock
  static/js/gen/api/v1/frontmatter_connect.ts
  static/js/gen/api/v1/frontmatter_grpc_web_pb.js
  static/js/gen/api/v1/frontmatter_pb.js
  static/js/gen/api/v1/frontmatter_pb.ts
  static/js/gen/api/v1/version_connect.ts
  static/js/gen/api/v1/version_grpc_web_pb.js
  static/js/gen/api/v1/version_pb.js
  static/js/gen/api/v1/version_pb.ts
  static/js/index.ts
  static/js/package.json
  static/js/web-components/version-display.test.ts
  static/js/web-components/version-display.ts
  static/js/web-test-runner.config.mjs
  static/templates/index.tmpl
Due: javascript, go

Update CONVENTIONS with url:port information
  CONVENTIONS.md
  docs/workspace.json
Due: none

Add frontmatter editor menu item with alert placeholder functionality (#103)
  CONVENTIONS.md
  docs/workspace.json
  static/js/simple_wiki.js
  static/templates/index.tmpl
Due: javascript

Implement Basic Frontmatter Editor Dialog with gRPC-Web Integration (#104)
  static/js/index.ts
  static/js/simple_wiki.js
  static/js/web-components/frontmatter-editor-dialog.test.ts
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/grpc-transport.ts
  static/js/web-components/shared-styles.ts
  static/js/web-components/version-display.ts
  static/js/web-components/wiki-search-results.ts
  static/templates/index.tmpl
Due: javascript

Clarify usage of provided test run scripts.
  CONVENTIONS.md
Due: none

feat(js-tests): Fail tests on timeout
  static/js/web-test-runner.config.mjs
Due: javascript

docs(CONVENTIONS): Add guidance on robust async testing
  CONVENTIONS.md
Due: none

Revert "Fix hanging tests by simplifying large test suites and improving event handler cleanup"
  static/js/web-components/frontmatter-editor-array.test.ts
  static/js/web-components/frontmatter-editor-dialog.test.ts
  static/js/web-components/frontmatter-editor-dialog.ts
Due: javascript

fix(js-tests): Make browser log filter more specific
  static/js/web-test-runner.config.mjs
Due: javascript

feat: Improve JS testing and linting configurations
  .markdownlintignore
  CONVENTIONS.md
  static/js/.eslintrc.js
  static/js/web-components/frontmatter-editor-array.test.ts
  static/js/web-components/frontmatter-editor-dialog-editable-features.test.ts
  static/js/web-components/frontmatter-editor-dialog.ts
Due: javascript

feat: Add pre-commit hook configuration to Copilot setup workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

update the env to force run the checks
  .github/workflows/copilot-setup-steps.yml
Due: none

update the env to force run the checks (#106)
  .github/workflows/copilot-setup-steps.yml
Due: none

removing it. broke copilot
  .github/workflows/copilot-setup-steps.yml
Due: none

removing it. broke copilot (#107)
  .github/workflows/copilot-setup-steps.yml
Due: none

I'll do it myself. asking the ai isn't working
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/frontmatter-value-section.ts
Due: javascript

Apply suggestion from @Copilot
  static/js/web-components/frontmatter-value.ts
Due: javascript

Add special handling and validation for identifier key in Frontmatter GRPC Service (#108)
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
Due: go

Implement graphical frontmatter editor with dynamic UI rendering (#105)
  .markdownlintignore
  CONVENTIONS.md
  docs/workspace.json
  static/js/.eslintrc.js
  static/js/web-components/frontmatter-add-field-button.test.ts
  static/js/web-components/frontmatter-add-field-button.ts
  static/js/web-components/frontmatter-editor-dialog-integration.test.ts
  static/js/web-components/frontmatter-editor-dialog-simple.test.ts
  static/js/web-components/frontmatter-editor-dialog.test.ts
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/frontmatter-key.test.ts
  static/js/web-components/frontmatter-key.ts
  static/js/web-components/frontmatter-value-array.test.ts
  static/js/web-components/frontmatter-value-array.ts
  static/js/web-components/frontmatter-value-section.test.ts
  static/js/web-components/frontmatter-value-section.ts
  static/js/web-components/frontmatter-value-string.test.ts
  static/js/web-components/frontmatter-value-string.ts
  static/js/web-components/frontmatter-value.test.ts
  static/js/web-components/frontmatter-value.ts
  static/js/web-components/kernel-panic.test.ts
  static/js/web-components/kernel-panic.ts
  static/js/web-components/shared-styles.ts
  static/js/web-test-runner.config.mjs
Due: javascript

[WIP] Sub-Issue: Implement Save Functionality (#110)
  CONVENTIONS.md
  static/js/index.ts
  static/js/web-components/frontmatter-add-field-button.test.ts
  static/js/web-components/frontmatter-editor-dialog-integration.test.ts
  static/js/web-components/frontmatter-editor-dialog-save.test.ts
  static/js/web-components/frontmatter-editor-dialog-simple.test.ts
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/frontmatter-value.test.ts
  static/js/web-components/toast-message.test.ts
  static/js/web-components/toast-message.ts
  static/js/web-components/version-display.test.ts
Due: javascript

enable chromatic access
  .github/workflows/copilot-setup-steps.yml
Due: none

Add Storybook integration for web components exploration (#112)
  .github/workflows/chromatic.yml
  .github/workflows/copilot-setup-steps.yml
  .gitignore
  CONVENTIONS.md
  bun.lock
  devbox.json
  package.json
  process-compose.yml
  static/js/.storybook/main.ts
  static/js/.storybook/preview.ts
  static/js/bun.lock
  static/js/package.json
  static/js/web-components/frontmatter-add-field-button.stories.ts
  static/js/web-components/frontmatter-editor-dialog.stories.ts
  static/js/web-components/frontmatter-key.stories.ts
  static/js/web-components/frontmatter-value-array.stories.ts
  static/js/web-components/frontmatter-value-section.stories.ts
  static/js/web-components/frontmatter-value-string.stories.ts
  static/js/web-components/frontmatter-value.stories.ts
  static/js/web-components/kernel-panic.stories.ts
  static/js/web-components/toast-message.stories.ts
  static/js/web-components/version-display.stories.ts
  static/js/web-components/wiki-search-results.stories.ts
  static/js/web-components/wiki-search.stories.ts
Due: javascript

Tidy on build / lint commands
  CONVENTIONS.md
  devbox.json
Due: none

ADR organization fixes
  docs/adrs/0001-add-grpc-and-grpc-web-apis.md
  docs/adrs/0002-use-devbox-for-dependencies.md
  docs/adrs/0003-adopt-connect-es-for-frontend-grpc.md
  docs/adrs/0004-error-handling-architecture.md
Due: none

wrong number
  docs/adrs/0004-error-handling-architecture.md
Due: none

feat: Rename scripts directory and update references
  .devbox_run_scripts/run_fe_tests.sh
  CONVENTIONS.md
  devbox.json
Due: none

Let the test run and fix some refactor fails
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-test-runner.config.mjs
Due: javascript

feat: Enable parallel test execution for frontend tests
  static/js/web-test-runner.config.mjs
Due: javascript

massive timeout for testing
  static/js/web-test-runner.config.mjs
Due: javascript

fix the color without overriding
  static/js/web-components/error-display.ts
  static/js/web-components/kernel-panic.ts
Due: javascript

tidying up some of the augmentederror stuff
  static/js/web-components/augment-error-service.ts
  static/js/web-components/frontmatter-editor-dialog.stories.ts
Due: javascript

upgrade storybook
  package.json
  static/js/.eslintrc.js
  static/js/.storybook/main.ts
  static/js/bun.lock
  static/js/package.json
  static/js/web-components/error-display.stories.ts
  static/js/web-components/frontmatter-add-field-button.stories.ts
  static/js/web-components/frontmatter-value-array.stories.ts
  static/js/web-components/kernel-panic.stories.ts
  static/js/web-components/version-display.stories.ts
Due: javascript
