Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

coverage:
  status:
    project:
      default:
        threshold: 0.1%

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

Allow 0.1% coverage drop in Codecov checks
  codecov.yml
Due: none

Sync inventory.items with container references and handle mixed value types (#211)
  codecov.yml
  server/inventory_normalization_job.go
  server/inventory_normalization_job_test.go
  server/inventory_normalizer_test.go
  server/site.go
Due: go

refactor: Add DataDirScanner abstraction for testable filesystem access
  migrations/eager/data_dir_scanner.go
  migrations/eager/file_shadowing_migration.go
  migrations/eager/file_shadowing_migration_job_test.go
  migrations/eager/file_shadowing_migration_scan_job_test.go
  migrations/eager/migration_test_support.go
  server/site.go
Due: go

Consolidate inventory markdown building into domain package (#206)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/issues.jsonl
  .beads/metadata.json
  .claude/hookify.require-code-review-before-commit.local.md
  .gitattributes
  .gitignore
  AGENTS.md
  CONVENTIONS.md
  devbox.json
  flake.lock
  flake.nix
  internal/grpc/api/v1/inventory.go
  inventory/markdown.go
  inventory/markdown_test.go
  server/inventory.go
  server/inventory_normalizer.go
  server/inventory_test.go
Due: go

test: Add Execute() error path tests and update codecov config
  codecov.yml
  migrations/eager/file_shadowing_migration_job_test.go
  migrations/eager/migration_test_support.go
Due: go

fix: Address expert review - use ResizeObserver, crypto.randomUUID, DRY cleanup
  .claude/hookify.require-code-review-before-commit.local.md
  codecov.yml
  static/js/web-components/inventory-qr-scanner.test.ts
  static/js/web-components/qr-scanner.ts
Due: javascript

Address code review feedback and add codecov threshold
  codecov.yml
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-item-creator-mover.test.ts
  static/js/web-components/inventory-item-creator-mover.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/inventory-qr-scanner.ts
  static/js/web-components/system-info-indexing.test.ts
  static/js/web-components/system-info-version.test.ts
  static/js/web-components/system-info-version.ts
  static/js/web-components/system-info.test.ts
  static/js/web-components/version-display.test.ts
  static/js/web-components/version-display.ts
Due: javascript

fix: QR scanner camera not working due to Shadow DOM (#215)
  static/js/web-components/inventory-qr-scanner.test.ts
  static/js/web-components/inventory-qr-scanner.ts
  static/js/web-components/qr-scanner.test.ts
  static/js/web-components/qr-scanner.ts
Due: javascript

Add CTA button feature to error-display and fix code review issues
  static/js/web-components/error-display.test.ts
  static/js/web-components/error-display.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-item-creator-mover.test.ts
  static/js/web-components/inventory-item-creator-mover.ts
  static/js/web-components/inventory-qr-scanner.ts
  static/js/web-components/system-info-version.test.ts
  static/js/web-components/system-info-version.ts
  static/js/web-components/system-info.test.ts
  static/js/web-components/version-display.stories.ts
  static/js/web-components/version-display.test.ts
  static/js/web-components/version-display.ts
Due: javascript

refined push block hook
  .claude/hookify.require-code-review-before-commit.local.md
Due: none

fix: Address code review issues from PR #217 review
  internal/grpc/api/v1/inventory.go
  server/inventory_normalization_job.go
  server/inventory_normalization_job_test.go
  server/inventory_normalizer.go
  server/inventory_normalizer_test.go
  server/inventory_test_mocks_test.go
  server/page_inventory_normalization_job.go
Due: go

Upgrade protobuf-es to v2 for TypeScript safety (#214)
  .claude/hookify.require-code-review-before-commit.local.md
  CONVENTIONS.md
  buf.gen.yaml
  static/js/bun.lock
  static/js/gen/api/v1/frontmatter_connect.ts
  static/js/gen/api/v1/frontmatter_pb.ts
  static/js/gen/api/v1/inventory_connect.ts
  static/js/gen/api/v1/inventory_pb.ts
  static/js/gen/api/v1/page_management_connect.ts
  static/js/gen/api/v1/page_management_pb.ts
  static/js/gen/api/v1/search_connect.ts
  static/js/gen/api/v1/search_pb.ts
  static/js/gen/api/v1/system_info_connect.ts
  static/js/gen/api/v1/system_info_pb.ts
  static/js/package.json
  static/js/services/search-client.ts
  static/js/web-components/error-display.test.ts
  static/js/web-components/error-display.ts
  static/js/web-components/frontmatter-editor-dialog-save.test.ts
  static/js/web-components/frontmatter-editor-dialog-simple.test.ts
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-item-creator-mover.test.ts
  static/js/web-components/inventory-item-creator-mover.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/inventory-qr-scanner.ts
  static/js/web-components/page-deletion-service.ts
  static/js/web-components/system-info-identity.test.ts
  static/js/web-components/system-info-indexing.test.ts
  static/js/web-components/system-info-version.test.ts
  static/js/web-components/system-info-version.ts
  static/js/web-components/system-info.stories.ts
  static/js/web-components/system-info.test.ts
  static/js/web-components/system-info.ts
  static/js/web-components/version-display.stories.ts
  static/js/web-components/version-display.test.ts
  static/js/web-components/version-display.ts
  static/js/web-components/wiki-search.ts
Due: javascript

test: Add coverage for error paths and data dir scanner
  migrations/eager/data_dir_scanner_test.go
  migrations/eager/file_shadowing_migration_job_test.go
  migrations/eager/migration_test_support.go
  server/inventory_normalizer_test.go
  server/inventory_test.go
Due: go

test: Add comprehensive coverage for error paths in inventory normalization
  devbox.lock
  migrations/lazy/identifier_munging_migration_test.go
  migrations/lazy/inventory_container_munging_migration_test.go
  server/inventory_normalization_job_test.go
  server/inventory_normalizer_test.go
Due: go

chore: Add coverage.txt to gitignore
  .gitignore
Due: none

fix: Address lint errors and combine redundant error specs
  server/inventory_normalization_job_test.go
  server/inventory_normalizer_test.go
Due: go

Add Claude Code permissions and devbox usage hooks
  .claude/hookify.use-devbox-run-scripts.md
  .claude/hookify.use-devbox-shell.md
  .claude/settings.json
Due: none

Add Claude Code permissions and devbox usage hooks (#226)
  .claude/hookify.use-devbox-run-scripts.md
  .claude/hookify.use-devbox-shell.md
  .claude/settings.json
Due: none

Simplify project permissions to devbox-only
  .claude/settings.json
Due: none

Add fe:typecheck script and improve devbox hooks
  .claude/hookify.use-devbox-run-scripts.md
  .claude/hookify.use-devbox-shell.md
  devbox.json
Due: none

Simplify project permissions to devbox-only (#227)
  .claude/settings.json
Due: none

Add fe:typecheck script and improve devbox hooks (#228)
  .claude/hookify.use-devbox-run-scripts.md
  .claude/hookify.use-devbox-shell.md
  devbox.json
Due: none

feat: add logging and current_task.log symlink to all devbox scripts
  devbox.json
  scripts/deploy.sh
  scripts/run_e2e_test.sh
  scripts/run_e2e_test_headed.sh
  scripts/run_fe_typecheck.sh
  scripts/run_go_coverage.sh
  scripts/run_go_deadcode.sh
  scripts/run_go_generate.sh
  scripts/run_lint_md.sh
  scripts/run_storybook_build.sh
Due: none

fix: add dispatcher abstraction for testable error paths in JobQueueCoordinator
  CONVENTIONS.md
  pkg/jobs/coordinator.go
  pkg/jobs/coordinator_test.go
  pkg/jobs/types.go
Due: go

refactor: extract coerceThirdPartyError utility for 3rd-party boundaries
  static/js/web-components/augment-error-service.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/wiki-search.ts
Due: javascript

fix: address PR review comments
  pkg/jobs/coordinator.go
  scripts/run_lint_everything.sh
  server/inventory_normalizer_test.go
  server/inventory_test_mocks_test.go
  server/site.go
  static/js/web-components/system-info.test.ts
  static/js/web-components/system-info.ts
Due: javascript, go

test: add coverage for type guards and coerceThirdPartyError
  static/js/web-components/augment-error-service.test.ts
  static/js/web-components/inventory-add-item-dialog.test.ts
  static/js/web-components/inventory-move-item-dialog.test.ts
Due: javascript

test: add comprehensive test coverage for codecov CI
  server/site_error_handling_test.go
  static/js/utils/wiki-url-parser.test.ts
  static/js/web-components/frontmatter-value-section.test.ts
  static/js/web-components/inventory-add-item-dialog.test.ts
  static/js/web-components/page-deletion-service.test.ts
  static/js/web-components/qr-scanner.test.ts
  static/js/web-components/system-info.test.ts
  static/js/web-components/wiki-search.test.ts
Due: javascript, go

fix: correct TypeScript errors in test files
  static/js/web-components/inventory-add-item-dialog.test.ts
  static/js/web-components/page-deletion-service.test.ts
  static/js/web-components/wiki-search.test.ts
Due: javascript

fix: resolve lint and typecheck issues for CI
  .gitignore
  .golangci.yml
  devbox.json
  devbox.lock
  migrations/eager/migration_test_support.go
  scripts/ensure_staticcheck.sh
  scripts/run_go_lint.sh
  scripts/run_lint_everything.sh
  static/js/.eslintrc.js
  static/js/web-components/frontmatter-value-section.test.ts
  static/js/web-components/page-deletion-service.test.ts
  static/js/web-components/wiki-search.test.ts
Due: javascript, go

fix: make shell scripts POSIX-compatible for CI devbox init
  devbox.json
  scripts/ensure_staticcheck.sh
  scripts/run_go_lint.sh
  scripts/run_lint_everything.sh
Due: none

feat: add CSV page import feature
  api/proto/api/v1/page_import.proto
  gen/go/api/v1/page_import.pb.go
  gen/go/api/v1/page_import_grpc.pb.go
  internal/grpc/api/v1/server.go
  pageimport/pageimport_suite_test.go
  pageimport/parser.go
  pageimport/parser_test.go
  server/page_import_job.go
  server/page_import_job_test.go
  static/js/gen/api/v1/page_import_pb.ts
  static/js/index.ts
  static/js/simple_wiki.js
  static/js/web-components/page-import-dialog.stories.ts
  static/js/web-components/page-import-dialog.test.ts
  static/js/web-components/page-import-dialog.ts
  static/templates/index.tmpl
Due: javascript, go

fix: page import dialog display issues
  internal/grpc/api/v1/server.go
  static/js/web-components/page-import-dialog.test.ts
  static/js/web-components/page-import-dialog.ts
Due: javascript, go
