Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

feat(frontend): Migrate lit imports to bun build step and update webfont paths
  AGENTS.md
  static/embed.go
  static/js/package.json
  static/js/web-components/wiki-search-results.js
  static/templates/index.tmpl
  static/vendor/js/lit-all.min.js
  static/vendor/js/lit-all.min.js.map
  static/vendor/webfonts/fa-brands-400.ttf
  static/vendor/webfonts/fa-brands-400.woff2
  static/vendor/webfonts/fa-solid-900.ttf
  static/vendor/webfonts/fa-solid-900.woff2
Due: javascript, go

feat(frontend): Migrate lit imports to bun build step and update webfont paths (#64)
  AGENTS.md
  static/embed.go
  static/js/package.json
  static/js/web-components/wiki-search-results.js
  static/templates/index.tmpl
  static/vendor/js/lit-all.min.js
  static/vendor/js/lit-all.min.js.map
  static/vendor/webfonts/fa-brands-400.ttf
  static/vendor/webfonts/fa-brands-400.woff2
  static/vendor/webfonts/fa-solid-900.ttf
  static/vendor/webfonts/fa-solid-900.woff2
Due: javascript, go

feat(go): Replace interface{} with any type in project files
  CLAUDE.md
  devbox.json
  index/frontmatter/index.go
  labels/printer.go
  server/handlers_test.go
  server/page_test.go
  server/site.go
  templating/templating.go
Due: go

feat(go): Replace interface{} with any type in project files (#65)
  CLAUDE.md
  devbox.json
  index/frontmatter/index.go
  labels/printer.go
  server/handlers_test.go
  server/page_test.go
  server/site.go
  templating/templating.go
Due: go

feat(docs): Update and align with project conventions
  CONVENTIONS.md
Due: none

docs(conventions, testing): Clarify testing conventions and add detailed checklist
  CONVENTIONS.md
  docs/TEST_FILE_CHECKLIST.md
  static/js/web-components/wiki-search.test.js
Due: javascript

feat(docs): Update and align with project conventions (#66)
  CONVENTIONS.md
  docs/TEST_FILE_CHECKLIST.md
  static/js/web-components/wiki-search.test.js
Due: javascript

build UI
  process-compose.yml
Due: none

feat: Integrate Devbox into DevContainer setup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

feat: Integrate Devbox into DevContainer setup (#68)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

feat: Configure Copilot agent with Devbox
  .github/workflows/copilot-setup-steps.yml
Due: none

feat: Configure Copilot agent with Devbox (#70)
  .github/workflows/copilot-setup-steps.yml
Due: none

docs: Update CONVENTIONS.md and Copilot instructions
  .github/copilot-instructions.md
  CONVENTIONS.md
Due: none

another attempt at symlink
  .github/copilot-instructions.md
Due: none

Apply suggestion from @gemini-code-assist[bot]
  CONVENTIONS.md
Due: none

docs: Update CONVENTIONS.md and Copilot instructions (#72)
  .github/copilot-instructions.md
  CONVENTIONS.md
Due: none

Fix memory leak in wiki-search-results.js event listener handling (#73)
  CONVENTIONS.md
  docs/TEST_FILE_CHECKLIST.md
  static/js/web-components/wiki-search-results.js
  static/js/web-components/wiki-search-results.test.js
Due: javascript

fix: Correct CSS file paths in web components
  static/js/web-components/wiki-search-results.js
  static/js/web-components/wiki-search.js
Due: javascript

refactor: DRY CSS imports in web components
  static/js/web-components/shared-styles.js
  static/js/web-components/wiki-search-results.js
  static/js/web-components/wiki-search.js
Due: javascript

fix: Correct CSS file paths in web components (#74)
  static/js/web-components/shared-styles.js
  static/js/web-components/wiki-search-results.js
  static/js/web-components/wiki-search.js
Due: javascript

process-compose is built in
  devbox.json
Due: none

after removing process-compose
  devbox.lock
Due: none

Fix wiki-search results not displaying due to Lit array reference issue (#76)
  CONVENTIONS.md
  static/js/web-components/wiki-search.js
  static/js/web-components/wiki-search.test.js
Due: javascript

update conventions
  CONVENTIONS.md
Due: none

update conventions (#89)
  CONVENTIONS.md
Due: none

include the generated files
  static/js/tsconfig.json
Due: javascript

we use bun
  static/js/package-lock.json
Due: javascript

a bit more guidance on using Devbox
  CONVENTIONS.md
Due: none

Switch web-components and other Bun built stuff to TypeScript (#88)
  CONVENTIONS.md
  static/js/bun.lock
  static/js/devbox.lock
  static/js/package-lock.json
  static/js/package.json
  static/js/tsconfig.json
  static/js/web-components/shared-styles.ts
  static/js/web-components/wiki-search-results.test.js
  static/js/web-components/wiki-search-results.test.ts
  static/js/web-components/wiki-search-results.ts
  static/js/web-components/wiki-search.test.js
  static/js/web-components/wiki-search.test.ts
  static/js/web-components/wiki-search.ts
  static/js/web-test-runner.config.mjs
Due: javascript

Update docs/system_design.md
  docs/system_design.md
Due: none

This is why it didn't build.
  static/embed.go
Due: go

switching linter to better control it
  .golangci.toml
  devbox.json
  devbox.lock
  revive.toml
Due: none

tweaked rules
  revive.toml
Due: none

WIP
  go.mod
  index/bleve/index.go
  index/frontmatter/index.go
  index/interfaces.go
  index/multi_maintainer.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  labels/lp_printer.go
  labels/printer.go
  main.go
  server/api_handlers_test.go
  server/mocks_test.go
  server/page.go
  server/page_test.go
  server/site.go
  server/site_test.go
  templating/templating.go
  utils/goldmark_renderer.go
  utils/utils.go
  utils/utils_test.go
  vendor/modules.txt
  wikiidentifiers/identifiers.go
  wikipage/page_read_writer.go
Due: go

Got a bunch of moving around done.
  devbox.json
  devbox.lock
  index/bleve/index.go
  index/frontmatter/index.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  labels/printer.go
  main.go
  sec/sec.go
  server/api_handlers_test.go
  server/mocks_test.go
  server/page.go
  server/site.go
  templating/templating.go
  tools/generate_matrix.go
  utils/goldmarkrenderer/goldmark_renderer.go
  utils/utils.go
  utils/utils_test.go
Due: go

Make the lint:everything easy for now
  devbox.json
Due: none

Update main.go
  main.go
Due: go

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
