Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

coverage:
  status:
    project:
      default:
        # Allow up to 0.1% coverage drop
        threshold: 0.1%
    patch:
      default:
        # Require 90% coverage on new/changed lines
        target: 90%

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

feat(server): one-time chat-context migration job
  server/chat_context_migration_job.go
  server/chat_context_migration_job_test.go
  server/site.go
Due: go

feat(wiki-cli): runtime MCP doc decorator + port AgentMetadataService docs
  api/proto/api/v1/agent_metadata.proto
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/mcp_decorator.go
  cmd/wiki-cli/mcp_decorator_test.go
  gen/go/api/v1/agent_metadata.pb.go
  gen/go/api/v1/agent_metadata_grpc.pb.go
  gen/go/api/v1/apiv1connect/agent_metadata.connect.go
  gen/go/api/v1/apiv1mcp/agent_metadata.pb.mcp.go
  static/js/gen/api/v1/agent_metadata_pb.ts
Due: javascript, go

refactor(mcpdocs): extract decorator into pkg/mcpdocs + surface long_running
  cmd/wiki-cli/mcp.go
  cmd/wiki-cli/mcp_decorator.go
  pkg/mcpdocs/decorator.go
  pkg/mcpdocs/decorator_test.go
Due: go

feat(proto): port 6 services to (api.v1.*) MCP doc extensions
  api/proto/api/v1/frontmatter.proto
  api/proto/api/v1/inventory.proto
  api/proto/api/v1/page_import.proto
  api/proto/api/v1/page_management.proto
  api/proto/api/v1/search.proto
  api/proto/api/v1/system_info.proto
  gen/go/api/v1/apiv1connect/frontmatter.connect.go
  gen/go/api/v1/apiv1connect/inventory.connect.go
  gen/go/api/v1/apiv1connect/page_import.connect.go
  gen/go/api/v1/apiv1connect/page_management.connect.go
  gen/go/api/v1/apiv1connect/search.connect.go
  gen/go/api/v1/apiv1connect/system_info.connect.go
  gen/go/api/v1/apiv1mcp/frontmatter.pb.mcp.go
  gen/go/api/v1/apiv1mcp/inventory.pb.mcp.go
  gen/go/api/v1/apiv1mcp/page_import.pb.mcp.go
  gen/go/api/v1/apiv1mcp/page_management.pb.mcp.go
  gen/go/api/v1/apiv1mcp/search.pb.mcp.go
  gen/go/api/v1/apiv1mcp/system_info.pb.mcp.go
  gen/go/api/v1/frontmatter.pb.go
  gen/go/api/v1/frontmatter_grpc.pb.go
  gen/go/api/v1/inventory.pb.go
  gen/go/api/v1/inventory_grpc.pb.go
  gen/go/api/v1/page_import.pb.go
  gen/go/api/v1/page_import_grpc.pb.go
  gen/go/api/v1/page_management.pb.go
  gen/go/api/v1/page_management_grpc.pb.go
  gen/go/api/v1/search.pb.go
  gen/go/api/v1/search_grpc.pb.go
  gen/go/api/v1/system_info.pb.go
  gen/go/api/v1/system_info_grpc.pb.go
  static/js/gen/api/v1/frontmatter_pb.ts
  static/js/gen/api/v1/inventory_pb.ts
  static/js/gen/api/v1/page_import_pb.ts
  static/js/gen/api/v1/page_management_pb.ts
  static/js/gen/api/v1/search_pb.ts
  static/js/gen/api/v1/system_info_pb.ts
Due: javascript, go

test+refactor: regression guard, pool tests, refresh job, flag defaults
  cmd/wiki-cli/mcp_extension_regression_test.go
  cmd/wiki-cli/scheduled_turn_test.go
  main_test.go
  server/agent_schedule_refresh_job.go
  server/agent_schedule_refresh_job_test.go
  server/site.go
Due: go

fix(bootstrap): register AgentMetadataService + ScheduledTurnService with vanguard
  internal/bootstrap/server.go
Due: go

test(bootstrap): coverage guard for vanguard transcoder service routing
  internal/bootstrap/transcoder_coverage_test.go
Due: go

fix(scheduled-turns): single-in-flight guard + unique systemd unit names
  cmd/wiki-cli/scheduled_turn.go
  server/agent_turn_job.go
  server/agent_turn_job_test.go
Due: go

fix(server): unregister cron entries on page deletion
  server/agent_scheduler.go
  server/agent_scheduler_test.go
  server/site.go
Due: go

fix(wiki-cli): pool command also checks version compatibility at startup
  cmd/wiki-cli/main.go
Due: go

docs(chat-preamble): teach agents to discover capabilities, not enumerate
  cmd/wiki-cli/pool.go
Due: go

docs(chat-preamble): drop scheduling-specific cue from discovery section
  cmd/wiki-cli/pool.go
Due: go

test: raise PR coverage past SonarCloud's 80% threshold
  cmd/wiki-cli/scheduled_turn_test.go
  internal/bootstrap/cleanup_helpers_test.go
  internal/grpc/api/v1/scheduled_turn_test.go
Due: go

test+refactor: cover SonarCloud's remaining new-code coverage gap
  cmd/wiki-cli/main.go
  cmd/wiki-cli/main_test.go
  internal/grpc/api/v1/agent_metadata_test.go
  server/agent_chat_context_store_test.go
  server/agent_schedule_store_test.go
Due: go

test: cover remaining new-code coverage gaps for SonarCloud gate
  pkg/mcpdocs/decorator_test.go
  server/agent_chat_context_store_test.go
  server/agent_schedule_store_test.go
  server/agent_scheduler_test.go
  server/agent_turn_job_test.go
Due: go

test: final coverage push to clear SonarCloud's 80% gate
  cmd/wiki-cli/scheduled_turn_test.go
  internal/grpc/api/v1/server_internal_test.go
  pkg/mcpdocs/decorator_test.go
  server/agent_metadata_codec_test.go
  server/scheduled_turn_dispatcher_test.go
Due: go

fix: edit-dialog interop + lenient timestamp parser for agent.chat_context
  internal/grpc/api/v1/frontmatter.go
  internal/grpc/api/v1/frontmatter_agent_guard_test.go
  server/agent_chat_context_store.go
  server/agent_chat_context_store_test.go
Due: go

feat(ui): Agent Details dialog — peer of edit-frontmatter dialog
  static/js/index.ts
  static/js/web-components/agent-details-dialog.test.ts
  static/js/web-components/agent-details-dialog.ts
  static/templates/index.tmpl
Due: javascript

feat(chat-preamble): aggressive pending_items follow-through
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
Due: go

feat(ui): pending_items checklist styling + delete confirmation interlock
  static/js/web-components/agent-details-dialog.test.ts
  static/js/web-components/agent-details-dialog.ts
Due: javascript

feat(schedules): timezone field on AgentSchedule (defaults to UTC)
  api/proto/api/v1/agent_metadata.proto
  gen/go/api/v1/agent_metadata.pb.go
  gen/go/api/v1/apiv1mcp/agent_metadata.pb.mcp.go
  internal/grpc/api/v1/agent_metadata.go
  internal/grpc/api/v1/agent_metadata_test.go
  server/agent_schedule_refresh_job_test.go
  server/agent_schedule_store.go
  server/agent_scheduler.go
  server/agent_scheduler_test.go
  static/js/gen/api/v1/agent_metadata_pb.ts
  static/js/web-components/agent-details-dialog.test.ts
  static/js/web-components/agent-details-dialog.ts
Due: javascript, go

fix(ui): disable all delete buttons while any delete RPC is in flight
  static/js/web-components/agent-details-dialog.test.ts
  static/js/web-components/agent-details-dialog.ts
Due: javascript

feat: agent-scheduler follow-ups (timezone, dialog, fixes) (#979)
  api/proto/api/v1/agent_metadata.proto
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  gen/go/api/v1/agent_metadata.pb.go
  gen/go/api/v1/apiv1mcp/agent_metadata.pb.mcp.go
  internal/grpc/api/v1/agent_metadata.go
  internal/grpc/api/v1/agent_metadata_test.go
  internal/grpc/api/v1/frontmatter.go
  internal/grpc/api/v1/frontmatter_agent_guard_test.go
  server/agent_chat_context_store.go
  server/agent_chat_context_store_test.go
  server/agent_schedule_refresh_job_test.go
  server/agent_schedule_store.go
  server/agent_scheduler.go
  server/agent_scheduler_test.go
  static/js/gen/api/v1/agent_metadata_pb.ts
  static/js/index.ts
  static/js/web-components/agent-details-dialog.test.ts
  static/js/web-components/agent-details-dialog.ts
  static/templates/index.tmpl
Due: javascript, go

feat: add hashtag parser, system pages, and Bleve tags field
  index/bleve/export_test.go
  index/bleve/index.go
  index/bleve/index_test.go
  internal/hashtags/parser.go
  internal/hashtags/parser_test.go
  internal/syspage/embedded/.gitkeep
  internal/syspage/embedded/help.md
  internal/syspage/embedded/help_alerts.md
  internal/syspage/embedded/help_hashtags.md
  internal/syspage/embedded/help_macro_blog.md
  internal/syspage/embedded/help_macro_checklist.md
  internal/syspage/embedded/help_macro_survey.md
  internal/syspage/embedded/help_scheduled_agents.md
  internal/syspage/embedded/help_search.md
  internal/syspage/embedded/help_system_pages.md
  internal/syspage/embedded/help_templating.md
  internal/syspage/loader.go
  internal/syspage/loader_test.go
  static/js/utils/tag-parser.test.ts
  static/js/utils/tag-parser.ts
  utils/goldmarkrenderer/goldmark_renderer.go
  utils/goldmarkrenderer/hashtag.go
  utils/goldmarkrenderer/hashtag_test.go
  vendor/github.com/blevesearch/bleve/analysis/analyzer/keyword/keyword.go
  vendor/github.com/blevesearch/bleve/analysis/tokenizer/single/single.go
  vendor/modules.txt
Due: javascript, go

feat: wire system pages, hashtag search, checklist migration end-to-end
  .markdownlintignore
  CONVENTIONS.md
  index/bleve/index.go
  internal/grpc/api/v1/agent_metadata.go
  internal/grpc/api/v1/frontmatter.go
  internal/grpc/api/v1/page_management.go
  internal/grpc/api/v1/search.go
  internal/grpc/api/v1/search_query.go
  internal/grpc/api/v1/search_query_test.go
  internal/grpc/api/v1/server_test.go
  internal/grpc/api/v1/system_page_guard.go
  internal/grpc/api/v1/system_page_guard_test.go
  internal/mcp/server_test.go
  main.go
  migrations/eager/checklist_tag_syntax_migration.go
  migrations/eager/checklist_tag_syntax_migration_test.go
  server/handlers_web.go
  server/initial_pages.go
  server/site.go
  static/css/default.css
  static/js/web-components/checklist-tag-parser.test.ts
  static/js/web-components/checklist-tag-parser.ts
  static/js/web-components/wiki-checklist.test.ts
  static/js/web-components/wiki-checklist.ts
  static/templates/index.tmpl
Due: javascript, go

fix: PR #986 audit follow-ups (system page filter, banner test, migration guard)
  migrations/eager/checklist_tag_syntax_migration.go
  migrations/eager/checklist_tag_syntax_migration_test.go
  server/handlers_web.go
  server/system_page_render_test.go
Due: go

test: PR #986 audit gap-fillers (agent_metadata guard, sync drift, search ranking, checklist parser)
  index/bleve/index_test.go
  internal/grpc/api/v1/agent_metadata.go
  internal/grpc/api/v1/system_page_guard_test.go
  internal/syspage/loader_test.go
  static/js/web-components/checklist-tag-parser.test.ts
  static/js/web-components/checklist-tag-parser.ts
Due: javascript, go

feat(hashtag): hashtag pills open the global search popup
  internal/syspage/embedded/help_hashtags.md
  internal/syspage/embedded/help_search.md
  static/css/default.css
  static/js/index.ts
  static/js/web-components/event-types.ts
  static/js/web-components/wiki-hashtag.test.ts
  static/js/web-components/wiki-hashtag.ts
  static/js/web-components/wiki-search.test.ts
  static/js/web-components/wiki-search.ts
  utils/goldmarkrenderer/goldmark_renderer.go
  utils/goldmarkrenderer/hashtag.go
  utils/goldmarkrenderer/hashtag_test.go
Due: javascript, go

docs(help): document the \\# escape sequence
  internal/syspage/embedded/help.md
  internal/syspage/embedded/help_macro_checklist.md
Due: none

fix(pr986): address Go lint, gemini review, and embedded-help template errors
  index/bleve/index.go
  internal/grpc/api/v1/search_query.go
  internal/grpc/api/v1/search_query_test.go
  internal/grpc/api/v1/server_test.go
  internal/grpc/api/v1/system_page_guard.go
  internal/grpc/api/v1/system_page_guard_test.go
  internal/hashtags/parser.go
  internal/syspage/embedded/help_macro_blog.md
  internal/syspage/embedded/help_templating.md
  internal/syspage/loader.go
  migrations/eager/checklist_tag_syntax_migration.go
  migrations/eager/checklist_tag_syntax_migration_test.go
  revive.toml
  utils/goldmarkrenderer/goldmark_renderer.go
  utils/goldmarkrenderer/hashtag.go
Due: go

feat(hashtag): replace search-dialog click with anchored tag bubble
  internal/syspage/embedded/help_hashtags.md
  internal/syspage/embedded/help_search.md
  static/js/web-components/event-types.ts
  static/js/web-components/wiki-hashtag.test.ts
  static/js/web-components/wiki-hashtag.ts
  static/js/web-components/wiki-search.test.ts
  static/js/web-components/wiki-search.ts
  utils/goldmarkrenderer/goldmark_renderer.go
Due: javascript, go

fix(hashtag): humanize identifier when result has no real title
  static/js/web-components/wiki-hashtag.test.ts
  static/js/web-components/wiki-hashtag.ts
Due: javascript

fix(hashtag): clicks always open popover, drop modifier-key fallback
  static/js/web-components/wiki-hashtag.test.ts
  static/js/web-components/wiki-hashtag.ts
Due: javascript

test(e2e): update checklist tag-syntax tests to #tag
  e2e/tests/checklist-a11y.spec.ts
  e2e/tests/checklist.spec.ts
Due: none
