Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

codecov.yml:

codecov:
  ci:
    - "github"

coverage:
  status:
    project:
      default:
        # Allow up to 0.1% coverage drop
        threshold: 0.1%
    patch:
      default:
        # Require 90% coverage on new/changed lines
        target: 90%

flags:
  javascript:
    paths:
      - static/js/
  go:
    paths:
      - "**/*.go"

parsers:
  go:
    gocov:
      - coverage.txt
  javascript:
    lcov:
      - static/js/coverage/lcov.info

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

refactor: reduce cognitive complexity of UpdatePageContent and WatchPage (#453)
  internal/grpc/api/v1/server.go
Due: go

fix: quote shell variables in .devcontainer/Dockerfile (#454)
  .devcontainer/Dockerfile
Due: none

refactor: extract duplicated string literals to constants (#455)
  filestore/disk_file_storer.go
  internal/grpc/api/v1/file_storage.go
Due: go

fix: mark readonly members in page-auto-refresh.ts and system-info.ts (#451)
  static/js/web-components/page-auto-refresh.ts
  static/js/web-components/system-info.ts
Due: javascript

Remove hardcoded 'Claude' sender name from assistant messages
  pkg/chatbuffer/buffer.go
  pkg/chatbuffer/buffer_test.go
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Fix persona name on assistant messages: set at data time, use property binding
  static/js/web-components/page-chat-panel.ts
Due: javascript

Add tests for assistant persona name substitution in addMessage
  static/js/web-components/page-chat-panel.test.ts
Due: javascript

Update generated files from go generate
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1connect/page_management.connect.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/apiv1mcp/frontmatter.pb.mcp.go
  gen/go/api/v1/apiv1mcp/page_management.pb.mcp.go
  gen/go/api/v1/page_management.pb.go
  static/js/gen/api/v1/page_management_pb.ts
Due: javascript, go

Remove hardcoded Claude sender name from assistant messages (#460)
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1connect/page_management.connect.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/apiv1mcp/frontmatter.pb.mcp.go
  gen/go/api/v1/apiv1mcp/page_management.pb.mcp.go
  gen/go/api/v1/page_management.pb.go
  pkg/chatbuffer/buffer.go
  pkg/chatbuffer/buffer_test.go
  static/js/gen/api/v1/page_management_pb.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Reduce cognitive complexity and fix code smells across Go files (#474)
  index/coordinator.go
  internal/grpc/api/v1/server.go
  pageimport/inventory_validator.go
  pageimport/parser.go
  server/handlers_web.go
  server/page_import_job.go
Due: go

fix: skip localStorage persistence for headings without IDs
  static/js/web-components/collapsible-heading.test.ts
  static/js/web-components/collapsible-heading.ts
Due: javascript

Fix nested ternary operations across TypeScript web components (#500)
  static/js/web-components/confirmation-dialog.ts
  static/js/web-components/insert-new-page-dialog.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-qr-scanner.ts
  static/js/web-components/page-import-dialog.ts
  static/js/web-components/qr-scanner.ts
  static/js/web-components/wiki-blog.ts
  static/js/web-components/wiki-checklist.ts
  static/js/web-components/wiki-search-results.ts
Due: javascript

Reduce cognitive complexity and fix code smells across TypeScript web components (#475)
  static/js/web-components/page-chat-panel.ts
  static/js/web-components/table-filter-popover.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

Add readonly modifiers to TypeScript service class members (#489)
  static/js/services/editor-save-queue.ts
  static/js/services/editor-toolbar-coordinator.ts
  static/js/services/editor-upload-service.ts
  static/js/services/search-client.ts
Due: javascript

Fix small TypeScript/JS code quality issues across 4 files (#477)
  static/js/services/search-client.test.ts
  static/js/services/search-client.ts
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/wiki-search.ts
Due: javascript

Add collapsible headings with ^ marker syntax (#506)
  revive.toml
  static/js/index.ts
  static/js/web-components/collapsible-heading.test.ts
  static/js/web-components/collapsible-heading.ts
  utils/goldmarkrenderer/collapsible_heading_parser.go
  utils/goldmarkrenderer/collapsible_heading_renderer.go
  utils/goldmarkrenderer/collapsible_section.go
  utils/goldmarkrenderer/goldmark_renderer.go
  utils/goldmarkrenderer/goldmark_renderer_test.go
Due: javascript, go

Fix error message in buildNewContainerPageLink to match test expectation
  templating/templating.go
Due: go

Use bounded quantifier in currency regex to fix SonarCloud ReDoS hotspot
  static/js/web-components/column-type-detector.ts
Due: javascript

Fix cognitive complexity in page-chat-panel.ts and table-filter-popover.ts (#505)
  static/js/web-components/page-chat-panel.ts
  static/js/web-components/table-filter-popover.ts
Due: javascript

Address review feedback: sort anomalies deterministically and rename errFmt constant
  internal/grpc/api/v1/inventory.go
  server/inventory_normalization_job.go
Due: go

Fix Go duplicate string literals and cognitive complexity (#493)
  internal/bootstrap/server.go
  internal/grpc/api/v1/inventory.go
  internal/grpc/api/v1/inventory_test.go
  migrations/eager/file_shadowing_migration.go
  migrations/eager/migration_test_support.go
  migrations/lazy/toml_table_spacing_migration.go
  server/inventory_normalization_job.go
  server/inventory_normalizer.go
Due: go

Add readonly modifiers to editor-toolbar-coordinator.ts and insert-new-page-dialog.ts (#504)
  static/js/web-components/insert-new-page-dialog.ts
Due: javascript

Fix flaky page-auto-refresh.test.ts browser disconnects (#537)
  static/js/web-components/page-auto-refresh.test.ts
Due: javascript

Fix XSS vectors in simple_wiki.js and wiki-table.ts (#476)
  static/js/bun.lock
  static/js/package.json
  static/js/web-components/print-label.test.ts
  static/js/web-components/wiki-table.test.ts
  static/js/web-components/wiki-table.ts
Due: javascript

Add readonly modifiers to inventory web components (#491)
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-item-creator-mover.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/inventory-qr-scanner.ts
  static/js/web-components/table-filter-popover.test.ts
  static/js/web-components/table-filter-popover.ts
  static/js/web-components/wiki-search-results.ts
  static/js/web-components/wiki-table.ts
Due: javascript

Add Ginkgo/Gomega tests for BuildChecklist (#494)
  templating/templating_test.go
Due: go

Fix shell script code smells in run_fe_tests.sh (#526)
  scripts/run_fe_tests.sh
Due: none

Add readonly modifiers to web component dialog files (#490)
  scripts/run_fe_tests.sh
  static/js/web-components/automagic-identifier-input.ts
  static/js/web-components/blog-new-post-dialog.ts
  static/js/web-components/confirmation-interlock-button.ts
  static/js/web-components/editor-toolbar.ts
  static/js/web-components/insert-new-page-dialog.ts
  static/js/web-components/page-creator.ts
  static/js/web-test-runner.config.mjs
Due: javascript

Add readonly modifiers to page-import-dialog and remaining components (#492)
  extensions/online-order-recorder/src/components/settings-panel.ts
  static/js/web-components/page-import-dialog.ts
  static/js/web-components/system-info.ts
  static/js/web-components/wiki-image.ts
Due: javascript

Apply case-insensitive localeCompare with stable tiebreaker
  static/js/web-components/table-data-extractor.ts
  static/js/web-components/table-state-persistence.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

Fix localeCompare sort calls for locale-aware ordering (#507)
  static/js/web-components/table-data-extractor.ts
  static/js/web-components/table-state-persistence.ts
  static/js/web-components/wiki-checklist.ts
Due: javascript

Add readonly modifiers to inventory dialog and QR scanner components (#525)
  static/js/web-components/inventory-add-item-dialog.test.ts
  static/js/web-components/inventory-add-item-dialog.ts
Due: javascript

Fix Go code smells in inventory.go and inventory_normalization_job.go (#527)
  internal/grpc/api/v1/inventory.go
  server/inventory_normalization_job.go
  server/inventory_normalization_job_test.go
Due: go

Add readonly modifier to frontmatter-editor-dialog.ts (#538)
  static/js/web-components/frontmatter-editor-dialog.ts
Due: javascript

Remove commented-out code from default.css (#543)
  static/css/default.css
Due: none

Remove duplicate story implementation in insert-new-page-dialog.stories.ts (#544)
  static/js/web-components/insert-new-page-dialog.stories.ts
Due: javascript

Fix shell conditionals to use [[ in build.sh and build-all.sh (#539)
  cmd/wiki-cli/build-all.sh
  scripts/build.sh
Due: none

Use Math.trunc instead of bitwise OR 0 in table-state-persistence.ts (#540)
  static/js/web-components/table-state-persistence.ts
Due: javascript

Simplify complex regex and extract nested ternary in column-type-detector.ts (#503)
  static/js/web-components/column-type-detector.ts
Due: javascript

Use element.remove() instead of parentNode.removeChild() in settings-panel.test.ts (#541)
  extensions/online-order-recorder/src/components/settings-panel.test.ts
Due: none
