Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

review: exercise legacy identifier fallback, HaveField assertions, document identifier search in help (Copilot review)
  index/bleve/index_test.go
  internal/syspage/embedded/help_search.md
Due: go

fix: schedule loader registers zero jobs at startup (TOML array-of-tables not indexed) (#1184)
  index/frontmatter/index.go
  index/frontmatter/index_test.go
Due: go

fix(search): index page identifiers so SearchContent can find pages by identifier (#1185)
  index/bleve/index.go
  index/bleve/index_test.go
  internal/syspage/embedded/help_search.md
Due: go

fix(e2e): satisfy noImplicitReturns in scanner expand callback (TS7030)
  static/js/web-components/inventory-move-item-dialog.ts
Due: javascript

fix(solid): resolve all 27 floating-promise bugs across 11 TypeScript files (#1194)
  extensions/online-order-recorder/src/background.test.ts
  extensions/online-order-recorder/src/background.ts
  extensions/online-order-recorder/src/components/settings-panel.test.ts
  extensions/online-order-recorder/src/components/settings-panel.ts
  extensions/online-order-recorder/src/content-wiki-detect.test.ts
  extensions/online-order-recorder/src/content-wiki-detect.ts
  extensions/online-order-recorder/src/popup.test.ts
  extensions/online-order-recorder/src/popup.ts
  static/js/web-components/automagic-identifier-input.test.ts
  static/js/web-components/automagic-identifier-input.ts
  static/js/web-components/frontmatter-editor-dialog.ts
  static/js/web-components/inventory-add-item-dialog.ts
  static/js/web-components/inventory-move-item-dialog.ts
  static/js/web-components/page-import-dialog.ts
  static/js/web-components/qr-scanner.ts
  static/js/web-components/system-info.ts
Due: javascript

fix(web): use conditional spread for expectedVersionHash under exactOptionalPropertyTypes
  static/js/web-components/wiki-editor.ts
Due: javascript

fix(UpdateWholePage): add expected_version_hash to prevent silent data loss (closes #1134) (#1195)
  api/proto/api/v1/page_management.proto
  gen/go/api/v1/apiv1mcp/page_management.pb.mcp.go
  gen/go/api/v1/page_management.pb.go
  internal/grpc/api/v1/page_management.go
  internal/grpc/api/v1/server_test.go
  internal/syspage/embedded/help_handling_large_pages.md
  static/js/gen/api/v1/page_management_pb.ts
  static/js/web-components/wiki-editor.test.ts
  static/js/web-components/wiki-editor.ts
Due: javascript, go

fix(mcp): disable DNS-rebinding localhost guard breaking /mcp behind Tailscale Serve
  internal/mcp/server.go
  internal/mcp/server_test.go
Due: go

fix(mcp): gate DNS-rebinding guard off only for Tailscale Serve (#1199)
  internal/bootstrap/server.go
  internal/mcp/server.go
  internal/mcp/server_test.go
Due: go

test(bootstrap): cover per-mode Setup* entry points to clear SonarCloud gate
  internal/bootstrap/setup_modes_coverage_test.go
Due: go

fix(mcp): disable DNS-rebinding localhost guard breaking /mcp behind Tailscale Serve (#1200)
  internal/bootstrap/server.go
  internal/bootstrap/setup_modes_coverage_test.go
  internal/mcp/server.go
  internal/mcp/server_test.go
Due: go

review: drop unsafe WARN→OK upgrade; document terminal fallback in help
  internal/syspage/embedded/help_scheduled_agents.md
  server/agent_chat_context_store.go
  server/agent_chat_context_store_test.go
Due: go

fix: AppendBackgroundActivitySummary falls back to empty-summary entry for terminal entries (#1201)
  internal/syspage/embedded/help_scheduled_agents.md
  server/agent_chat_context_store.go
  server/agent_chat_context_store_test.go
Due: go

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
