Repository brendanjerwin/simple_wiki: changes, and which Codecov flags are due for each by the changed paths.
All: javascript, go

Update e2e chat tests for ACP-bound tool-call rendering (#1118)
  e2e/tests/chat-pool-permissions.spec.ts
Due: none

Harden reclaim duration overflow and live-elapsed rendering (review)
  server/agent_turn_job.go
  server/agent_turn_job_internal_test.go
  static/js/web-components/chat-message-bubble.test.ts
  static/js/web-components/chat-message-bubble.ts
Due: javascript, go

Tolerate absent plan in chat bubble (fix e2e scroll spec)
  static/js/web-components/chat-message-bubble.test.ts
  static/js/web-components/chat-message-bubble.ts
Due: javascript

Richer live tool detail + flow-layout finished pills (live feedback)
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  static/js/web-components/chat-message-bubble.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Surface real tool detail from ACP input/content/output; show detail on pills
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  static/js/web-components/chat-message-bubble.test.ts
  static/js/web-components/chat-message-bubble.ts
Due: javascript, go

Add ACP tool-call payload diagnostic logging to the pool bridge
  cmd/wiki-cli/pool.go
Due: go

Decode pi-acp MCP envelope for tool detail; pool self-repair on version mismatch
  cmd/wiki-cli/main.go
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  internal/syspage/embedded/help_chat.md
Due: go

Keep tool name+args as the stable detail across pi-acp completion
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
Due: go

Collapse finished tool calls to just the status icon
  e2e/tests/chat-pool-permissions.spec.ts
  static/js/web-components/chat-message-bubble.test.ts
  static/js/web-components/chat-message-bubble.ts
Due: javascript

Collapsed tool pill: kind glyph primary, status as subtext
  static/js/web-components/chat-message-bubble.test.ts
  static/js/web-components/chat-message-bubble.ts
Due: javascript

Keep the Stop button available for the whole agent turn
  api/proto/api/v1/chat.proto
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  internal/syspage/embedded/help_chat.md
  pkg/chatbuffer/buffer.go
  pkg/chatbuffer/buffer_test.go
  pkg/mcpdocs/decorator_test.go
  static/js/gen/api/v1/chat_pb.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

Scheduler zombie-RUNNING reclaim (#1117) + ACP-bound live chat progress, Stop, and pool self-repair (#1118) (#1122)
  .claude/settings.json
  api/proto/api/v1/chat.proto
  cmd/wiki-cli/main.go
  cmd/wiki-cli/pool.go
  cmd/wiki-cli/pool_test.go
  e2e/tests/chat-pool-permissions.spec.ts
  gen/go/api/v1/apiv1connect/chat.connect.go
  gen/go/api/v1/apiv1mcp/chat.pb.mcp.go
  gen/go/api/v1/chat.pb.go
  gen/go/api/v1/chat_grpc.pb.go
  internal/grpc/api/v1/chat.go
  internal/grpc/api/v1/chat_test.go
  internal/grpc/api/v1/server.go
  internal/grpc/api/v1/server_test.go
  internal/mcp/server_test.go
  internal/syspage/embedded/help.md
  internal/syspage/embedded/help_chat.md
  internal/syspage/embedded/help_scheduled_agents.md
  pkg/chatbuffer/buffer.go
  pkg/chatbuffer/buffer_test.go
  pkg/mcpdocs/decorator_test.go
  server/agent_turn_job.go
  server/agent_turn_job_internal_test.go
  server/agent_turn_job_test.go
  static/js/gen/api/v1/chat_pb.ts
  static/js/web-components/chat-message-bubble.stories.ts
  static/js/web-components/chat-message-bubble.test.ts
  static/js/web-components/chat-message-bubble.ts
  static/js/web-components/page-chat-panel.stories.ts
  static/js/web-components/page-chat-panel.test.ts
  static/js/web-components/page-chat-panel.ts
Due: javascript, go

fix(api): circuit breaker on UpdateWholePage to prevent page wipes (#1126)
  internal/grpc/api/v1/page_management.go
  internal/grpc/api/v1/server_test.go
  internal/syspage/embedded/help_handling_large_pages.md
Due: go

Circuit breaker on UpdateWholePage to prevent page wipes (#1126) (#1133)
  internal/grpc/api/v1/page_management.go
  internal/grpc/api/v1/server_test.go
  internal/syspage/embedded/help_handling_large_pages.md
Due: go

Add anonymized real Rever GPX fixtures for issue 1116
  goals/issue-1116-gps-tracks/fixtures/README.md
  goals/issue-1116-gps-tracks/fixtures/rever-track.gpx
  goals/issue-1116-gps-tracks/fixtures/rever-turn-by-turn-route.gpx
  goals/issue-1116-gps-tracks/plan.md
Due: none

Add goal package for issue 1116 (GPS track overlays & tag layer controls)
  goals/issue-1116-gps-tracks/facts-result.json
  goals/issue-1116-gps-tracks/facts-review.json
  goals/issue-1116-gps-tracks/facts.md
  goals/issue-1116-gps-tracks/facts.meta.json
  goals/issue-1116-gps-tracks/goal.md
  goals/issue-1116-gps-tracks/interview-result.json
  goals/issue-1116-gps-tracks/interview.json
  goals/issue-1116-gps-tracks/plan.md
Due: none

Tighten goal Done condition: verify every fact + execute full plan
  goals/issue-1116-gps-tracks/goal.md
Due: none

Finish GPS track overlays: include_tracks selector, tests, help docs, lint cleanup
  .markdownlint.json
  api/proto/api/v1/map.proto
  gen/go/api/v1/apiv1mcp/map.pb.mcp.go
  gen/go/api/v1/gps_tracks_static.go
  gen/go/api/v1/map.pb.go
  go.mod
  go.sum
  goals/issue-1116-gps-tracks/plan.md
  internal/grpc/api/v1/map.go
  internal/grpc/api/v1/map_grpc_test.go
  internal/syspage/embedded/help_macro_map.md
  internal/trackgeom/trackgeom.go
  internal/trackgeom/trackgeom_stress_test.go
  server/mapmutator/codec.go
  static/js/gen/api/v1/map_pb.ts
  static/js/web-components/wiki-map.test.ts
  static/js/web-components/wiki-map.ts
Due: javascript, go

Polish GPS track + tag control UX
  static/js/web-components/wiki-map.test.ts
  static/js/web-components/wiki-map.ts
Due: javascript

Anchor tag control flush-right (override Leaflet margin specificity)
  static/js/web-components/wiki-map.ts
Due: javascript

Anchor tag control right; panel grows leftward
  static/js/web-components/wiki-map.ts
Due: javascript

Pin tag control to right edge via float:right
  static/js/web-components/wiki-map.ts
Due: javascript

Cache-bust the JS bundle so new builds always load
  server/handlers_web.go
Due: go

Raise tag control above the system-info widget
  static/js/web-components/wiki-map.ts
Due: javascript

Add eslint-disable for unsafe-type-assertion casts in wiki-map
  goals/issue-989-map-macro-mapservice/facts.md
  static/js/web-components/wiki-map.ts
Due: javascript

Relax trackgeom stress-test timing bound to 30s (CI flake)
  goals/issue-1116-gps-tracks/plan.md
  internal/trackgeom/trackgeom_stress_test.go
Due: go

fix: deploy health check retries for up to 60s instead of fixed 5s wait
  deployment/deploy.sh
Due: none

fix: health check follows 301 redirect and accepts Tailscale cert
  deployment/deploy.sh
Due: none

fix: address PR review comments, metrics cycle, connector stuck, test coverage
  api/proto/api/v1/history.proto
  deployment/deploy.sh
  gen/go/api/v1/apiv1mcp/history.pb.mcp.go
  gen/go/api/v1/history.pb.go
  internal/bootstrap/server.go
  internal/connectors/engine/reconcile.go
  internal/connectors/engine/reconcile_test.go
  server/checklistmutator/mutator_test.go
  server/pagestore/decimation.go
  server/pagestore/diff.go
  server/pagestore/history_test.go
  server/pagestore/write.go
  static/js/gen/api/v1/history_pb.ts
Due: javascript, go

fix: address Copilot review on test quality
  server/pagestore/history_test.go
Due: go

fix: address PR review comments, metrics cycle, connector stuck, test coverage (#1144)
  api/proto/api/v1/history.proto
  deployment/deploy.sh
  gen/go/api/v1/apiv1mcp/history.pb.mcp.go
  gen/go/api/v1/history.pb.go
  internal/bootstrap/server.go
  internal/connectors/engine/reconcile.go
  internal/connectors/engine/reconcile_test.go
  server/checklistmutator/mutator_test.go
  server/pagestore/decimation.go
  server/pagestore/diff.go
  server/pagestore/history_test.go
  server/pagestore/write.go
  static/js/gen/api/v1/history_pb.ts
Due: javascript, go

fix: add circuit breaker to connector sync scheduler
  internal/connectors/circuit_breaker.go
  internal/connectors/circuit_breaker_test.go
  internal/connectors/scheduler.go
  internal/connectors/scheduler_test.go
Due: go

fix: add circuit breaker to connector sync scheduler (#1145)
  internal/connectors/circuit_breaker.go
  internal/connectors/circuit_breaker_test.go
  internal/connectors/scheduler.go
  internal/connectors/scheduler_test.go
Due: go

feat: add wiki.history.opt_out frontmatter flag
  internal/syspage/embedded/help_page_history.md
  server/pagestore/history.go
  server/pagestore/history_test.go
  server/pagestore/store.go
Due: go

fix: address review comments on circuit breaker PR
  internal/connectors/circuit_breaker.go
  internal/connectors/circuit_breaker_test.go
  internal/connectors/scheduler.go
  internal/observability/wiki_metrics_recorder.go
Due: go

fix: opt out observability metrics page from history capture
  internal/observability/wiki_metrics_recorder.go
Due: go

Path conditions:
  javascript: any of: static/js/
  go: any of: **/*.go
